{% load i18n %}

<form id='search_form' class='form-inline'>
  <div class='clearfix'>
    <div id='search_form_container'></div>
    <div id='search_form_submit_container'>
      <input type='button' class='form-control btn-primary' id='search_submit' value='{% trans "Search transfer backlog" %}'>
      {% if show_files %}
      <span style='margin-left: 10px'>{% trans "Show files?" %}</span>
      <span style='margin-left: 5px'><input id='id_show_files' type='checkbox' /></span>
      {% else %}
      <span style='margin-left: 10px'>Show metadata &amp; logs directories?</span>
      <span style='margin-left: 5px'><input id='id_show_metadata_logs' type='checkbox' checked/></span>
      {% endif %}
    </div>
  </div>
</form>
