{% load url from future %}
<div id='search-summary'>
  <div style='float:right;'>
    {% if page %}
      <a href='{% url 'components.ingest.views.transfer_backlog' %}?{{ search_params }}&page={{ previous_page }}'>Previous</a>
    {% endif %}

    {% if page and next_page %}
      |
    {% endif %}

    {% if next_page %}
      <a href='{% url 'components.ingest.views.transfer_backlog' %}?{{ search_params }}&page={{ next_page }}'>Next</a>
    {% endif %}
  </div>

  <strong>Found {{ number_of_results }} results.</strong>
  {% if number_of_results > 0 %}
    <strong>Showing {{start}} to {{end}}.</strong>
  {% endif %}
</div>
