{% extends "layout_fluid.html" %}
{% load breadcumbs %}
{% load keyvalue %}

{% block title %}Transfer backlog{% endblock %}
{% block h1 %}Transfer backlog{% endblock %}
{% block page_id %}transfer-backlog{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/archival_storage/advanced-search-query-creator.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/ingest/backlog.js"></script>
{% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/archival_storage.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

  <ul class="breadcrumb">
    {% breadcrumb_url 'Ingest' components.ingest.views.ingest_grid %}
    {% breadcrumb 'Search' %}
  </ul>

  {% include "ingest/backlog/_search_form.html" %}

  {% if results %}
    {% include "ingest/backlog/_search_summary.html" %}

    <div style='width: 80px; float: left; padding: 10px; margin-right: 10px; background-color: #eee;'>
    {% for term_usage in file_extension_usage %}
      <a href='javascript:window.location = window.location + "&op=and&query={{ term_usage.term }}&&field=fileExtension&type=";'>{{ term_usage.term }}</a> ({{ term_usage.count }})<br/>
    {% endfor %}
    </div>

    <div style='float: left'>

    {% if not file_mode %}

      <table>
      {% for term_usage in transfer_uuids %}
        <tr>
          <td>{{ term_usage.name }}</td>
          <td>{{ term_usage.term }}</td>
          <td>{{ term_usage.type }}</td>
          <td>{{ term_usage.count }} files</td>
          <td>
            {% if awaiting_creation|keyvalue:term_usage.term %}
              <a href='/ingest/backlog/process/{{ term_usage.term }}/' target='_blank' class='creation btn'>Create SIP</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>

    {% else %}

      <br clear='all' />

      <div class='aip-search-item'>
        <div class='aip-search-item-file-column-header'>File(s)</div>
        <div class='aip-search-item-aip-column-header'>Transfer(s)</div>
      </div>

      {% for item in results %}
        <div class='aip-search-item'>

          <div class='aip-search-item-file-column'>
            <div><a href="{% url components.ingest.views.transfer_file_download item.fileuuid %}">{{ item.filename }}</a></div>
          </div>

          <div class='aip-search-item-aip-column'>
            <div>{{item.sipuuid}}
            {% if item.accessionid != '' %}
              (Accession {{ item.accessionid }})
            {% endif %}
            </div>
            {% if item.awaiting_creation %}
              <a href='/ingest/backlog/process/{{ item.sipuuid }}/' target='_blank' class='creation btn'>Create SIP</a>
            {% endif %}
          </div>

        </div>

        <br clear='all' />
      {% endfor %}

    {% endif %}
    </div>

    <div style='clear: both'>
    {% include "ingest/backlog/_search_summary.html" %}
    </div>

  {% else %}
    <div id='aip-search-summary'>No results, please try another search.</div>
  {% endif %}

{% endblock %}
