{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load keyvalue %}
{% load url from future %}

{% block title %}Transfer backlog{% endblock %}
{% block h1 %}Transfer backlog{% endblock %}
{% block page_id %}transfer-backlog{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/advanced-search-query-creator.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/ingest/backlog.js"></script>
  <script>
  $(document).ready(function() {
    renderBacklogSearchForm();
  });
  </script>
{% endblock %}

{% block extra_css %}
  <link href="{{ STATIC_URL }}css/search.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

  <ul class="breadcrumb">
    {% breadcrumb_url 'Ingest' 'components.ingest.views.ingest_grid' %}
    {% breadcrumb 'Search' %}
  </ul>

  {% include "ingest/backlog/_search_form.html" %}

  {% if results %}
    {% include "ingest/backlog/_search_summary.html" %}

    <!--
    {% if file_extension_usage|length > 0 %}
    <div style='width: 80px; float: left; padding: 10px; margin-right: 10px; background-color: #eee;'>
    {% for term_usage in file_extension_usage %}
      <a href='javascript:window.location = window.location + "&op=and&query={{ term_usage.term }}&&field=fileExtension&type=";'>{{ term_usage.term }}</a> ({{ term_usage.count }})<br/>
    {% endfor %}
    </div>
    {% endif %}
    -->

    {% if not file_mode %}

      {% if transfer_uuids|length > 0 %}

      <table>
        <thead>
          <th>
            <div>Name</div>
          </th>
          <th>
            <div>UUID</div>
          </th>
          <th>
            <div>Accession</div>
          </th>
          <th>
            <div>Files</div>
          </th>
          <th>
            <div>Logs</div>
          </th>
          <th>
            <div>Ingested?</div>
          </th>
        </thead>
        <tbody>
        {% for term_usage in transfer_uuids %}
          <tr>
            <td>{{ term_usage.name }}</td>
            <td>{{ term_usage.term }}</td>
            <td>{{ term_usage.accession }}</td>
            <td>{{ term_usage.count }} files</td>
            <td><a href='/ingest/preview/logs/{{ term_usage.term }}/' target='_blank'>View logs</a></td>
            <td>
              {% if awaiting_creation|keyvalue:term_usage.term %}
                <a href='/ingest/backlog/process/{{ term_usage.term }}/' target='_blank' class='creation btn'>Create SIP</a>
              {% else %}
                Yes
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {% else %}

        <p>No results.</p>

      {% endif %}

    {% else %}

      <table>
        <thead>
          <th>
            <div>File</div>
          </th>
          <th>
            <div>Transfer UUID</div>
          </th>
          <th>
            <div>Accession</div>
          </th>
          <!--
          <th>
            <div>Created?</div>
          </th>
          -->
        </thead>
        <tbody>
        {% for item in results %}
          <tr>
            <td>
              <div><a href="{% url 'components.ingest.views.transfer_file_download' item.fileuuid %}">{{ item.filename }}</a></div>
            </td>
            <td>
              <div>{{item.sipuuid}}</div>
            </td>
            <td>
              {% if item.accessionid != None %}
                (Accession {{ item.accessionid }})
              {% endif %}
              </div>
            </td>
            <!--
            <td>
              {% if item.awaiting_creation %}
                <a href='/ingest/backlog/process/{{ item.sipuuid }}/' target='_blank' class='creation btn'>Create SIP</a>
              {% endif %}
            </td>
            -->
          </tr>
        {% endfor %}
        </tbody>
      </table>

    {% endif %}

    <div style='clear: both'>
    {% include "ingest/backlog/_search_summary.html" %}
    </div>

  {% else %}
    <div id='search-summary'>No results, please try another search.</div>
  {% endif %}

{% endblock %}
