{% extends "layout_fluid.html" %}
<!-- {% load breadcrumb %} -->
{% load i18n %}
{% load static %}

{% block title %}{% trans "Archival storage" %}{% endblock %}
{% block h1 %}{% trans "Archival storage" %}{% endblock %}
{% block page_id %}archival-storage{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/datatables/js/dataTables.buttons.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/datatables/js/buttons.bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/datatables/js/buttons.colVis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/advanced-search-query-creator.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/archival_storage/archival_storage_search.js' %}"></script>
{% endblock %}

{% block extra_css %}
  <link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/archival_storage.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'vendor/datatables/css/jquery.dataTables.css' %}" rel="stylesheet" />
  <link href="{% static 'vendor/datatables/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  {% if search_aips_enabled %}

    <ul class="breadcrumb">
      {% trans "Archival storage" as archival_storage_label %}
      {% trans "Search" as search_label %}
      {% breadcrumb_url archival_storage_label 'archival_storage:archival_storage_index' %}
      {% breadcrumb search_label %}
    </ul>

    {% include "archival_storage/_archival_storage_search_form.html" %}

      <h1>
        {% trans "Browse archival storage" %}<br/>
        <small>

          {% blocktrans with size=total_size %}
            Total size: {{ size }}
          {% endblocktrans %}

          {% if aip_indexed_file_count %}
            |
            {% blocktrans with count=aip_indexed_file_count %}
              Files indexed: {{ count }}
            {% endblocktrans %}
          {% endif %}

        </small>
      </h1>

    <button
      id="create-aic-btn"
      class="btn btn-primary"
      title="{% trans 'Create an AIC from current search results' %}">
      {% trans "Create an AIC" %}
    </button>

    <a id="download-csv-btn" class="btn btn-default fa-download fa"
      title="{% trans 'Download all results from archival storage as a CSV (Comma-separated-values) table' %}">
      <span class="button-text-span">{% trans "Download CSV" %}</span>
    </a>

    <table id="archival-storage-entries">
    </table>

  {% else %}

    <h1>{% trans "Elasticsearch Indexing Disabled" %}</h1>
    <p class="es-indexing-disabled">{% trans "Sorry, Elasticsearch indexing has been disabled for the AIPs related indexes in this Archivematica installation. The archival storage tab is non-functional when indexing is turned off." %}</p>

  {% endif %}

{% endblock %}
