show_button_icon=true
show_button_label=true
label=Places
show_icons=true
show_volumes=true
mount_open_volumes=true
show_bookmarks=true
show_recent=true
show_recent_clear=true
show_recent_number=10
search_cmd=catfish

