{% extends "layout.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Welcome" %}{% endblock %}
{% block h1 %}{% trans "Welcome" %}{% endblock %}
{% block page_id %}welcome{% endblock %}

{% block extra_css %}
  <style type="text/css">

    .form-stacked {
      padding-left: 0;
    }

    .well {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    #id_org_identifier + span {
      margin-bottom: 2em;
    }

  </style>
{% endblock %}

{% block content %}


<script type="text/javascript">

  var local_i18n_labels = {
    'continue': '{% trans "Continue" %}',
    'register_ongoing': '{% trans "Registering new Archivematica installation..." %}',
    'register_ok': '{% trans "Successfully registered with FPR Server." %}',
    'register_error': '{% trans "Unable to register with the FPR Server" %}',
    'update_ongoing': '{% trans "Updating format policy rules ..." %}',
    'update_error': '{% trans "Unable to update FPR. You will not be able to get updated format policy rules until it is possible to connect to the FPR Server." %}',
    'update_fail': '{% trans "Request error:" %}',
    'update_done': '{% trans "Attempt completed." %}',
  }

     function AddElement(){
        var theNewElem = document.createElement('input');
        theNewElem.setAttribute('type','submit');
        theNewElem.setAttribute('value',local_i18n_labels['continue']);
        theNewElem.setAttribute('class','form-control btn btn-primary');
        document.getElementById('FormHere').appendChild(theNewElem);
      }

    $(document).ready(function () {
        $("div#fpr").append("<p>" + local_i18n_labels['register_ongoing'] + "</p> ");
        $.get("installer/fprupload/", function(data, textStatus)
        {
          if (data['result'] == 'success') {
              $("div#fpr").append("<p>" + local_i18n_labels['register_ok'] + "</p>");
          } else {
              $("div#fpr").append("<p>" + local_i18n_labels['register_error'] + "</p>");
          }
          moreStuff();
        }, "json");
});

function moreStuff() {
    $("div#fpr").append("<p>" + local_i18n_labels['update_ongoing'] + "</p>");
    $.getJSON("installer/fprdownload/", function(data, textStatus)
        {
            if (data['result'] == 'success') {
                $("div#fpr").append("<p>" + data['response'] + "</p>");
            } else {
                $("div#fpr").append("<p>" + local_i18n_labels['update_error'] + "</p>");
            }
        })
        .done(function() {
          $("div#fpr").append("<p>" + local_i18n_labels['update_done'] + "</p>");
        })
        .fail(function(jqxhr, textStatus, error) {
            $("div#fpr").append("<p>" + local_i18n_labels['update_fail'] + "</p>");
            $("div#fpr").append("<p>"+ error + " : " + jqxhr +"</p>");
            $("div#fpr").append("<p>"+textStatus+ "</p>");

            })
        .always(function() {
        	AddElement();
        	});
}

</script>
  <div class="row">

    <div class="col-md-7 col-md-offset-2">

      <img src="{% static 'images/logo_welcome.gif' %}" style="margin-bottom: 20px;" />

      <div id="fpr" class="well">
        <p>{% trans "Now connecting to the FPR Server." %}</p>
      </div>

    <form name="test" method="POST">
      <div id="FormHere"></div>
    </form>
    </div>

  </div>

{% endblock %}
