{% extends "layout.html" %}

{% block title %}Welcome{% endblock %}
{% block h1 %}Welcome{% endblock %}
{% block page_id %}welcome{% endblock %}

{% block extra_css %}
  <style type="text/css">

    .form-stacked {
      padding-left: 0;
    }

    .well {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    #id_org_identifier + span {
      margin-bottom: 2em;
    }

  </style>
{% endblock %}

{% block content %}


<script type="text/javascript">
     function AddElement(){  
        var theNewElem = document.createElement('input');  
        theNewElem.setAttribute('type','submit');  
        theNewElem.setAttribute('value','continue');  
        document.getElementById('FormHere').appendChild(theNewElem);   
      }  

    $(document).ready(function () {
        $("div#fpr").append("<p>Registering new Archivematica installation ...</p> ");
        $.get("installer/fprupload/", function(data, textStatus)
        {
          if (data['result'] == 'success') {
              $("div#fpr").append("<p>Successfully registered with FPR Server.</p>");
          } else {
              $("div#fpr").append("<p>Unable to register with the FPR Server.</p>");
          }
          moreStuff();
        }, "json");
});

function moreStuff() {
    $("div#fpr").append("<p>Updating format policy rules . . .</p>");
    $.getJSON("installer/fprdownload/", function(data, textStatus)
        {
            if (data['result'] == 'success') {
                $("div#fpr").append("<p>" + data['response'] + "</p>");
            } else {
                $("div#fpr").append("<p>Unable to update FPR.  You will not be able to get updated format policy rules until it is possible to connect to the FPR Server.</p>");
            }
        })
        .done(function() {
          $("div#fpr").append("<p>Attempt completed.</p>");
        })
        .fail(function(jqxhr, textStatus, error) {
            $("div#fpr").append("<p>Request error:</p>");
            $("div#fpr").append("<p>"+ error + " : " + jqxhr +"</p>");
            $("div#fpr").append("<p>"+textStatus+ "</p>");
            
            })
        .always(function() { 
        	AddElement();
        	});
}

</script>
  <div class="row">

    <div class="span9 offset2">

      <img src="{{ STATIC_URL }}images/logo_welcome.gif" style="margin-bottom: 20px;" />

      <div id="fpr" class="well">
          <p>Now connecting to the FPR Server.</p>
      </div>

<form name="test" method="POST">  
      <div id="FormHere"></div>  
    </form>  
    </div>

  </div>

{% endblock %}
