{% extends "layout.html" %}
{% load bootstrap_tags %}
{% load static %}

{% block title %}Welcome{% endblock %}
{% block h1 %}Welcome{% endblock %}
{% block page_id %}welcome{% endblock %}

{% block extra_css %}
  <style type="text/css">
    .submit {
      margin-bottom: 1em;
    }
  </style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-7 col-md-offset-2">
    <img src="{% static 'images/logo_welcome.gif' %}" style="margin-bottom: 20px;" />

    <form action="#" method="POST">
      <div id="storage" class="well">
        <p>
          <label>Dashboard UUID:</label>
          <p><code>{{ dashboard_uuid }}</code></p>
        </p>

        {{ storage_form|as_bootstrap }}

      </div>
      <input class="submit form-control btn btn-primary" type="submit" name="use_default" value="Register with the storage service &amp; use default configuration." />
      <input class="submit form-control btn btn-default" type="submit" name="configure" value="Register with the storage service &amp; set up custom configuration." onclick="window.open($('#id_storage_service_url').val());" />
    </form>
  </div>
</div>

{% endblock %}
