{% extends "layout.html" %}
{% load bootstrap_tags %}
{% load i18n %}
{% load static %}

{% block title %}Welcome{% endblock %}
{% block h1 %}Welcome{% endblock %}
{% block page_id %}welcome{% endblock %}

{% block extra_css %}
  <style type="text/css">
    .submit {
      margin-bottom: 1em;
    }
  </style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-7 col-md-offset-2">
    <img src="{% static 'images/logo_welcome.gif' %}" style="margin-bottom: 20px;" />

    <form action="#" method="POST">
      {% csrf_token %}

      <h4>{% trans "Register this pipeline in the Storage Service" %}</h4>

      <div id="storage" class="well">

        <p>
          <label>{% trans "Dashboard UUID" %}:</label>
          <br />
          <mark>{{ dashboard_uuid }}</mark></p>
        </p>

        {{ storage_form|as_bootstrap }}

      </div>

      <input class="submit form-control btn btn-primary" type="submit" value="{% trans 'Register' %}"/>

    </form>
  </div>
</div>

{% endblock %}
