{% extends "layout.html" %}
{% load webdesign %}

{% block title %}{% endblock %}
{% block h1 %}{% endblock %}
{% block page_id %}{% endblock %}

{% block content %}

  <div class="hero-unit">
    <h1>Welcome to Archivematica!</h1>
    <p>An ingest to access OAIS-compliant digital preservation system</p>
  </div>

  <div class="row">
    <div class="span6">
      <h2>Transfer</h2>
      <p>The user transfers digital files into the repository. Archivematica verifies the transfer, unpacks any zipped files, assigns file UUIDs and checksums, runs a virus check, characterizes and extracts metadata, and generates a METS file showing the physical arrangement of the transfer. The user can then choose among multiple options for arranging the transfer into one or more Submission Information Packages (SIPs). <a class="" href="{% url main.views.transfer_grid %}">Go &raquo;</a></p>
    </div>
    <div class="span5">
      <h2>Ingest</h2>
      <p>The user arranges the transfer into SIPs. The user can delete, re-arrange and rename files if desired, and enter descriptive and rights metadata. Archivematica normalizes files to preservation formats, generates access copies to form a Dissemination Information Package (DIP), generates a METS/PREMIS file, and bags and compresses the Archival Information Package (AIP). <a class="" href="{% url main.views.ingest_grid %}">Go &raquo;</a></p>
    </div>
    <div class="span5">
      <h2>Archival storage</h2>
      <p>The user moves the Archival Information Package (AIP) into archival storage. Archivematica's archival storage tab is used to browse and retrieve AIPs, which can be sorted by AIP name, size, UUID or date stored. The size column shows the compressed size of each AIP and total size at the bottom of the column. The user clicks on an AIP link to download the zipped AIP. <a class="" href="{% url main.views.archival_storage %}">Go &raquo;</a></p>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="span6">
      <h2>Preservation planning</h2>
      <p>Archivematica implements media-type preservation plans by launching default normalization paths for different file types: audio, video, image, email and office documents. The preservation planning tab shows all the normalization paths and contains links to the Archivematica wiki page for each media type. <a class="" href="{% url main.views.preservation_planning %}">Go &raquo;</a></p>
    </div>
    <div class="span5">
      <h2>Access</h2>
      <p>During ingest, Archivematica optionally creates a Dissemination Information Package (DIP) for upload into an access system. Archivematica comes bundled with a default access system called ICA-AtoM, which supports hierarchical archival description and digital object display. The access tab in the dashboard links Archival Information Packages to the uploaded Dissemination Information Packages. <a class="" href="{% url main.views.access_list %}">Go &raquo;</a></p>
    </div>
    <div class="span5">
      <h2>Administration</h2>
      <p>The administration tab, which is still under development, is designed to assist the user to edit settings, workflows and micro-services. Currently the administration tab can be used to edit settings for uploading Dissemination Information Packages (DIPs) to the access system. <a class="" href="{% url main.views.administration %}">Go &raquo;</a></p>
    </div>
  </div>

{% endblock %}
