{% load active %}
{% load i18n %}
{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{% trans "Archivematica Dashboard" %} - {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link href="{% static 'vendor/jquery-ui/jquery-ui.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'vendor/twitter-bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    {% block extra_css %}{% endblock %}
    <script src="{% url 'javascript-catalog' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery-ui/jquery-ui.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery.idle-timer.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/underscore.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/backbone.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/twitter-bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/status.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/misc.js' %}" type="text/javascript"></script>
    {% block js %}{% endblock %}
    {% get_current_language as LANGUAGE_CODE %}
    <script type="text/javascript">
      window.DashboarConfig = {
        'currentLanguage': '{{ LANGUAGE_CODE }}'
      };
    </script>
  </head>
  <body id="page-{% block page_id %}default{% endblock %}">

    {% block header %}

      <div class="topbar">
        <div class="topbar-inner">
          <div class="container-fluid">

            <a class="navbar-brand" href="{% url 'main.views.home' %}">
              <img alt="Archivematica" src="{% static 'images/logo_header.png' %}"></a>
            </a>

            {% url 'main.views.home' as url_home %}
            {% url 'components.transfer.views.grid' as url_transfer %}
            {% url 'components.backlog.views.execute' as url_backlog %}
            {% url 'components.appraisal.views.appraisal' as url_appraisal %}
            {% url 'components.ingest.views.ingest_grid' as url_ingest %}
            {% url 'components.archival_storage.views.overview' as url_archival_storage %}
            {% url 'fpr_index' as url_fpr %}
            {% url 'main.views.access_list' as url_access %}
            {% url 'components.administration.views.administration' as url_administration %}

            <ul class="nav navbar-nav">

              <li class="{% active request url_transfer %}"><a href="{{ url_transfer }}">{% trans "Transfer" %}</a></li>
              <li class="{% active request url_backlog %}"><a href="{{ url_backlog }}">{% trans "Backlog" %}</a></li>
              <li class="{% active request url_appraisal %}"><a href="{{ url_appraisal }}">{% trans "Appraisal" %}</a></li>
              <li class="{% active request url_ingest %}"><a href="{{ url_ingest }}">{% trans "Ingest" %}</a></li>
              <li class="{% active request url_archival_storage %}"><a href="{{ url_archival_storage }}">{% trans "Archival storage" %}</a></li>
              <li class="{% active request url_fpr %}"><a href="{{ url_fpr }}">{% trans "Preservation planning" %}</a></li>
              <li class="{% active request url_access %}"><a href="{{ url_access }}">{% trans "Access" %}</a></li>
              <li class="{% active request url_administration %}"><a href="{{ url_administration }}">{% trans "Administration" %}</a></li>

              {% if user.is_authenticated %}
                <li class="user dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" id="dropdownUser" aria-haspopup="true">
                    {{ request.user }} <div class="caret"></div>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownUser">
                    <li><a href="{% url 'components.accounts.views.edit' %}">{% trans "Your profile" %}</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'django.contrib.auth.views.logout_then_login' %}">{% trans "Log out" %}</a></li>
                  </ul>
                </li>
              {% endif %}

            </ul>

            {% block topbar %}{% endblock %}

          </div>
        </div>
      </div>

    {% endblock %}

    {% block body %}

      <div class="container">

        <div class="content">
          {% include "_messages.html" %}

          {% block content %}{% endblock %}

        </div>

      </div>

    {% endblock %}

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
