[Unit]
Description=Archivematica MCP Server Service
After=syslog.target network.target

[Service]
Type=simple
User=archivematica
EnvironmentFile=/etc/default//archivematica-mcp-server
ExecStart=/usr/share/python/archivematica-mcp-server/bin/python /usr/lib/archivematica/MCPServer/archivematicaMCP.py

[Install]
WantedBy=multi-user.target

