Source: archivematica-mcp-server
Section: utils
Priority: extra
Maintainer: Austin Trask <austin@artefactual.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://archivematica.org

Package: archivematica-mcp-server
Architecture: i386 amd64 
Depends:
	${shlibs:Depends},
	${misc:Depends},
	archivematica-common,
	archivematica-dashboard(>=1.2.0),
	dbconfig-common,
	logapp,
	mysql-server,
	python-pyinotify,
	python-gearman,
	python-mysqldb,
	python-lxml,
	gearman,
	uuid
Description: MCP Server for Archivematica
  Workflow manager for Archivematica 
  
