Source: archivematica-mcp-server
Section: utils
Priority: extra
Maintainer: Artefactual Systems Inc. <sysadmin@artefactual.com>
Build-Depends:
  debhelper (>= 9),
  dh-exec
Standards-Version: 3.9.5
X-Python-Version: 2.7
Homepage: http://archivematica.org

Package: archivematica-mcp-server
Architecture: i386 amd64
Depends:
	${shlibs:Depends},
	${misc:Depends},
	archivematica-common,
	dbconfig-common,
	mysql-server,
	python-pyinotify,
	python-gearman,
	python-mysqldb,
	python-lxml,
	gearman,
	uuid
Description: MCP Server for Archivematica
  Workflow manager for Archivematica
