Source: archivematica-mcp-server
Section: utils
Priority: extra
Maintainer: Austin Trask <austin@artefactual.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://archivematica.org

Package: archivematica-mcp-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dbconfig-common, logapp, mysql-server, python-pyinotify, python-gearman, python-mysqldb, python-lxml, gearman, uuid, archivematica-common
Description: MCP Server for Archivematica
  Enter long description
  
