{% extends "layout.html" %}
{% load i18n %}

{% block header %}{% endblock %}

{% block content %}

  <div id="login">

    <h1><a href="http://www.archivematica.org">Archivematica</a></h1>

    <form class="form-stacked" method="post" action="{% url 'accounts:login' %}">

      {% csrf_token %}

      <div class="fields">
        {% include "_form.html" %}
      </div>

      <div class="actions">
        <a id="forgot-password" style="display: none;" href="{% url 'accounts:login' %}">{% trans "Forgot your password?" %}</a>
        <button class="btn btn-primary" type="submit">{% trans "Log in" %}</button>
      </div>

    </form>

    {% if oidc_enabled %}
      <p>
        <a href="{% url 'oidc_authentication_init' %}">Log in with OpenID Connect</a>
      </p>
    {% endif %}
  </div>

{% endblock %}
