{% load i18n %}
<p>{% trans "Make sure to copy the API key now as you will not be able to see it again." %}</p>
<br>
{% trans 'Copy' as label_copy %}
{% trans 'Copied!' as label_copied %}
<div class="input-group">
  <span class="input-group-btn">
    <button id="copy-api-key-button" class="btn btn-default" style="height: 34px; line-height: 1;"
        type="button"
        title="{{ label_copy }}"
        data-original-label="{{ label_copy }}"
        data-clicked-label="{{ label_copied }}">
        <span id="copy-button-icon" class="glyphicon glyphicon-copy" data-icon-original-class="glyphicon-copy" data-icon-clicked-class="glyphicon-ok"></span>
    </button>
  </span>
  <input type="text" id="api-key" value="{{ key }}" class="form-control" disabled style="cursor: default; height: 34px;">
</div>
<script>
  // Set up the button which allows users to copy the API key to the clipboard.
  $('#copy-api-key-button').tooltip().click(function () {
    var button = $(this);
    navigator.clipboard.writeText($('#api-key').val()).then(function () {
      var button_icon = $('#copy-button-icon');
      var icon_original_class = button_icon.data('icon-original-class');
      var icon_clicked_class = button_icon.data('icon-clicked-class');

      // Update the button icon.
      button_icon.removeClass(icon_original_class).addClass(icon_clicked_class).css('color', 'green');

      // Update the button tooltip.
      button.tooltip('option', 'content', button.data('clicked-label')).tooltip('open');

      // Reset the button after 2 seconds.
      setTimeout(function () {
        button_icon.removeClass(icon_clicked_class).addClass(icon_original_class).css('color', '');
        button.tooltip('option', 'content', button.data('original-label')).tooltip('close');
      }, 2000);
    }).catch(function (err) {
      console.error('Failed to copy API key to clipboard: ', err);
    });
  });
</script>
