{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Administration" %}{% endblock %}
{% block h1 %}{% trans "Administration" %}{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/administration/atom_levels_of_description.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <div style="float: right">
        <a onClick="fetchAtomLevelsOfDescription('{% url 'api:fetch_atom_lods' %}')" class="btn btn-default">{% trans "Fetch from AtoM" %}</a>
      </div>

      <h3>{% trans "AtoM Levels of Description" %}</h3>

      {% if levels %}
        <form id="level_form" method="POST">
        {% csrf_token %}
        <input id="level_operation" name="operation" type="hidden" />
        <input id="level_id" name="id" type="hidden" />
        <table class="table">
          <thead>
            <th>{% trans "Name" %}</th>
            <th></th>
          </thead>
          <tbody>
            {% for level in levels %}
                <tr>
                <td>{{ level.name }}</td>
                <td>
                  <a onClick="deleteLevel('{{ level.id }}')" href="#"><img src="{% static 'images/delete.png' %}" alt="{% trans 'Delete' %}" title="{% trans 'Delete' %}" /></a>
                  <a onClick="promoteLevel('{{ level.id }}')" href="#"><img src="{% static 'images/bullet_arrow_up.png' %}" alt="{% trans 'Promote' %}" title="{% trans 'Promote' %}" {% if level.sortorder == sortorder_min %}style="visibility: hidden"{% endif %}/></a>
                  {% if level.sortorder != sortorder_max %}<a onClick="demoteLevel('{{ level.id }}')" href="#"><img src="{% static 'images/bullet_arrow_down.png' %}" alt="{% trans 'Demote' %}" title="{% trans 'Demote' %}" /></a>{% endif %}
                </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        </form>
      {% else %}
        {% trans "No levels found." %}
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
