{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load url from future %}

{% block title %}Administration{% endblock %}
{% block h1 %}Administration{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block extra_css %}
  <style type="text/css">

    td.option {
      white-space: nowrap;
    }

  </style>
{% endblock %}

{% block content %}

  <div class="row">

  {% include "administration/sidebar.html" %}

  <div class="span12">

    <form class="form-stacked" method="post" action="{% url 'components.administration.views.contentdm_dips' %}">

    <h3>CONTENTdm DIP upload</h3>

    <div style='margin-bottom: 20px'>

      <p>The arguments below are passed to a Python script called upload-contentDM.py. Please note that some arguments are mandatory:</p>

      <table class="bordered-table">
        <thead>
          <tr>
            <th>Option</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="option"><code>%ContentdmServer%</code></td>
            <td><span class="label important">Required</span></td>
            <td>Hostname or IP address of CONTENTdm server.</td>
          </tr>
          <tr>
            <td class="option"><code>%ContentdmUser%</code></td>
            <td><span class="label">Optional</span></td>
            <td></td>
          </tr>
          <tr>
            <td class="option"><code>%ContentdmGroup%</code></td>
            <td><span class="label">Optional</span></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <p><strong>Example configuration:</strong></p>
      <pre>{"%ContentdmServer%": "http://142.103.160.77:81/dmwebservices/index.php"}</pre>
    </div>

    {% include "_formset.html" with formset=formset %}

    {{ add_form }}

    <div class="actions">
      <button type="submit" class="btn primary">Save</button>
    </div>

  </form>

</div>

{% endblock %}
