{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block title %}{% trans "Administration" %}{% endblock %}
{% block h1 %}{% trans "Administration" %}{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block extra_css %}
  <style type="text/css">

    td.option {
      white-space: nowrap;
    }

  </style>
{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      {% url 'administration:atom_levels_of_description' as url_atom_levels_of_description %}

      <div style="float: right">
        <a href="{{ url_atom_levels_of_description }}" class="btn btn-default">{% trans "Levels of Description" %}</a>
      </div>

      <form class="form-stacked" method="post" action="{% url 'administration:dips_atom_index' %}">
        {% csrf_token %}

        <h3>{% trans "AtoM/Binder DIP upload" %}</h3>

        <p>{% trans "The settings below configure DIP uploading to AtoM/Binder." %}</p>

        {% include "_form.html" %}

        <div class="actions">
          <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary" />
        </div>

      </form>

    </div>

  </div>

</div>

{% endblock %}
