{% extends "layout_fluid.html" %}
{% load breadcumbs %}

{% block title %}Administration{% endblock %}
{% block h1 %}Administration{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block css %}
  <style type="text/css">

    td.option {
      white-space: nowrap;
    }

  </style>
{% endblock %}

{% block content %}

  <div class="row">

  {% include "administration/sidebar.html" %}

  <div class="span12">

    <form class="form-stacked" method="post" action="{% url components.administration.views.administration_contentdm_dips %}">

    <h3>ContentDM DIP upload</h3>

    <div style='margin-bottom: 20px'>

      <p>The arguments below are passed to a Python script called upload-qubit.py. Please note that some arguments are mandatory:</p>

      <table class="bordered-table">
        <thead>
          <tr>
            <th>Option</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="option">%ContentdmServer%</td>
            <td><span class="label important">Required</span></td>
            <td>Hostname or IP address of ContentDM server.</td>
          </tr>
        </tbody>
      </table>

      <p><strong>Example configuration:</strong></p>
      <pre>{"%ContentdmServer%": "142.103.160.77"}</pre>
    </div>

    {% if request.method == 'POST' %}
      {% if valid_submission %}
        <div class="alert-message success">
          <p><strong>Saved!</p>
        </div>
      {% else %}
        <div class="alert-message error">
          <p>An error has occurred.</p>
        </div>
      {% endif %}
    {% endif %}

    {% include "_formset.html" with formset=formset %}

    {{ add_form }}

    <div class="actions">
      <button type="submit" class="btn primary">Save</button>
    </div>

  </form>

</div>

{% endblock %}
