{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block title %}{% trans "Administration" %}{% endblock %}
{% block h1 %}{% trans "Administration" %}{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <div style='margin-top: 10px; padding: 5px 15px 5px 15px; float:right; background-color: #eee;'>
        <p>
          {% blocktrans with uuid=dashboard_uuid %}
            <b>Dashboard UUID</b> {{ uuid }}
          {% endblocktrans %}
        </p>
      </div>

      <h3>{% trans "General configuration" %}</h3>

      <form method='POST'>

        <h4>{% trans "Storage Service options" %}</h4>

        {% include "_form.html" with form=storage_form %}

        <h4>{% trans "Checksum algorithm" %}</h4>

        {% include "_form.html" with form=checksum_form %}

        <h4>Elasticsearch Indexing</h4>

        {% if disable_search_indexing %}
          <p class="es-indexing-configuration">Elasticsearch indexing has been disabled in this Archivematica installation</p>
        {% else %}
          <p class="es-indexing-configuration">Elasticsearch indexing is enabled in this Archivematica installation</p>
        {% endif %}

        <div>
          <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary">
        </div>

      </form>

    </div>

  </div>

</div>

{% endblock %}
