{% extends "layout_fluid.html" %}
{% load breadcrumb %}

{% block title %}Administration{% endblock %}
{% block h1 %}Administration{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <div style='margin-top: 10px; padding: 5px 15px 5px 15px; float:right; background-color: #eee;'>
        <p><b>Dashboard UUID</b> {{ dashboard_uuid }}</p>
      </div>

      <h3>General configuration</h3>

      <form method='POST'>
        <h4>Storage Service options</h4>

        {% include "_form.html" with form=storage_form %}

        <h4>Checksum algorithm</h4>

        {% include "_form.html" with form=checksum_form %}

        <div>
          <input type="submit" value="Save" class="btn btn-primary">
        </div>

      </form>

    </div>

  </div>

</div>

{% endblock %}
