{% extends "layout_fluid.html" %}
{% load breadcrumb %}

{% block title %}Administration{% endblock %}
{% block h1 %}Administration{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <h3>PREMIS agent</h3>

      <form method='POST'>
      {% include "_form.html" %}
        <div>
          <input type='submit' value='Save' class='btn btn-primary' />
        </div>
      </form>

    </div>

  </div>

</div>

{% endblock %}
