{% extends "layout_fluid.html" %}
{% load i18n %}

{% block title %}{% trans "Administration" %}{% endblock %}
{% block h1 %}{% trans "Administration" %}{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <h3>{% trans "Processing configuration" %}</h3>

      <table class="table">
        {% for item in files %}
        <tr>
          <td>
            <span title="{{ item.2 }}">{{ item.1 }}</attr>
          </td>
          <td>
            <a class="btn btn-default btn-sm" href="{% url 'administration:processing_edit' item.1 %}">{% trans "Edit" %}</a>
            <a class="btn btn-default btn-sm" href="{% url 'administration:processing_download' item.1 %}">{% trans "Download" %}</a>
            {% if item.1 == "default" or item.1 == 'automated' %}
              <a class="btn btn-default btn-sm" title="Reset to original values" href="{% url 'administration:processing_reset' item.1 %}">{% trans "Reset" %}</a>
            {% endif %}
            {% if item.1 != "default" and item.1 != 'automated' %}
              <a class="btn btn-danger btn-sm" href="{% url 'administration:processing_delete' item.1 %}">{% trans "Delete" %}</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>

      {% if not files %}
        <div class="alert alert-info">
          <p>{% trans "No processing configuration file found (*ProcessingMCP.xml)." %}</p>
        </div>
      {% endif %}

      {% if ignored %}
        <hr />
        <div>
          <p>{% trans "The following files are being ignored because they don't meet the requirements." %}</p>
          <ul>
            {% for item in ignored %}
            <li>{{ item.0 }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="form-stacked actions">
        <a class="btn btn-primary" href="{% url 'administration:processing_add' %}">{% trans "Add" %}</a>
      </div>

    </div>

  </div>

</span>

{% endblock %}
