{% extends "layout_fluid.html" %}
{% load breadcumbs %}
{% load keyvalue %}

{% block title %}Administration{% endblock %}
{% block h1 %}Administration{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="span12">

      <h3>Processing configuration</h3>

      <form method='POST'>
      <table>
        {% for item in optional_radios %}
        <tr>
          <td>
            <input type='checkbox' name='{{ item.name }}' value='yes' {{ optional_radio_defaults|keyvalue:item.name }}> {{ item.label }}
            </form>
          </td>
          <td>
            <input type='radio' value='yes'> Yes
            <input type='radio' value='no'> No
          </td>
        </tr>
        {% endfor %}
      </table>
      <input type='submit'>
      </form>

      <div style='width: 500px; height: 300px;'>
      <form method='POST'>
        <textarea name='xml' style='width: 500px; height: 300px;'>{{ xml }}</textarea>
        <div style='float:right;'>
          <input type='submit' value='Save' class='btn' />
        </div>
      </form>
      </div>

    </div>

  </div>

{% endblock %}
