{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block title %}{% trans "Administration" %}{% endblock %}
{% block h1 %}{% trans "Administration" %}{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      {% if message %}
        <div class="alert alert-info">{{ message }}</div>
      {% endif %}

      <h3>{% trans "Search administration" %}</h3>

      <p>
        {% blocktrans with count=aip_files_indexed %}
          {{ count }} AIP files indexed.
        {% endblocktrans %}
      </p>

      {% if user.is_superuser %}
      <form action='{% url 'components.administration.views.administration_search_flush_aips' %}' method='POST'>
        <input type='submit' value='{% trans "Flush AIP Index" %}' class='btn btn-default' />
      </form>
      {% endif %}

    </div>

  </div>

</div>

{% endblock %}
