{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block title %}{% trans "Administration" %}{% endblock %}
{% block h1 %}{% trans "Administration" %}{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <h3>{% trans "Taxonomies" %}</h3>

      {% for taxonomy in page.object_list %}
        <p><a href='/administration/taxonomy/{{ taxonomy.pk }}/'>{{ taxonomy.name }}</a></p>
      {% endfor %}

      {% url 'administration:taxonomy' as taxonomy_admin %}

      {% if page.has_other_pages %}
      {% if page.has_previous %}
      <a class='btn btn-default' href='{{ taxonomy_admin }}?page={{ page.previous_page_number }}'>{% trans "Previous page" %}</a>
      {% endif %}

      {% if has_next and has_previous %}&nbsp;{% endif %}

      {% if page.has_next %}
      <a class='btn btn-default' href='{{ taxonomy_admin }}?page={{ page.next }}'>{% trans "Next page" %}</a>
      {% endif %}
      {% endif %}

    </div>

  </div>

</div>

{% endblock %}
