{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block title %}{% trans "Version" %}{% endblock %}
{% block h1 %}{% trans "Version" %}{% endblock %}
{% block page_id %}Version{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <h3>{% trans "About Archivematica" %}</h3>

      <table class="table">
        <tr>
          <th>{% trans "Version" %}</th>
          <th>{{ version }}</th>
        </tr>
        <tr>
          <th>{% trans "Agent code" %}</th>
          <th>{{ agent_code }}</th>
        </tr>
      </table>

    </div>

  </div>

</div>

{% endblock %}
