[run]

omit =
    **/src/archivematicaCommon/lib/externals/*
    **/migrations/*
    **/south_migrations/*
    **/management/commands/*
    **/settings/*
    **/tests/*
    **/wsgi.py
    **/manage.py

source =
    /src/src/archivematicaCommon/lib/
    /src/src/dashboard/src/
    /src/src/MCPClient/lib/
    /src/src/MCPClient/lib/clientScripts/
    /src/src/MCPServer/lib/

branch = True

concurrency =
    multiprocessing
    thread

parallel = True
