# Ignore everything
**

# Include
!/src/**
!/pyproject.toml
!/requirements*
!/LICENSE
!/COPYRIGHT
!/TRADEMARK

# Exclude
src/dashboard/frontend/node_modules
src/dashboard/media/js/build
**/*~
**/*.log
**/node_modules
**/Thumbs.db
