# Ignore everything
**

# Include
!/src/**
!/pyproject.toml
!/requirements*
!/LICENSE
!/COPYRIGHT
!/TRADEMARK

# Exclude
src/archivematica/dashboard/frontend/node_modules
src/archivematica/dashboard/media/js/build
**/*~
**/*.log
**/node_modules
**/Thumbs.db
**/*.egg-info
