*.py ident
*.sh ident
src/dashboard/frontend/app/locale/*.po linguist-generated=true
src/dashboard/frontend/app/locale/*.pot linguist-generated=true
src/dashboard/frontend/app/locale/translations.json linguist-generated=true
src/dashboard/frontend/package-lock.json linguist-generated=true
