*.py[co]
*.mo

# IDE specific
.idea
*.directory
.project
.pydevproject
.settings
.vscode
*.sublime-project
*.sublime-workspace
*.sw[po]
*~

# coverage data file
.coverage

# pytest's working directory
.cache

# tox working directory
.tox/

# frontend builds
src/dashboard/src/static/
src/dashboard/src/media/js/build
