[submodule "hack/submodules/archivematica-storage-service"]
	path = hack/submodules/archivematica-storage-service
	url = https://github.com/artefactual/archivematica-storage-service
	branch = stable/0.18.x
[submodule "hack/submodules/archivematica-acceptance-tests"]
	path = hack/submodules/archivematica-acceptance-tests
	url = https://github.com/artefactual-labs/archivematica-acceptance-tests
	branch = stable/1.13.x
[submodule "hack/submodules/archivematica-sampledata"]
	path = hack/submodules/archivematica-sampledata
	url = https://github.com/artefactual/archivematica-sampledata
	branch = master
