git+https://github.com/artefactual-labs/django-shibboleth-remoteuser.git@f08a7864d6130416c352981ccf318fff0fd5be58#egg=django-shibboleth-remoteuser
Django>=4.2,<5
agentarchives
amclient
ammcpc
git+https://github.com/artefactual-labs/bagit-python.git@902051d8410219f6c5f4ce6d43e5b272cf29e89b#egg=bagit
brotli
clamd
django-autoslug
django-csp
django-forms-bootstrap
django-prometheus
django-tastypie
elasticsearch>=6.0.0,<7.0.0
git+https://github.com/artefactual-labs/python-gearman.git@b68efc868c7a494dd6a2d2e820fb098a6da9f797#egg=gearman3
gunicorn
importlib-metadata
inotify_simple
jsonschema
lazy-paged-sequence
lxml
metsrw
orjson
git+https://github.com/artefactual-labs/fido.git@564ceb8018a8650fe931cf20e6780ee008e60fca#opf-fido
prometheus_client
python-dateutil
requests
unidecode

# Required by LDAP authentication
django-auth-ldap
python-ldap

# Required by CAS authentication
django-cas-ng

# Required for OpenID Connect authentication
mozilla-django-oidc

# These dependencies dropped support for Python 3.8, so pinning them for now.
django-auth-ldap==5.0.0
gevent==24.2.1
jsonschema-specifications==2023.12.1
whitenoise==6.7.0
