git+https://github.com/Brown-University-Library/django-shibboleth-remoteuser.git@962f6f9818683ef5f6432f091d22945e54b82592#egg=django-shibboleth-remoteuser
Django>=3.2,<4
git+https://github.com/artefactual-labs/agentarchives.git@0093cd00c777acaba3d31b36f62608c7787ac8b9#egg=agentarchives
git+https://github.com/artefactual-labs/amclient.git@6cd186021598b3b97c00ab033405314e9e287a42#egg=amclient
git+https://github.com/artefactual-labs/ammcpc.git@103f8019559311eaf004e46d58f9406a8d2f694f#egg=ammcpc
bagit
brotli
clamd
django-autoslug
django-csp
django-forms-bootstrap
django-prometheus>=2.2,<2.3; python_version == "3.6"
django-prometheus
django-tastypie
elasticsearch>=6.0.0,<7.0.0
git+https://github.com/artefactual-labs/python-gearman.git@b68efc868c7a494dd6a2d2e820fb098a6da9f797#egg=gearman3
gevent
gunicorn
importlib-metadata
inotify_simple
jsonschema
lazy-paged-sequence
lxml
git+https://github.com/artefactual-labs/mets-reader-writer.git@610065dd77291a675c55960044014d394899bc7a#egg=metsrw
opf-fido
pip
pip-tools
prometheus_client
python-dateutil
requests~=2.27; python_version == "3.6"
requests
unidecode
whitenoise>=5.3.0,<6.0; python_version == "3.6"
whitenoise

# Required by LDAP authentication
django-auth-ldap
python-ldap

# Required by CAS authentication
django-cas-ng

# Required for OpenID Connect authentication
mozilla-django-oidc~=2.0; python_version == "3.6"
mozilla-django-oidc
