git+https://github.com/Brown-University-Library/django-shibboleth-remoteuser.git@67d270c65c201606fb86d548493d4b3fd8cc7a76#egg=django-shibboleth-remoteuser
Django>=1.11,<2
agentarchives
amclient
ammcpc
bagit
brotli
clamd
django-autoslug==1.9.8
django-csp
django-extensions==1.7.9
django-forms-bootstrap>=3.0.0,<4.0.0
django-prometheus>=2.0,<2.1
django-tastypie==0.14.3
elasticsearch>=6.0.0,<7.0.0
gearman3
gevent
gunicorn
importlib-metadata
inotify_simple
jsonschema
lazy-paged-sequence
lxml
metsrw
mysqlclient
# TODO: opf-fido will be upgraded separately.
opf-fido==1.4.1
pip
pip-tools
prometheus_client
python-dateutil
requests~=2.27
unidecode
whitenoise~=5.3

# Required by LDAP authentication
django-auth-ldap>=2.2,<2.3
python-ldap

# Required by CAS authentication
django-cas-ng~=3.6

# Required for OpenID Connect authentication
mozilla-django-oidc~=1.2
