{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Match" %}{% endblock %}
{% block h1 %}{% trans "Match" %}{% endblock %}
{% block page_id %}as_match{% endblock %}

{% block js %}
  <script type="module" src="{% static 'vue/as-matcher.js' %}"></script>
{% endblock %}

{% block content %}
  <ul class="breadcrumb">
    {% trans "DIP upload" as dip_upload_label %}
    {% trans "Parent record" as parent_record_label %}
    {% trans "Assign objects" as assign_objects_label %}
    {% breadcrumb_url dip_upload_label 'ingest:ingest_upload_as' uuid %}
    {% breadcrumb_url parent_record_label parent_url uuid parent_id %}
    {% breadcrumb assign_objects_label %}
  </ul>

  <h1>
    {% trans "Assign objects" %}<br />
    <small>{% trans "Assign objects to descriptions" %}</small>
  </h1>

  <div id="as_matcher"></div>

  {{ matcher_payload|json_script:"as-matcher-data" }}
{% endblock %}
