{% extends "fpr/app_layout.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Format policy rules " %}{% endblock title %}
{% block page_title %}{% trans "Format policy rules " %}{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li>{% trans "Format policy rules " %}</li>
<li>{% trans "List" %}</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="col-xs-10">

    <div
      class="fpr-vue-table"
      data-fpr-table-root
      data-fpr-table-script-id="fpr-fprule-list-payload"></div>
    {{ fpr_table_payload|json_script:"fpr-fprule-list-payload" }}

  </div> <!-- /col-xs-10 -->

</div> <!-- /row -->

{% endblock app_content %}
