.aip-search-item {
  margin-bottom: 50px;
  margin-left: 2em;
}

.aip-search-item-file-column-header {
  float: left;
  margin-left:145px;
  width:330px;
  text-align: center;
}

.aip-search-item-aip-column-header {
  float: left;
  width: 380px;
  text-align: center;
  margin-left: 20px;
}

.aip-search-item-thumbnail-column {
  float: left;
  margin-bottom: 40px;
  width: 150px;
}

.aip-search-item-file-column {
  float: left;
  width: 330px;
}

.aip-search-item-aip-column {
  float: left;
  width: 380px;
  margin-left: 20px;
}

#aip-search-query-other-field-name {
  margin-left: 5px;
  display: none;
}

div.search-summary p {
  font-weight: bold;
}

/* route=view_aip */

.aip-details code {
  background-color: transparent;
}

.aip-details .uuid {
  padding-left: 0;
  font-size: 1.2em;
}

.aip-details .location-preview {
  margin-left: 10px;
}

.aip-details th {
  vertical-align: middle;
}

/* A custom pane with tabs based on bs1 tabs, e.g. see archival storage view page */

.am-tabs-pane {
  margin-bottom: 20px;
}

.am-tabs-pane legend {
  padding-bottom: 10px;
}

.am-tabs-pane .form-stacked {
  padding: 0px 20px 20px;
}

.am-tabs-pane .tabs {
  margin-bottom: 0;
}

.am-tabs-pane .tab-content {
  padding-top: 20px;
  border: 1px solid #ddd;
  border-top-width: 0;
}

.am-tabs-pane .tab-pane .am-actions {
  background-color: #f5f5f5;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.am-tabs-pane .errorlist {
  margin: 0;
}

.am-tabs-pane .errorlist li {
  list-style: none;
  color: red;
}

.dt-buttons {
  margin-left: 45px;
  margin-top: 9px;
}

.dt-buttons button.buttons-collection {
  padding: 0;
  border: none;
  background: none;
}

.button-text-span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#create-aic-btn {
  margin-bottom: 10px;
}

#download-csv-btn {
  float: right;
  border: none;
  background: none;
  margin-top: 10px;
}
