/* override Boostrap style */
.atk-matcher-object-path > label {
  float: none;
}

.atk-matcher-resource-item:hover, .atk-matcher-object-path:hover {
  background-color: #d8f2dc;
}

#atk_matcher {
  width: 100%;
  float:left;
  overflow: auto;
  white-space: nowrap;
}

#object_pane {
  vertical-align: top;
  height: 500px;
  overflow: auto;
  resize: both;
  display: inline-block;
  margin-right: 20px;
}

#resource_pane {
  vertical-align: top;
  height: 500px;
  overflow: auto;
  resize: both;
  display: inline-block;
  margin-right: 20px;
}

#object_pane_search, #resource_pane_search {
  width: 210px;
  margin-bottom:10px;
}

#object_pane_search > input, #resource_pane_search > input {
  margin-right:5px;
}

#match_pane {
  vertical-align: top;
  height: 500px;
  overflow: auto;
  resize: both;
  display: inline-block;
}

#match_button {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

#match_save_button, #match_confirm_button, #match_cancel_button {
  display: none;
}

.atk-matcher-disabled-object-label {
  color: #aaa;
}
