/* override Boostrap style */
.atk-matcher-object-path > label {
  float: none;
}

.atk-matcher-resource-item:hover {
  background-color: green;
}

#object_pane {
  width: 200px;
  height: 500px;
  float: left;
  overflow: auto;
  resize: both;
  margin-right: 20px;
}

#resource_pane {
  width: 200px;
  height: 500px;
  float: left;
  overflow: auto;
  resize: both;
  margin-right: 20px;
}

#button_pane {
  width: 80px;
  float: left;
  margin-right: 20px;
}

#match_pane }
  width: 200px;
  height: 500px;
  float: left;
  overflow: auto;
  resize: both;
}
