.backbone-file-explorer {
  width: 100%;
  background-repeat: no-repeat;
  background-position: right top;
}

.backbone-file-explorer-busy {
  background-color: '#eee';
  opacity: .5;
  background-image: url('../images/ajax-loader.gif');
  background-position: 99% 50%;
}

.backbone-file-explorer-idle {
  background-color: 'white';
  opacity: 1;
  background-image: none;
}

.backbone-file-explorer-entry {
  position: relative;
  padding: 6px;
}

.backbone-file-explorer-entry-list > .backbone-file-explorer-entry {
  padding: 2px;
}

.backbone-file-explorer-entry-odd {
  background-color: #f5f5f5;
}

.backbone-file-explorer-entry-highlighted {
  background-color: #ffcc00;
}

.backbone-file-explorer-directory {
  background-image: url('../images/folder.png');
  background-repeat: no-repeat;
  background-position: 3px 50%;
}

.backbone-file-explorer-directory_open {
  background-image: url('../images/filefolderopen.png');
}

.backbone-file-explorer-directory_icon_button {
  display: block;
  float: left;
  width: 28px;
  height: 16px;
}

.backbone-file-explorer-directory_entry_actions {
  float: right;
}

.backbone-file-explorer-level { padding-left: 10px; }

span.backbone-file-explorer-paging-link {
  color: red;
  padding: 6px;
  cursor: pointer;
}

.not_draggable {
  color: #888888;
}
