.backbone-file-explorer {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.backbone-file-explorer-busy {
  background-image: url('../images/ajax-loader.gif');
}

.backbone-file-explorer-directory {
  background-image: url('../images/filefolder.png');
}

.backbone-file-explorer-directory_open {
  background-image: url('../images/filefolderopen.png');
}

.backbone-file-explorer-busy {
  background-image: url('../images/ajax-loader.gif');
}

.backbone-file-explorer-idle {
  background-image: none;
}
