.backbone-file-explorer {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.inline-file-explorer {
  max-width: 950px;
  display: none;
  margin-bottom: 20px;
}

.inline-file-explorer h4 {
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  margin-top: 5px;
}

.inline-file-explorer button.close {
  float: right;
}

.backbone-file-explorer-entry {
  background-color: #fff;
}

.backbone-file-explorer-entry-odd {
  background-color: #f5f5f5;
}

.backbone-file-explorer-entry-highlighted {
  background-color: #ffcc00;
}

.backbone-file-explorer-busy {
  background-image: url('../images/ajax-loader.gif');
}

.backbone-file-explorer-directory {
  background-image: url('../images/filefolder.png');
}

.backbone-file-explorer-directory_open {
  background-image: url('../images/filefolderopen.png');
}

.backbone-file-explorer-busy {
  background-image: url('../images/ajax-loader.gif');
}

.backbone-file-explorer-idle {
  background-image: none;
}

/* Layout of directory items using CSS Grid */

.backbone-file-explorer-directory {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr;
  grid-template-columns: 30px 1fr;
}

.backbone-file-explorer-directory > span {
  height: 100%;
}
