#path_container {
  width: 950px;
  margin-bottom: 10px;
}

.transfer_path_icons {
  float: right;
  clear: both;
}

.transfer_path_delete_icon, .transfer_path_edit_icon {
  margin-left: .5em;
}

.microservice-group {
  padding: 2px 0px;
}

#transfer-browser-form {
  width: 950px;
}

#transfer_browse_tree {
  width: 950px;
  margin-bottom: 60px;
  margin-top: 10px;
}

#transfer-alert {
  width: 950px;
}

.processing-config-choice:hover {
  cursor: pointer;
}
