LOCAL_SETTINGS = True
from settings import *

DEBUG = False

# Make this unique, and don't share it with anybody.
# python -c 'import random; print "".join([random.choice("abcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*(-_=+)") for i in range(50)])'
SECRET_KEY = ''
