{% extends "layout_fluid.html" %}

{% block title %}Administration{% endblock %}
{% block h1 %}Access{% endblock %}
{% block page_id %}access{% endblock %}

{% block content %}

  <div class="alert-message">
    <p>Reload this page manually to get updates.</p>
  </div>

  <table>
    <thead>
      <th>AIP</th>
      <th>DIP URL</th>
      <th>Upload date</th>
      <th>Upload status</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {% for item in access %}
        <tr>
          <td><a href="{% url components.ingest.views.ingest_detail item.sipuuid %}">{{ item.get_title }}</a></td>
          <td><a href="{{ item.destination }}">{{ item.destination }}</a></td>
          <td>{{ item.createdtime }}</td>
          <td>{{ item.status }}</td>
          <td><a href="{% url main.views.access_delete item.pk %}">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
