{% extends "layout_fluid.html" %}

{% block css %}
<style type="text/css">
  table {
    border: 2px solid black;
    border-collapse: separate !important;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    box-shadow: 5px 5px 3px #888888 !important;
    text-align: left;
  }

  td {
    border: 1px solid black;
    text-align: left;

  }

  label {
    font-weight: bold;
    text-align: right;
    width: 90px;
  }

  .tableTitle {
    background: -moz-linear-gradient(100% 100% 90deg, #eee, #ddd) !important;
    background: -webkit-linear-gradient(#eee, #fff) !important;
    width: 200px !important;
  }

  th.title {
    width: auto !important;
  }

  th {
    width: 80px;
  }

  .Description {
    width: 800px;
  }

  .formatForm {
    width: 1000px;
  }
</style>
{% endblock %}

{% block content %}

  <title>
    Format ID Editor
  </title>
<div id=fpr_nav>
<a href='{% url components.preservation_planning.views.fpr_edit_format %}'>Add new Format ID</a>
<br><a href='{% url components.preservation_planning.views.fpr_edit_command %}'>Add new Command</a>
<br><a href='{% url components.preservation_planning.views.fpr_edit_rule %}'>Add new Format Policy Rule</a>
</div>
  
<h2>Format policy - Archivematica format ID</h2>
  The format policy Archivematica format ID is composed of the originating format, the tool and tool version.
<br><br>

<h3>Archivematica format ID</h3>
 <form class="form-stacked" method="post" action="{% url components.preservation_planning.views.fpr_edit_format %}">

    {% include "_form.html" %}
    
    <div class="actions">
          {% if id %}
            <button type="submit" class="btn primary">Save</button>
          {% else %}
            <button type="submit" class="btn primary">Create</button>
          {% endif %}
          {% if uuid %}
            <a href="{% url components.preservation_planning.views.fpr_edit_format uuid %}" class="btn">Cancel</a>
          {% endif %} 
    </div>

    </form>
{% endblock %}