{% load url from future %}
<div id=fpr_nav>
	
<a href='{% url 'components.preservation_planning.views.preservation_planning_fpr_data' %}'>Preservation Planning Home</a>
<br><a href='{% url 'components.preservation_planning.views.fpr_edit_format' %}'>Add new Format ID</a>
<br><a href='{% url 'components.preservation_planning.views.fpr_edit_command' %}'>Add new Command</a>
<br><a href='{% url 'components.preservation_planning.views.fpr_edit_rule' %}'>Add new Format Policy Rule</a>
<br><a href='{% url 'components.preservation_planning.views.fpr_edit_tool_output' %}'>Add new Tool Output Identifier</a>
<br><br>
<input id="updatefpr" type="button" value="Update FPR" onclick="moreStuff();" />
<br><br>
</div>


<div id=fpr></div>
<script type="text/javascript">
     function UpdateElement(){  
        document.getElementById("updatefpr").value ="Clear Messages";   
      }  
function moreStuff() {
	var mybutton = document.getElementById("updatefpr");
	if (mybutton.value == "Update FPR") {
	    $("div#fpr").append("<p>Updating format policy rules . . .</p>");
        $.get("preservation-planning/fprdownload/", function(data, textStatus)
        {
        	if (data['result'] == 'success') {
                $("div#fpr").append("<p>" + data['response'] + "</p>");
            } else {
                $("div#fpr").append("<p>Unable to update FPR. " +"</p>");
            }
        })
        .done(function() { $("div#fpr").append("<p>Attempt completed"); })
        .fail(function(jqxhr, textStatus, error) {
            $("div#fpr").append("<p>Request error:</p>");
            $("div#fpr").append("<p>"+ error + " : " + jqxhr +"</p>");
            $("div#fpr").append("<p>"+textStatus+ "</p>");
            
            })
        .always(function() { 
        	UpdateElement();
        	});
    } else {
    	$("div#fpr").html("");
    	mybutton.value = "Update FPR";
    }
}

</script>
