<div id=fpr_nav>
	
<a href='{% url components.preservation_planning.views.preservation_planning_fpr %}'>Preservation Planning Home</a>
<a href='{% url components.preservation_planning.views.fpr_edit_format %}'>Add new Format ID</a>
<br><a href='{% url components.preservation_planning.views.fpr_edit_command %}'>Add new Command</a>
<br><a href='{% url components.preservation_planning.views.fpr_edit_rule %}'>Add new Format Policy Rule</a>
<br><a href='{% url components.preservation_planning.views.fpr_edit_toolOutput %}'>Add new Tool Output Identifier</a>
</div>