{% extends "layout_fluid.html" %}
{% load math %}
{% load percentage %}
{% load url from future %}

{% block title %}Preservation planning{% endblock %}
{% block h1 %}Preservation planning{% endblock %}
{% block page_id %}preservation-planning{% endblock %}

{% block extra_css %}
<style type="text/css">
    table {
        border: 2px solid #000000;/*#eee;*/
        border-collapse: separate !important;
        border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        box-shadow: 5px 5px 3px #888888 !important;
    }

    td, th {
        border: 1px solid #000000;
        text-align: left;
    }

    thead > tr > th {
        background-color: #ddd;
        background: -moz-linear-gradient(100% 100% 90deg, #bbbbbb, #ddd);
        background: -webkit-linear-gradient(#bbbbbb, #ddd);
    }

    td.file-type {
        font-size: 14px;
        vertical-align: top;
        background-color: #ddd;
        background: -moz-linear-gradient(100% 100% 90deg, #eee, #ddd);
        background: -webkit-linear-gradient(#eee, #fff);
    }

    th.advanced {
        background-color: #ffedb7 !important;
    }

    td.advanced:first-child {
        border: 0;
    }

    #btn_advanced_details {
        font-weight: normal;
        float: right;
    }

    tr.hover > td {
        background-color: #ffedb7;
    }

    div.cmd {
        display: inline-block;
        float: right;
        padding: 15px !important;

        border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        box-shadow: 5px 5px 3px #888888 !important;
    }

    th {
        border-top: none;
    }

    td:first-child {
        border-left: none;
    }

    img.modify-formatID {}
    img.modify-command {}

</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function()
    {
//        $('img.modify-formatID')
//            .click(function(event)
//            {
//                $(this).marg
//            });

        $advanced = $('.advanced').hide();
        $('#perf').click(function() {
            if ($(this).is(':checked')) {
              var $sender = $(this);
              $advanced.show();
              $th.attr('colspan', 10);
            }
            else {
              $advanced.hide();
              $th.attr('colspan', 5);
            }
        });

        <!-- Give the rows a different bg colour if mouse over -->
        $th = $('thead > tr > th:last');
        $('tbody tr').hover(function()
        {
            $(this).addClass('hover');
        }, function()
        {
            $(this).removeClass('hover');
        });

        var link = '<a href="">Show</a>';

        <!-- Hide / Show the format's command -->
        $('td.cmd > div')
            .hide()
            .before('<img src="{{ STATIC_URL }}images/table_edit.png" style="margin-top=10px">&nbsp;&nbsp;')
            .after(link).next().click(function(event)
            {
                event.preventDefault();

                if ('Show' == $(this).text())
                {
                    var content = $(this).prev().clone();
                    var width = $(this).closest('table').find('th:eq(1)').width();

                    $(this)
                        .text('Hide')
                        .closest('tr').after('<tr><td colspan="10"></td></tr>').next()
                        .children().append(content).find('div')
                        .css({'overflow': 'auto', 'padding': '3px', 'white-space': 'pre',
                                'font-family': 'courier', 'background-color': '#ddd'})
                        .slideDown(1000);

                    var $header = $(this).closest('tr').prevAll('tr.row-header:first').find('td:first');
                    $header.attr('rowspan', parseInt($header.attr('rowspan')) + 1);
                }
                else
                {
                    $(this).closest('tr').next().remove();
                    $(this).text('Show');

                    var $header = $(this).closest('tr').prevAll('tr.row-header:first').find('td:first');
                    $header.attr('rowspan', parseInt($header.attr('rowspan')) - 1);
                }
            });

    });
</script>
{% endblock %}

{% block content %}
  
<form name = "search" action='{% url 'components.preservation_planning.views.preservation_planning_fpr_search' %}' method='GET'>
  {{ form }}
  <input type='submit' value='Search files'/>&nbsp;&nbsp;
  <input type="checkbox" id="perf"> Show performance
</form>

<!-- Testing if we're in a search query between paginations or not.... -->
{% if request.session.fpr_query != '' %}
  <h2>Search results for &quot;{{ request.session.fpr_query }}&quot; ({{ hit_count }} results):</h2><br>
{% else %} 
  <h2>Format policies ({{ item_count }} items):</h2><br>
{% endif %}

{% include 'main/fpr_nav.html' %}

<table style="width:100%;table-layout:auto;word-wrap:break-word" class="FileIDsTable">

<thead style="color:black;">
  <tr>
    <th>Archivematica format ID</th>
    <th> File Identification Tool </th>
    <th> <div style="width:80px;">Tool version </div></th>
    <th> Format </th>
    <th> Purpose </th>
    <th> Output </th>
    <th> Command </th>
    <th class="advanced">Command type</th>
    <th class="advanced"><img src="{{ STATIC_URL }}images/accept.png" title="Successful"  /></th>
    <th class="advanced"><img src="{{ STATIC_URL }}images/delete.png" title="Unsuccessful" /></th>
    <th class="advanced"><img src="{{ STATIC_URL }}images/error.png" title="Frozen/processing" /></th>
    <th> Command description </th>
    <th> View / Change </th>
  </tr>
</thead>
<tbody>

{% for row in page.objects %}

<!-- Output the formats in the tables -->
<tr>
  <!-- Format ID -->
  <td>
    <div style="width:160px;">
      <img src="{{ STATIC_URL }}images/table_edit.png" padding = 4> {{ row.FileIDs_description }}
    </div>
  </td>

  <!-- Tool -->
  <td>
    <div style="width:230px;">
      {{ row.tool }}
    </div>
  </td>

  <!-- Tool Version -->
  <td>
    {{ row.toolVersion }}
  </td>

  <!-- Format -->
  <td>
    <div style="width:70px;">
      {{ row.id }}
    </div>
  </td>

  <!-- Purpose -->
  <td>
    {{ row.classification }}
  </td>

  <!-- Output -->
  <td>
    {{ row.outputLocation }}
  </td>

  <!-- Command -->
  <td class="cmd"><div class="cmd">{{ row.Commands_command }}</div></td>

  <td class="advanced">{{ row.commandType }} </td>
  <td class="advanced">{{ row.countOK|percentage:row.countAttempts|safe }}</td>
  <td class="advanced">{{ row.countNotOK|percentage:row.countAttempts|safe }}</td>
  <td class="advanced">{{ row.countIncomplete|percentage:row.countAttempts|safe }}</td>

  <!-- Command Description -->
  <td>
    {{ row.Commands_description }}
  </td>
  
  <!-- View / Change details -->
  <td>
        {% if row.rule_pk %}
  	<a href="{% url 'components.preservation_planning.views.fpr_edit_rule' row.rule_pk %}">Format Policy Rule</a><br>
  	{% endif %}
  	{% if row.command_pk %}
  	<a href="{% url 'components.preservation_planning.views.fpr_edit_command' row.command_pk %}">Command</a> |   	
  	{% endif %}
  	<a href="{% url 'components.preservation_planning.views.fpr_edit_format' row.pk %}">Format ID</a> |
  	<a href="{% url 'components.preservation_planning.views.fpr_edit_tool_output' row.toolOutput_pk %}">Tool Output</a>
</td>
</tr>

{% endfor %}

</tbody>
</table>

  {% if page.has_other %}
    <center>
    <div align=center style='float:center'>
    {% if page.has_previous %}

      {% if request.session.fpr_query == '' %}
        <a href="{% url 'components.preservation_planning.views.preservation_planning_fpr_data' page.previous %}" class="btn">Previous</a>
      {% else %}
        <a href="{% url 'components.preservation_planning.views.preservation_planning_fpr_search' page.previous %}" class="btn">Previous</a>
      {% endif %}

      {% if page.has_next %}
        &nbsp;
      {% endif %}
 
   {% endif %}
   
   {% if page.has_next %}
      {% if request.session.fpr_query == '' %}  
        <a href="{% url 'components.preservation_planning.views.preservation_planning_fpr_data' page.next %}" class="btn">Next</a>
      {% else %}
        <a href="{% url 'components.preservation_planning.views.preservation_planning_fpr_search' page.next %}" class="btn">Next</a>
      {% endif %}
   {% endif %}

    </div><br>
  {% endif %}
  Page {{ current_page_number }} of {{ page.num_pages }}

  {% if request.session.fpr_query != '' %}
    | <a href="{% url 'components.preservation_planning.views.preservation_planning_fpr_data' 1 %}">Exit Search</a>
  {% endif %}


{% endblock %}
