{% extends "layout_fluid.html" %}

{% block content %}
<a name='tasks_top'></a>

{% include "main/_tasks_pager.html" %}

  <table>
    <tbody>
      {% for item in objects %}
        <tr class="{% cycle 'odd' 'even' %}{% ifnotequal item.exitcode 0 %} exiterror{% endifnotequal %}">
          <td>
            <span>ATTTask UUID:</span> {{ item.taskuuid }}<br />
            <span>File UUID:</span> {{ item.fileuuid }}<br />
            <span>File name:</span> {{ item.filename }}<br />
            <span>Client:</span> {{ item.client }}<br />
            <span>&nbsp;</span> {{ item.exec_field }} (exit code: {{ item.exitcode }})
          </td>
          <td>
            <abbr title="Start time">SST:</abbr> <span>{{ item.starttime }}</span><br />
            <abbr title="End time">EET:</abbr> <span>{{ item.endtime }}</span><br />
            <abbr title="Created time">CT:</abbr> <span>{{ item.createdtime }}</span><br />
            <abbr title="Duration">DU:</abbtr> {{ item.duration }} second(s)
          </td>
        </tr>
        <tr>
          <td colspan="3"><a href="#" onclick="javascript: $(this).closest('tr').next().toggle(); return false;">Show arguments</a></td>
        </tr>
        <tr style="display: none;">
          <td colspan="3">{{ item.execution }} {{ item.arguments }}</td>
        </tr>
        {% if item.stdout %}
          <tr>
            <td colspan="3" class="stdout">
              <p>STDOUT</p>
              <pre>{{ item.stdout }}</pre>
            </td>
          </tr>
        {% endif %}
        {% if item.stderror %}
          <tr>
            <td colspan="3" class="stderror">
              <p>STDERR</p>
              <pre>{{ item.stderror }}</pre>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

{% include "main/_tasks_pager.html" %}

{% endblock %}
