{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Match" %}{% endblock %}
{% block h1 %}{% trans "Match" %}{% endblock %}
{% block page_id %}as_match{% endblock %}

{% block extra_css %}
  <link type="text/css" rel="stylesheet" media="all" href="{% static 'css/as_match.css' %}" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/ingest/as_matcher.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/ingest/as_matcher_setup.js' %}"></script>
  <script>
  function toggle_objects(source) {
    checkboxes = document.querySelectorAll('.atk-matcher-object-path > input');
    for (var i = 0, n = checkboxes.length; i < n; i++) {
      var $cb = $(checkboxes[i]);
      // Only select if the checkbox is visible and not disabled
      if ( $cb.is(":visible") && ! $cb.is(":disabled") ) {
        checkboxes[i].checked = source.checked;
      } else {
        checkboxes[i].checked = false;
      }
    }
  }
  </script>

  <script type="text/javascript">
    $(document).ready(function()
      {
       atkMatcherInitialize(
         '{{ uuid }}',
         {{ object_path_json|safe }},
         {{ resource_data_json|safe }},
         {{ matches_json|safe }}
       );
    });
  </script>
{% endblock %}

{% block content %}
  <div style="padding: 5px; background-color: white; position: fixed; top: 57px; right: 10px; float: right;">
    <span id="object_pane_search">
      <input style="width: 150px" placeholder="{% trans "Filter objects" %}" />
      <img src="{% static 'images/zoom.png' %}" />
    </span>

    <span id="resource_pane_search">
      <input style="width: 150px" placeholder="{% trans "Filter resources" %}" />
      <img src="{% static 'images/zoom.png' %}" />
    </span>

    <input id='match_button' type='button' value='{% trans "Pair" %}' class='btn btn-default' />
  </div>

  <ul class="breadcrumb">
    {% trans "DIP upload" as dip_upload_label %}
    {% trans "Parent record" as parent_record_label %}
    {% trans "Assign objects" as assign_objects_label %}
    {% breadcrumb_url dip_upload_label 'ingest:ingest_upload_as' uuid %}
    {% breadcrumb_url parent_record_label parent_url uuid parent_id %}
    {% breadcrumb assign_objects_label %}
  </ul>

  <h1>
    {% trans "Assign objects" %}<br />
    <small>{% trans "Assign objects to descriptions" %}</small>
  </h1>

  {% if reset_url %}
    <div id='reset_matching'><a class="btn btn-default" href="{% url reset_url uuid %}">{% trans "Restart matching" %}</a>
  {% else %}
    <div id='reset_matching'><a class="btn btn-default disabled">{% trans "Restart matching" %}</a>
  {% endif %}
  <a class="btn btn-default" href="{% url 'ingest:ingest_upload_as_review_matches' uuid %}">{% trans "Review matches" %}</a>

  <div id='as_matcher'></div>

  <!-- Templates -->

  <script type="text/template" id="matcher-layout-template">
    <div id="object_pane">
      <div class="atk-pane-header">
        <h3>{% trans "Objects" %}</h3>
      </div>
      <input type="checkbox" onClick="toggle_objects(this)"/> {% trans "Select all" %}
      <div id="object_pane_paths"></div> <br>
    </div>
    <div id="resource_pane">
      <div class="atk-pane-header">
        <h3>{% trans "Resources" %}</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th><a class='atk_resource_sort' id='sort_by_sortPosition'>{% trans "Level" %}</a></th>
            <th><a class='atk_resource_sort' id='sort_by_title'>{% trans "Title" %}</a></th>
            <th><a class='atk_resource_sort' id='sort_by_identifier'>{% trans "Identifier" %}</a></th>
            <th><a class='atk_resource_sort' id='sort_by_dates'>{% trans "Dates" %}</a></th>
          </tr>
        </thead>
        <tbody id="resource_pane_items">
        </tbody>
      </table>
    </div>
    <div id="match_pane">
      <div class="atk-pane-header">
        <h3>{% trans "Pairs" %}</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>{% trans "File" %}</th>
            <th>{% trans "Level" %}</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Identifier" %}</th>
            <th>{% trans "Dates" %}</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="match_pane_pairs"></tbody>
      </table>
      <div style="float:right">
        <input id="match_confirm_button" type='button' class='btn btn-default' value='{% trans "Confirm" %}' />
        <input id="match_cancel_button" type='button' class='btn btn-default' value='{% trans "Cancel" %}' />
      </div>
    </div>
  </script>

  <script type="text/template" id="object-path-template">
    <div class="atk-matcher-object-path" id="path_<%= index %>">
      <input id="path_<%= index %>_checkbox" type="checkbox" />
      <label for="path_<%= index %>_checkbox" title="<%= path %>"><%= path %></label>
    </div>
  </script>

  <script type="text/template" id="resource-item-template">
    <tr class="atk-matcher-resource-item" id="resource_<%= tempId %>">
      <td><%= levelOfDescription %></td>
      <td title="<%= title %>"><%= padding %><%= title %></td>
      <td><%= identifier %></td>
      <td><%= dates %></td>
    </tr>
  </script>

  <script type="text/template" id="match-item-template">
    <tr class="atk-matcher-match-item" id="match_<%= tempId %>">
      <td title="<%= path %>"><%= path %></td>
      <td><%= levelOfDescription %></td>
      <td title="<%= title %>"><%= title %></td>
      <td><%= identifier %></td>
      <td><%= dates %></td>
      <td id="match_delete_<%= tempId %>">
        <img src="{% static 'images/delete.png' %}" title="{% trans 'Delete match' %}" />
      </td>
    </tr>
  </script>

{% endblock %}
