{% extends "layout_fluid.html" %}
{% load breadcrumb %}

{% block title %}Match{% endblock %}
{% block h1 %}Match{% endblock %}
{% block page_id %}atk_match{% endblock %}

{% block content %}
<div class="span12">

  <ul class="breadcrumb">
    {% breadcrumb 'DIP Upload' %} 
  </ul>

  <h1>
    Collections<br />
    <small>ArchivesSpace</small>
  </h1>

  {% include "ingest/as/_search_form.html" %}

  {% if reset_url %}
    <div id='reset_matching'><a class="btn" href="{% url reset_url uuid %}">Restart matching</a>
  {% else %}
    <div id='reset_matching'><a class="btn disabled">Restart matching</a>
  {% endif %}
  <a class="btn" href="{% url 'components.ingest.views_as.ingest_upload_as_review_matches' uuid %}">Review matches</a>

  <table>
    <thead>
      <tr>
        <th><a href="?sort={{ sort_direction }}&amp;page=1">Title</a></th>
        <th>Dates</th>
      </tr>
    </thead>
    <tbody>
      {% for resource in page.objects %}
        <tr>
          <td><a href="{% url 'components.ingest.views_as.ingest_upload_as_resource' uuid resource.id %}">{{ resource.title }} {% if resource.identifier %} ({{ resource.identifier }}) {% endif %}</a></td>
          <td><a href="{% url 'components.ingest.views_as.ingest_upload_as_resource' uuid resource.id %}">{{ resource.dates }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include "_pager.html" %}

</div>
{% endblock %}
