{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block title %}{% trans "Match" %}{% endblock %}
{% block h1 %}{% trans "Match" %}{% endblock %}
{% block page_id %}as_match{% endblock %}

{% block content %}
<div class="col-md-12">

  <ul class="breadcrumb">
    {% trans "DIP upload" as dip_upload_label %}
    {% trans "Collection" as collection_label %}
    {% trans "Parent record" as parent_record_label %}
    {% trans "Description" as description_label %}
    {% breadcrumb_url dip_upload_label 'ingest:ingest_upload_as' uuid %}
    {% if resource_id %}
      {% breadcrumb_url collection_label 'ingest:ingest_upload_as_resource' uuid resource_id %}
    {% endif %}
    {% if parent_id %}
      {% breadcrumb_url parent_record_label 'ingest:ingest_upload_as_resource_component' parent_id %}
    {% endif %}
    {% breadcrumb description_label %}
  </ul>

  <div style="float:right">
    {% include "ingest/as/_search_form.html" %}
  </div>

  <h1>
    {% trans "Description" %}<br />
    <small>{{ resource_component_data.title }} ({{ resource_component_data.id }})</small>
  </h1>

  {% if reset_url %}
    <div id='reset_matching'><a class="btn btn-default" href="{% url reset_url uuid %}">{% trans "Restart matching" %}</a>
  {% else %}
    <div id='reset_matching'><a class="btn btn-default disabled">{% trans "Restart matching" %}</a>
  {% endif %}
  <a class="btn btn-default" href="{% url 'ingest:ingest_upload_as_review_matches' uuid %}">{% trans "Review matches" %}</a>
  <a class='btn btn-default' href="{% url 'ingest:ingest_upload_as_match_dip_objects_to_resource_component_levels' uuid resource_component_id %}">{% trans "Assign DIP objects to this level of description" %}</a>

  <br />
  <br />

  {% if page.objects %}
    <table class="table">
      <thead>
        <tr>
          <th>{% trans "Level of description" %}</th>
          <th><a href="?sort={{ sort_direction }}&amp;page=1">{% trans "Title" %}</a></th>
          <th>{% trans "Dates" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for component in page.objects %}
          <tr>
            <td><a href="{% url 'ingest:ingest_upload_as_resource_component' uuid component.id %}">{{ component.levelOfDescription }}</a></td>
            <td><a href="{% url 'ingest:ingest_upload_as_resource_component' uuid component.id %}">{{ component.title }} ({{ component.identifier }})</a></td>
            <td><a href="{% url 'ingest:ingest_upload_as_resource_component' uuid component.id %}">{{ component.dates }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include "_pager.html" %}
  {% else %}
    <p>{% trans "No child descriptions found." %}</p>
  {% endif %}

</div>
{% endblock %}
