{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block title %}{% trans "Match" %}{% endblock %}
{% block h1 %}{% trans "Match" %}{% endblock %}
{% block page_id %}as_match{% endblock %}

{% block content %}
<div class="col-md-12">

  <ul class="breadcrumb">
    {% trans "DIP upload" as dip_upload_label %}
    {% breadcrumb dip_upload_label %}
  </ul>

  <h1>
    {% trans "Collections" %}<br />
    <small>ArchivesSpace</small>
  </h1>

  {% include "ingest/as/_search_form.html" %}

  {% if reset_url %}
    <div id='reset_matching'><a class="btn btn-default" href="{% url reset_url uuid %}">{% trans "Restart matching" %}</a>
  {% else %}
    <div id='reset_matching'><a class="btn btn-default disabled">{% trans "Restart matching" %}</a>
  {% endif %}
  <a class="btn btn-default" href="{% url 'ingest:ingest_upload_as_review_matches' uuid %}">{% trans "Review matches" %}</a>

  <table class="table">
    <thead>
      <tr>
        <th><a href="?sort={{ sort_direction }}&amp;page=1">{% trans "Title" %}</a></th>
        <th>{% trans "Dates" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for resource in page.objects %}
        <tr>
          <td><a href="{% url 'ingest:ingest_upload_as_resource' uuid resource.id %}">{{ resource.title }} {% if resource.identifier %} ({{ resource.identifier }}) {% endif %}</a></td>
          <td><a href="{% url 'ingest:ingest_upload_as_resource' uuid resource.id %}">{{ resource.dates }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include "_pager.html" %}

</div>
{% endblock %}
