Source: upload-qubit
Section: utils
Priority: extra
Maintainer: Austin Trask <austin@artefactual.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://archivematica.org

Package: upload-qubit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-support, php5, php5-cli, php5-curl, php5-gearman, rsync
Description: DIP uploader for Qubit
  Enter long description
