{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block title %}{% trans "Users - Add new" %}{% endblock %}
{% block h1 %}{% trans "Users - Add new" %}{% endblock %}
{% block page_id %}accounts-add{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <ul class="breadcrumb">
        {% trans "Users" as users %}
        {% trans "Add new user" as add_user %}
        {% breadcrumb_url users 'accounts:accounts_index' %}
        {% breadcrumb add_user %}
      </ul>

      <form method="post" action="{% url 'accounts:add' %}">

        {% csrf_token %}

        {% include "_form.html" %}

        {% include "_form.html" with form=userprofileform %}

        <div class="actions">
          <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
          <a class="btn btn-default" href="{% url 'accounts:accounts_index' %}">{% trans "Cancel" %}</a>
        </div>

      </form>

    </div>

  </div>

</div>

{% endblock %}
