{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load user %}
{% load i18n %}

{% block title %}{% blocktrans with user=user %}Users - Edit {{ user }}{% endblocktrans %}{% endblock %}
{% block h1 %}{% blocktrans with user=user %}Users - Edit {{ user }}{% endblocktrans %}{% endblock %}
{% block page_id %}accounts-edit{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <ul class="breadcrumb">
        {% trans "Users" as users %}
        {% breadcrumb_url users 'accounts:accounts_index' %}
        {% breadcrumb title %}
      </ul>

      <form method="post" action="{% url 'accounts:edit' user.id %}">

        {% csrf_token %}

        {% include "_form.html" %}

        <div>
          <div class='input'><code>{{ user|api_key }}</code></div>
        </div>

        {% include "_form.html" with form=userprofileform %}

        <div class="actions">
          <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
          <a class="btn btn-default" href="{% url 'accounts:accounts_index' %}">{% trans "Cancel" %}</a>
        </div>

      </form>

    </div>

  </div>

</div>

{% endblock %}
