{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load user %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block h1 %}{{ title }}{% endblock %}
{% block page_id %}accounts-profile{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <ul class="breadcrumb">
        {% breadcrumb title %}
      </ul>

      <form method="post" action="{% url 'accounts:profile' %}">

        {% csrf_token %}

        <dl class="dl-horizontal">
          <dt>{% trans "Username" %}</dt>
          <dd>{{ user.username }}</dd>
          <dt>{% trans "Name" %}</dt>
          <dd>{{ user.get_full_name }}</dd>
          <dt>{% trans "E-mail" %}</dt>
          <dd>{{ user.email }}</dd>
          <dt>{% trans "Admin" %}</dt>
          <dd>{{ user.is_superuser|yesno }}</dd>
        </dl>

        {% include "_form.html" %}

        <div>
          <div class='input'><code>{{ user|api_key }}</code></div>
        </div>

        {% include "_form.html" with form=userprofileform %}

        <div class="actions">
          <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
          <a class="btn btn-default" href="{% url 'main:main_index' %}">{% trans "Cancel" %}</a>
        </div>

      </form>

    </div>

  </div>

</div>

{% endblock %}
