{% load active %}
{% load i18n %}

{% url 'fpr:format_list' as url_format %}
{% url 'fpr:formatgroup_list' as url_formatgroup %}
{% url 'fpr:idtool_list' as url_idtool %}
{% url 'fpr:idrule_list' as url_idrule %}
{% url 'fpr:idcommand_list' as url_idcommand %}
{% url 'fpr:fprule_list' as url_fprule %}
{% url 'fpr:fptool_list' as url_fptool %}

<div class="sidebar col-xs-2">
  <ul>
    <li class="{% active request url_format %}"><a href="{{ url_format }}">{% trans "Formats" %}</a></li>
    <li class="{% active request url_formatgroup %}">&nbsp;&nbsp;<a href="{{ url_formatgroup }}">{% trans "Groups" %}</a></li>

    <li style="margin-top: 20px">{% trans "Identification" %}</li>
    <li class="{% active request url_idtool %}">&nbsp;&nbsp;<a href="{{ url_idtool }}">{% trans "Tools" %}</a></li>
    <li class="{% active request url_idrule %}">&nbsp;&nbsp;<a href="{{ url_idrule }}">{% trans "Rules" %}</a></li>
    <li class="{% active request url_idcommand %}">&nbsp;&nbsp;<a href="{{ url_idcommand }}">{% trans "Commands" %}</a></li>

    <li style="margin-top: 20px">{% trans "Format policy registry" %}</li>
    <li class="{% active request url_fptool %}">&nbsp;&nbsp;<a href="{{ url_fptool }}">{% trans "Tools" %}</a></li>

    {% for usage, header in categories %}
      {% url 'fpr:fprule_list' usage as url_fprule %}
      {% url 'fpr:fpcommand_list' usage as url_fpcommand %}
      <li style="margin-top: 20px">{{ header }}</li>
      <li class="{% active request url_fprule %}">&nbsp;&nbsp;<a href="{{ url_fprule }}">{% trans "Rules" %}</a></li>
      <li class="{% active request url_fpcommand %}">&nbsp;&nbsp;<a href="{{ url_fpcommand }}">{% trans "Commands" %}</a></li>
    {% endfor %}
  </ul>
</div>
