{% extends "layout_fluid.html" %}

{% block title %}Match{% endblock %}
{% block h1 %}Match{% endblock %}
{% block page_id %}atk_match{% endblock %}

{% block css %}
  <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/atk_match.css" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/ingest/atk_matcher.js"></script>

  <script type="text/javascript">
    $(document).ready(function()
      {
        var matcher = new ATKMatcherView({
          'el':                    $('#atk_matcher'),
          'matcherLayoutTemplate': $('#matcher-layout-template').html(),
          'objectPaneCSSId':       'object_pane',
          'objectPathTemplate':    $('#object-path-template').html(),
          'resourcePaneCSSId':     'resource_pane',
          'resourceItemTemplate':  $('#resource-item-template').html(),
          'matchPaneCSSId':        'match_pane',
          'matchItemTemplate':     $('#match-item-template').html(),
          'matchButtonCSSId':      'match_button',
          'objectPaths':           {{ object_path_json|safe }},
          'resourceData':          {{ resource_data_json|safe }},
       });

        matcher.render();
    });
  </script>
{% endblock %}

{% block content %}
  <div id='atk_matcher'></div>

  <!-- Templates -->

  <script type="text/template" id="matcher-layout-template">
    <div id="object_pane"></div>
    <div id="resource_pane"></div>
    <div id="button_pane">
      <input id='match_button' type='button' value='Match' class='btn' />
    </div>
    <div id="match_pane"></div>
  </script>

  <script type="text/template" id="object-path-template">
    <div class="atk-matcher-object-path" id="path_<%= index %>">
      <input id="path_<%= index %>_checkbox" type="checkbox" />
      <label for="path_<%= index %>_checkbox"><%= path %></label>
    </div>
  </script>

  <script type="text/template" id="resource-item-template">
    <div class="atk-matcher-resource-item" id="resource_<%= index %>">
      <%= padding %><%= title %>
    </div>
  </script>

  <script type="text/template" id="match-item-template">
    <div class="atk-matcher-match-item" id="match_<%= index %>">
      <div id="match_delete_<%= index %>" style="float:right">X</div>
      <%= path %>
    </div>
  </script>

{% endblock %}
