{% extends "layout_fluid.html" %}

{% block title %}Match{% endblock %}
{% block h1 %}Match{% endblock %}
{% block page_id %}atk_match{% endblock %}

{% block css %}
  <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/atk_match.css" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/ingest/atk_matcher.js"></script>

  <script type="text/javascript">
    $(document).ready(function()
      {
        var matcher = new ATKMatcherView({
          'el':                       $('#atk_matcher'),
          'matcherLayoutTemplate':    $('#matcher-layout-template').html(),
          'objectPaneCSSId':          'object_pane',
          'objectPaneSearchCSSId':    'object_pane_search',
          'objectPanePathsCSSId':     'object_pane_paths',
          'objectPathTemplate':       $('#object-path-template').html(),
          'resourcePaneCSSId':        'resource_pane',
          'resourcePaneSearchCSSId':  'resource_pane_search',
          'resourcePaneItemsCSSId':   'resource_pane_items',
          'resourceItemTemplate':     $('#resource-item-template').html(),
          'matchPaneCSSId':           'match_pane',
          'matchPanePairsCSSId':      'match_pane_pairs',
          'matchItemTemplate':        $('#match-item-template').html(),
          'matchButtonCSSId':         'match_button',
          'objectPaths':              {{ object_path_json|safe }},
          'resourceData':             {{ resource_data_json|safe }},
       });

        matcher.render();
    });
  </script>
{% endblock %}

{% block content %}
  <div id='atk_matcher'></div>

  <!-- Templates -->

  <script type="text/template" id="matcher-layout-template">
    <div id="object_pane">
      <h3>Objects</h3>
      <div id="object_pane_search">
        <input style="width: 150px" placeholder="Filter objects" />
        <img src="{{ STATIC_URL }}images/zoom.png" />
      </div>
      <div id="object_pane_paths"></div>
    </div>
    <div id="resource_pane">
      <h3>Resources</h3>
      <div id="resource_pane_search">
        <input style="width: 150px" placeholder="Filter resources" />
        <img src="{{ STATIC_URL }}images/zoom.png" />
      </div>
      <table id="resource_pane_items"></table>
    </div>
    <div id="button_pane">
      <h3>&nbsp;</h3>
      <input id='match_button' type='button' value='Pair' class='btn' />
    </div>
    <div id="match_pane">
      <h3>Pairs</h3>
      <div id="match_pane_pairs"></div>
    </div>
  </script>

  <script type="text/template" id="object-path-template">
    <div class="atk-matcher-object-path" id="path_<%= index %>">
      <input id="path_<%= index %>_checkbox" type="checkbox" />
      <label for="path_<%= index %>_checkbox"><%= path %></label>
    </div>
  </script>

  <script type="text/template" id="resource-item-template">
    <tr class="atk-matcher-resource-item" id="resource_<%= index %>">
      <td><%= padding %><%= title %></td>
      <td><%= identifier %></td>
      <td><%= levelOfDescription %></td>
    </tr>
  </script>

  <script type="text/template" id="match-item-template">
    <div class="atk-matcher-match-item" id="match_<%= index %>">
      <div id="match_delete_<%= index %>" style="float:right">
        <img src="{{ STATIC_URL }}images/delete.png" title="Delete match" />
      </div>
      <%= path %> - 
      <%= resource_title %>
    </div>
  </script>

{% endblock %}
