{% extends "layout_fluid.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Ingest" %}{% endblock %}
{% block h1 %}{% trans "Ingest" %}{% endblock %}
{% block page_id %}ingest{% endblock %}

{% block extra_css %}
<link href="{% static 'vendor/select2/select2.css' %}" rel="stylesheet" type="text/css" />

<link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/jobs.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/online.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/ingest.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/select2/select2.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function()
      {

        {% if polling_interval %}
          window.pollingInterval = {{ polling_interval }};
        {% endif %}

        window.Sips = new SipCollection;
        window.App = new AppView({
          statusUrl: '/ingest/status/',
        });
      });

    window.microservices_help = {
      {% for x, y in microservices_help.items %}
        '{{ x }}': '{{ y }}',
      {% endfor %}
    };

    {# TODO: use json_script #}
    window.job_statuses = {
      {% for x, y in job_statuses.items %}
        '{{ x }}': '{{ y }}',
      {% endfor %}
    };
  </script>
{% endblock %}

{% block topbar %}
  <div id="connection-status" class="pull-right"></div>
{% endblock %}

{% block content %}

  <div id="sip-container">
    <div>
      <span class='grid-pager-previous-area'></span> <span class='grid-pager-next-area'></span>
    </div>
    <div id="sip-header">
      <div id="sip-header-directory">{% trans "Submission Information Package" %}</div>
      <div id="sip-header-uuid">{% trans "UUID" %}</div>
      <div id="sip-header-timestamp">{% trans "Ingest start time" %}</div>
      <div id="sip-header-actions">&nbsp;</div>
      <div id="sip-header-actions">
        <a class="btn_remove_all_sips" href="#" title='{% trans "Remove all completed" %}'><span>&nbsp;</span></a>
      </div>
    </div>
    <div id="sip-body">
    </div>
    <div>
      <span class='grid-pager-previous-area'></span> <span class='grid-pager-next-area'></span>
    </div>
  </div>

  <!-- Templates -->

  <script type="text/template" id="sip-template">
    <div class="sip-row" id="sip-row-<%= uuid %>">
      <div class="sip-detail-icon-status"><%= this.getIcon() %></div>
      <div class="sip-detail-directory">
        <%= directory %>
        <abbr title="<%= uuid %>">{% trans "UUID" %}</span>
      </div>
      <div class="sip-detail-uuid"><%= uuid %></div>
      <div class="sip-detail-timestamp"><%= this.getIngestStartTime() %></div>
      <div class="sip-detail-actions">
        <a class="btn_show_metadata" href="#" title="{% trans 'Metadata' %}"><span>{% trans "Metadata" %}</span></a>
        <a class="btn_remove_sip" href="#" title="{% trans 'Remove' %}"><span>{% trans "Remove" %}</span></a>
      </div>
    </div>
    <div class="sip-detail-job-container"></div>
  </script>

  <script type="text/template" id="microservice-group-template">
    <div class="microservice-group" style="padding-bottom: 3px">
      &nbsp;<span class="microservice-group-arrow">&#x25B8;</span>
      <span class="microservice-group-name">{% trans "Microservice" %}: <%= name %></span>
    </div>
  </script>

  <script type="text/template" id="job-template">
    <div class="job-detail-microservice">
      <span class="job-type-label">{% trans "Job" %}</span>
      <span title="<%= uuid %>">
        <%= type %>
        <% if (obj.filename) { %> (file: <i><%= filename %></i>)<% } %>
      </span>
      <% tmp = window.microservices_help[type]; %>
      <% if (tmp !== undefined) { %>
        [<a href="#" title="<%= tmp %>">?</a>]
      <% } %>
    </div>
    <div class="job-detail-currentstep" data-currentstep="<%= currentstep %>">
      <span title="<%= new Date(timestamp * 1000).getArchivematicaDateTime() %> / <%= timestamp %>"><%= currentstep_label %></span>
    </div>
    <div class="job-detail-actions">
      <a class="btn_show_tasks" href="#" title="{% trans 'Tasks' %}"><span>{% trans "Tasks" %}</span></a>
    </div>
  </script>

  <script type="text/template" id="status-template">
    <div id="status-bullet">
      <span>{% trans "Initializing..." %}</span>
      <img src="{% static 'images/bullet_delete.png' %}" />
    </div>
  </script>

  <script type=="text/template" id="metadata-dialog">
    <form class="form-stacked">
      {% for field in form %}
        <div class="form-item clearfix">
          {{ field.errors }}
          {{ field.label_tag }}
          <div class="input">
            {% if field.name == "rights" or field.name == "description" %}
              <textarea class="col-md-9" name="{{ field.name }}" rows="4"><%= {{ field.name }} %></textarea>
            {% else %}
              <input class="xlarge col-md-9" type="text" name="{{ field.name }}" value="<%= {{ field.name }} %>" />
            {% endif %}
            {% if field.help_text %}
              <span class="help-block">{{ field.help_text }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </form>
  </script>

  <div id="upload-dip-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#" class="close" data-dismiss="modal">&times;</a>
          <h3>{% trans "Upload DIP" %} <img id="upload-dip-modal-spinner" src="/media/images/ajax-loader.gif" /></h3>
        </div>
        <div class="modal-body">
          <p>{% trans "Please provide the identifier required by the AtoM or Binder SWORD V1 deposit endpoint." %}</p>
          <ul>
            <li>{% trans "<strong>AtoM:</strong> In AtoM, this is the permalink or slug of the target archival description where the DIP will be attached as a child. For example, if the URL of the archival description is 'http://myAtoM.ca/newsletters-2;rad', then you would enter 'newsletters-2'." %}</li>
            <li>{% trans "<strong>Binder:</strong> In Binder, this is an identifier that indicates which resource or technology record the DIP will be attached to. Resources are preceded by 'ar:' (e.g. 'ar:123') and technology records are preceded by 'tr:' (e.g. 'tr:456')." %}</li>
          </ul>
          <form class="form-stacked">
            <div class="clearfix">
              <label>{% trans "Identifier" %}</label>
              <div class="input">
                <input class="col-md-8 form-control" type="text" />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-primary" data-dismiss="modal">{% trans "Upload" %}</a>
          <a href="#" class="btn btn-danger secondary" data-dismiss="modal">{% trans "Cancel" %}</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
