{% extends "layout_fluid.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Ingest" %}{% endblock %}
{% block h1 %}{% trans "Ingest" %}{% endblock %}
{% block page_id %}ingest{% endblock %}

{% block extra_css %}
<link href="{% static 'vendor/select2/select2.css' %}" rel="stylesheet" type="text/css" />

<!-- browser related -->
<link type="text/css" rel="stylesheet" media="all" href="{% static 'css/backbone-file-explorer.css' %}" />
<link type="text/css" rel="stylesheet" media="all" href="{% static 'css/directory_picker.css' %}" />

<link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/jobs.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/online.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/ingest.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/select2/select2.js' %}"></script>

  <!-- browser related -->
  <script type="text/javascript" src="{% static 'js/vendor/base64.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/file-explorer.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/file_browser.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/ingest/directory-metadata-form-dialog.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/ingest/ingest_file_browser.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/advanced-search-query-creator.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/ingest/backlog.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function()
      {
        var on_error = function(query_url) {
          console.log('Failed to get transfer backlog data from ' + query_url);
        };
        renderBacklogSearchForm('/ingest/backlog/', originals_browser.display_data.bind(originals_browser), on_error);

        {% if polling_interval %}
          window.pollingInterval = {{ polling_interval }};
        {% endif %}

        window.Sips = new SipCollection;
        window.App = new AppView({
          statusUrl: '/ingest/status/',
        });
      });

    window.microservices_help = {
      {% for x, y in microservices_help.iteritems %}
        '{{ x }}': '{{ y }}',
      {% endfor %}
    };

    {# TODO: use json_script #}
    window.job_statuses = {
      {% for x, y in job_statuses.iteritems %}
        '{{ x }}': '{{ y }}',
      {% endfor %}
    };
  </script>
{% endblock %}

{% block topbar %}
  <div id="connection-status" class="pull-right"></div>
{% endblock %}

{% block content %}

  {% if search_transfers_enabled %}
    {% include "ingest/backlog/_search_form.html" with show_files=False %}
    <div class="activity-indicator">
      <img src='/media/images/ajax-loader.gif' />
    </div>

    <div style='float:left;'>
      <div id='originals' class='backbone-file-explorer' style='float:left; width: 460px; margin-bottom: 10px;'></div>
      <div id='originals_controls'>
        <span id='open_originals_file_button' class='btn btn-default'>{% trans "View file" %}</span>
        <span id='originals_hide_button' class='btn btn-default'>{% trans "Hide" %}</span>
      </div>
    </div>
    <div style='margin-left: 30px; float:left;'>
      <div id='arrange' class='backbone-file-explorer' style='float:left; width: 460px; margin-bottom: 10px;'></div>
      <div id='arrange_controls'>
        <span id='arrange_create_directory_button' class='btn btn-default'>{% trans "Add directory" %}</span>
        <span id='arrange_edit_metadata_button' class='btn btn-default'>{% trans "Edit metadata" %}</span>
        <span id='arrange_delete_button' class='btn btn-default'>{% trans "Delete" %}</span>
        <span id='arrange_create_sip_button' class='btn btn-primary'>{% trans "Create SIP" %}</span>
      </div>
    </div>
    <br clear='all' />
    <br />
  {% endif %}

  <div id="sip-container">
    <div>
      <span class='grid-pager-previous-area'></span> <span class='grid-pager-next-area'></span>
    </div>
    <div id="sip-header">
      <div id="sip-header-directory">{% trans "Submission Information Package" %}</div>
      <div id="sip-header-uuid">{% trans "UUID" %}</div>
      <div id="sip-header-timestamp">{% trans "Ingest start time" %}</div>
      <div id="sip-header-actions">&nbsp;</div>
      <div id="sip-header-actions">
        <a class="btn_remove_all_sips" href="#" title='{% trans "Remove all completed" %}'><span>&nbsp;</span></a>
      </div>
    </div>
    <div id="sip-body">
    </div>
    <div>
      <span class='grid-pager-previous-area'></span> <span class='grid-pager-next-area'></span>
    </div>
  </div>

  <div id="directory-metadata-form" class="modal fade" role="dialog"></div>

  <!-- Templates -->

  <script type="text/template" id='template-dir-level'>
    <div class="backbone-file-explorer-level"></div>
  </script>

  <script type="text/template" id='template-dir-entry'>
    <div class="backbone-file-explorer-entry" style='clear:both'>
      <span class="backbone-file-explorer-directory_icon_button"></span>
      <span class="backbone-file-explorer-directory_entry_name"><%= name %> <i><%= extra %></i></span>
      <span class="backbone-file-explorer-directory_entry_actions"></span>
    </div>
  </script>

  <script type="text/template" id='directory-metadata-form-modal'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" id="directory-metadata-form-close" data-dismiss="modal">×</button>
          <h3>{% trans "Edit metadata" %}</h3>
        </div>
        <div class="modal-body" id="directory-metadata-form-body">
          <% if (levels.length > 1) { %>
            <table class="table">
              <tbody>
                <tr>
                  <td>{% trans "AtoM level of description" %}</td>
                  <td>
                    <select id="directory-metadata-form-lod-select" class="form-control">
                      <% _.each(levels, function(level){ %>
                        <option value="<%= level.id %>"
                        <% if (level.name === currentLevel) { %>selected<% } %>
                        ><%= level.name %>
                      <% }); %>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          <% } else { %>
            <strong>{% trans "No AtoM levels of description found. Please contact an administrator." %}</strong>
          <% } %>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-default" data-dismiss="modal" id="directory-metadata-form-cancel">{% trans "Cancel" %}</a>
          <% if (levels.length > 1) { %>
          <a href="#" class="btn btn-default" data-dismiss="modal" id="directory-metadata-form-save">{% trans "Save" %}</a>
          <% } %>
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="sip-template">
    <div class="sip-row" id="sip-row-<%= uuid %>">
      <div class="sip-detail-icon-status"><%= this.getIcon() %></div>
      <div class="sip-detail-directory">
        <%= directory %>
        <abbr title="<%= uuid %>">{% trans "UUID" %}</span>
      </div>
      <div class="sip-detail-uuid"><%= uuid %></div>
      <div class="sip-detail-timestamp"><%= this.getIngestStartTime() %></div>
      <div class="sip-detail-actions">
        <a class="btn_show_metadata" href="#" title="{% trans 'Metadatos' %}"><span>{% trans "Metadatos" %}</span></a>
        <a class="btn_remove_sip" href="#" title="{% trans 'Remove' %}"><span>{% trans "Remove" %}</span></a>
      </div>
    </div>
    <div class="sip-detail-job-container"></div>
  </script>

  <script type="text/template" id="microservice-group-template">
    <div class="microservice-group" style="padding-bottom: 3px">
      &nbsp;<span class="microservice-group-arrow">&#x25B8;</span>
      <span class="microservice-group-name">{% trans "Microservice" %}: <%= name %></span>
    </div>
  </script>

  <script type="text/template" id="job-template">
    <div class="job-detail-microservice">
      <span class="job-type-label">{% trans "Job" %}</span>
      <span title="<%= uuid %>">
        <%= type %>
        <% if (obj.filename) { %> (file: <i><%= filename %></i>)<% } %>
      </span>
      <% tmp = window.microservices_help[type]; %>
      <% if (tmp !== undefined) { %>
        [<a href="#" title="<%= tmp %>">?</a>]
      <% } %>
    </div>
    <div class="job-detail-currentstep" data-currentstep="<%= currentstep %>">
      <span title="<%= new Date(timestamp * 1000).getArchivematicaDateTime() %> / <%= timestamp %>"><%= currentstep_label %></span>
    </div>
    <div class="job-detail-actions">
      <a class="btn_show_tasks" href="#" title="{% trans 'Tasks' %}"><span>{% trans "Tasks" %}</span></a>
    </div>
  </script>

  <script type="text/template" id="status-template">
    <div id="status-bullet">
      <span>{% trans "Initializing..." %}</span>
      <img src="{% static 'images/bullet_delete.png' %}" />
    </div>
  </script>

  <script type=="text/template" id="metadata-dialog">
    <form class="form-stacked">
      {% for field in form %}
        <div class="form-item clearfix">
          {{ field.errors }}
          {{ field.label_tag }}
          <div class="input">
            {% if field.name == "rights" or field.name == "description" %}
              <textarea class="col-md-9" name="{{ field.name }}" rows="4"><%= {{ field.name }} %></textarea>
            {% else %}
              <input class="xlarge col-md-9" type="text" name="{{ field.name }}" value="<%= {{ field.name }} %>" />
            {% endif %}
            {% if field.help_text %}
              <span class="help-block">{{ field.help_text }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </form>
  </script>

  <div id="upload-dip-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#" class="close" data-dismiss="modal">&times;</a>
          <h3>{% trans "Upload DIP" %} <img id="upload-dip-modal-spinner" src="/media/images/ajax-loader.gif" /></h3>
        </div>
        <div class="modal-body">
          <p>{% trans "Please provide the identifier required by the AtoM or Binder SWORD V1 deposit endpoint." %}</p>
          <ul>
            <li>{% trans "<strong>AtoM:</strong> In AtoM, this is the permalink or slug of the target archival description where the DIP will be attached as a child. For example, if the URL of the archival description is 'http://myAtoM.ca/newsletters-2;rad', then you would enter 'newsletters-2'." %}</li>
            <li>{% trans "<strong>Binder:</strong> In Binder, this is an identifier that indicates which resource or technology record the DIP will be attached to. Resources are preceded by 'ar:' (e.g. 'ar:123') and technology records are preceded by 'tr:' (e.g. 'tr:456')." %}</li>
          </ul>
          <form class="form-stacked">
            <div class="clearfix">
              <label>{% trans "Identifier" %}</label>
              <div class="input">
                <input class="col-md-8 form-control" type="text" />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-primary" data-dismiss="modal">{% trans "Upload" %}</a>
          <a href="#" class="btn btn-danger secondary" data-dismiss="modal">{% trans "Cancel" %}</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
