{% extends "layout_fluid.html" %}
{% load breadcrumb %}

{% block content %}
  <div class="row">
    <div class="col-md-12">

      <ul class="breadcrumb">
        {% breadcrumb_url 'Ingest' 'ingest:ingest_index' %}
        {% breadcrumb_url name 'unit:detail' 'ingest' uuid %}
        {% breadcrumb 'Metadata' %}
      </ul>

      <h1>Metadata<br /><small>{{ name }}</small></h1>

      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Applies to</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in metadata %}
            <tr>
              <td>{{ item }}</td>
              <td>{{ name }}</td>
              <td>
                <a href='{% url 'ingest:ingest_metadata_edit' uuid item.id %}'>Edit</a>
                <a href='{% url 'ingest:ingest_metadata_delete' uuid item.id %}'>Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="actions" style="padding-left: 1em;">
        <a class="btn btn-primary" href="{% url 'ingest:ingest_metadata_add' uuid %}">Add</a>
      </div>

    </div>
  </div>
{% endblock %}
