{% extends "layout_fluid.html" %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jobs.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ingest/normalization_report.js"></script>
{% endblock %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>File name</th>
        <th>File format</th>
        <th>Preservation normalization attempted</th>
        <th>Preservation normalization failed</th>
        <th>Already in preservation format</th>
        <th>Access normalization attempted</th>
        <th>Access normalization failed</th>
        <th>Already in access format</th>
      </tr>
    </thead>
    <tbody>
      {% for item in page.objects %}
        <tr>
          <!-- File name -->
          <td><a class="file-location" href="#" title="Location" data-location="{{ item.location }}">{{ item.fileName }}</a></td>
          <td><a class="file-location" href="#" title="Format" data-location="{{ item.description }}">{{ item.description }}</a></td>

          <!-- Never red -->
          <td>
            {% if item.preservation_normalization_task_uuid %}
              <span id='normalization-report-task-{{ item.preservation_normalization_task_uuid }}' class='normalization-report-task'>{{ item.preservation_normalization_attempted|yesno:"Yes,No" }}</span>
            {% else %}
              {{ item.preservation_normalization_attempted|yesno:"Yes,No" }}
            {% endif %}
          </td>

          <!-- Red when yes -->
          <td class="{{ item.preservation_normalization_failed|yesno:"error,ok" }}">
            {% if item.preservation_normalization_task_uuid %}
              <span id='normalization-report-task-{{ item.preservation_normalization_task_uuid }}' class='normalization-report-task'>{{ item.preservation_normalization_failed|yesno:"Yes,No" }}</span>
            {% else %}
              {{ item.preservation_normalization_failed|yesno:"Yes,No" }}
            {% endif %}
          </td>

          <!-- Red is reservation_normalization_attempted is No and already_in_preservation_format is No -->
          <td{% if not item.preservation_normalization_attempted and not item.already_in_preservation_format %} class="error"{% endif %}>
            {% if item.preservation_normalization_task_uuid %}
              <span id='normalization-report-task-{{ item.preservation_normalization_task_uuid }}' class='normalization-report-task'>{{ item.already_in_preservation_format|yesno:"Yes,No" }}</span>
            {% else %}
              {{ item.already_in_preservation_format|yesno:"Yes,No" }}
            {% endif %}
          </td>

          <!-- Never red -->
          <td>
            {% if item.access_normalization_task_uuid %}
              <span id='normalization-report-task-{{ item.access_normalization_task_uuid }}' class='normalization-report-task'>{{ item.access_normalization_attempted|yesno:"Yes,No" }}</span>
            {% else %}
              {{ item.access_normalization_attempted|yesno:"Yes,No" }}
            {% endif %}
          </td>

          <!-- Red when yes -->
          <td class="{{ item.access_normalization_failed|yesno:"error,ok" }}">
            {% if item.access_normalization_task_uuid %}
              <span id='normalization-report-task-{{ item.access_normalization_task_uuid }}' class='normalization-report-task'>{{ item.access_normalization_failed|yesno:"Yes,No" }}</span>
            {% else %}
              {{ item.access_normalization_failed|yesno:"Yes,No" }}
            {% endif %}
          </td>

          <!-- Red is [already_in_preservation_format is No and access_normalization_failed is No -->
          <td{% if not item.access_normalization_attempted and not item.already_in_access_format %} class="error"{% endif %}>
            {% if item.access_normalization_task_uuid %}
              <span id='normalization-report-task-{{ item.access_normalization_task_uuid }}' class='normalization-report-task'>{{ item.already_in_access_format|yesno:"Yes,No" }}</span>
            {% else %}
              {{ item.already_in_access_format|yesno:"Yes,No" }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if page.has_other %}
    Showing {{ page.start_index }}-{{ page.end_index }} of {{ page.total_items }}
    <div style='float:right'>
    {% if page.has_previous %}
      <a href="{% url components.ingest.views.ingest_normalization_report uuid page.previous %}" class="btn">Previous</a>
      {% if page.has_next %}
        &nbsp;
      {% endif %}
    {% endif %}
    {% if page.has_next %}
      <a href="{% url components.ingest.views.ingest_normalization_report uuid page.next %}" class="btn">Next</a>
    {% endif %}
    </div>
  {% endif %}

{% endblock %}
