{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}
{% load static %}

{% block js %}
  <script src="{% static 'vendor/jquery.inputmask.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/repeating-ajax-data.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/rights_edit.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">

      {% trans "Ingest" as ingest_label %}
      {% trans "Rights" as rights_label %}
      {% trans "Transfer" as transfer_label %}
      {% trans "Edit" as edit_label %}
      {% trans "Add" as add_label %}

      <ul class="breadcrumb">
        {% if section == 'ingest' %}
          {% breadcrumb_url ingest_label 'components.ingest.views.ingest_grid' %}
          {% breadcrumb_url name 'components.unit.views.detail' 'ingest' uuid %}
          {% breadcrumb_url rights_label 'components.rights.views.ingest_rights_list' uuid %}
        {% else %}
          {% breadcrumb_url transfer_label 'components.transfer.views.grid' %}
          {% breadcrumb_url name 'components.unit.views.detail' 'transfer' uuid %}
          {% breadcrumb_url rights_label 'components.rights.views.transfer_rights_list' uuid %}
        {% endif %}
        {% if id %}
          {% breadcrumb edit_label %}
        {% else %}
          {% breadcrumb add_label %}
        {% endif %}
      </ul>

      <h1>
        {{ rights_label }}<br />
        <small>{{ name }}</small>
      </h1>

      {% if request.method == 'POST' %}
        <div class="alert alert-success">
          <p><strong>{% trans "Saved" %}</strong></p>
        </div>
      {% endif %}

      {% if new_content_type_created %}
          <div class="alert alert-info">
            {% if new_content_type_created %}
              <p>{% trans "You may now add additional information such as document identifers and notes." %}</p>
            {% endif %}
          </div>
      {% endif %}

      {% if section == 'ingest' %}
        <form class="form-stacked" method="post" action="{% url 'components.rights.views.ingest_rights_grants_edit' uuid id %}">
      {% else %}
        <form class="form-stacked" method="post" action="{% url 'components.rights.views.transfer_rights_grants_edit' uuid id %}">
      {% endif %}

        {{ grantFormset.management_form }}
        {{ grantFormset.non_form_errors.as_ul }}

        {% for form in grantFormset %}
          <div class='grant-fieldset'>
          {% include "_form.html" %}

          <div class='rights-grant-restrictions repeating-ajax-data-fieldset'>
            <label>Grant/restriction</label>

            <div id='rightsrestrictions_{{ form.instance.pk }}' class='repeating-data'></div>

            <div class='repeating-ajax-data-row'>
              <select name='new_rights_restriction_{{ form.instance.pk }}' class="form-control">
                <option></option>
                <option value='Allow'>{% trans "Allow" %}</option>
                <option value='Disallow'>{% trans "Disallow" %}</option>
                <option value='Conditional'>{% trans "Conditional" %}</option>
              </select>
            </div>
          </div>

          <div class='repeating-ajax-data-fieldset'>
            <label>{% trans "Grant/restriction note" %}</label>

            <div id='rightsfields_{{ form.instance.pk }}' class='repeating-data'></div>

            <div class='repeating-ajax-data-row'>
              <textarea name='new_rights_note_{{ form.instance.pk }}' class="form-control"></textarea>
            </div>
          </div>

          <script>
          $(document).ready(function() {
            setUpRepeatingRightsGrantedRestrictionRecords('{{ form.instance.pk }}');
            setUpRepeatingRightsGrantedNotesRecords('{{ form.instance.pk }}');
          });
          </script>
          </div>
        {% endfor %}

        <div class="actions">
          <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>

          <button type="submit" name='next_button' value='Next' class="btn btn-primary">{% trans "Done" %}</button>

          {% if section == 'ingest' %}
            <a href="{% url 'components.rights.views.ingest_rights_list' uuid %}" class="btn btn-default">{% trans "Cancel" %}</a>
          {% else %}
             <a href="{% url 'components.rights.views.transfer_rights_list' uuid %}" class="btn btn-default">{% trans "Cancel" %}</a>
          {% endif %}
        </div>

      </form>
    </div>
  </div>

  <script>
  // hide form to create new child data: if removed then child data can be freely created
  $(document).ready(function() {
    setInterval(function() {
      hideNewFormsWhenDataExists();
    }, 200);
  });
  </script>
{% endblock %}
