{% extends "layout_fluid.html" %}
{% load i18n %}

{% block title %}{% trans "Appraisal" %}{% endblock %}
{% block h1 %}{% trans "Appraisal" %}{% endblock %}
{% block page_id %}Appraisal{% endblock %}

{% block extra_css %}
<link href="{{ STATIC_URL }}vendor/select2/select2.css" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/backbone-file-explorer.css" />
<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/directory_picker.css" />
<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/transfer_grid.css" />
<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/search.css" />
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}js/advanced-search-query-creator.js"></script>
<script src="{{ STATIC_URL }}js/ingest/backlog.js"></script>
<script src="{{ STATIC_URL }}js/build/dashboard.js"></script>
{% endblock %}

{% block content %}
{% if search_transfers_enabled %}
  {% verbatim %}
  <div ng-app="dashboard">
    <ng-include src="'front_page/appraisal_tab.html'"></ng-include>
  </div>
  {% endverbatim %}
{% else %}
  <h1>{% trans "Elasticsearch Indexing Disabled" %}</h1>
  <p class="es-indexing-disabled">{% trans "Sorry, Elasticsearch indexing has been disabled for the Transfers related indexes in this Archivematica installation. The appraisal tab is non-functional when indexing is turned off." %}</p>
{% endif %}
{% endblock %}
