{% extends "layout_fluid.html" %}
{% load i18n %}

{% block content %}

<h1>{{ prompt }}</h1>

<p>{% trans "Choosing to delete this package will send a request to your Archival Storage administrator. If the administrator approves the request, your package will be deleted from your Archival Storage and your index will be updated. If the administrator denies the request, the package will remain in storage and the administrator will contact you." %}</p>
<br/>

<form method="POST" action="">
  {% csrf_token %}
  <input type="hidden" name="__confirm__" value="1" />
  <p>
    <strong>{% trans "Reason for deletion:" %}</strong>
  </p>
  <p>
    <textarea name="reason_for_deletion"></textarea>
  </p>
  <input type="submit" value="{{ action }}" class='btn btn-danger' /> <a href="{{ cancel_url }}" class='btn btn-default'>{% trans "Cancel" %}</a>
</form>

{% endblock %}
