Source: sanitize-names
Section: utils
Priority: extra
Maintainer: Austin Trask <austin@artefactual.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://archivematica.org

Package: sanitize-names
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-unidecode
Description: sanitize names for Archivematica
  sanitize names for Archivematica
  
