Source: sanitize-names
Section: utils
Priority: extra
Maintainer: Austin Trask <austin@artefactual.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://archivematica.org

Package: sanitize-names
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-unidecode
Description: sanitize names for Archivematica
  sanitize names for Archivematica
  
