{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block title %}{% trans "Administration" %}{% endblock %}
{% block h1 %}{% trans "Administration" %}{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <h3>{% trans "REST API configuration" %}</h3>

      <h4>{% trans "IP allowlist" %}</h4>

      <p>{% trans "Enter a whitespace-separated list of IPs or hostnames permitted to use the API." %}</p>
      <p>{% trans "If the allowlist is left empty, all IPs and hostnames will be allowed." %}</p>

      <div style='width: 500px; height: 300px;'>
      <form method='POST'>
        {% csrf_token %}
        <textarea name='allowlist' class='form-control' style='margin-bottom: 1em;'>{{ allowlist }}</textarea>
        <div>
          <input type='submit' value='{% trans "Save" %}' class='btn btn-primary' />
        </div>
      </form>
      </div>

    </div>

  </div>

</div>

{% endblock %}
