{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block title %}{% trans "Administration" %}{% endblock %}
{% block h1 %}{% trans "Administration" %}{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <div style='margin-top: 10px; padding: 5px 15px 5px 15px; float:right; background-color: #eee;'>
        <p>
          {% blocktrans with uuid=dashboard_uuid %}
            <b>Dashboard UUID</b> {{ uuid }}
          {% endblocktrans %}
        </p>
      </div>

      <h3>{% trans "General configuration" %}</h3>

      <form method='POST'>
        {% csrf_token %}

        {% include "_form.html" with form=general_form %}

        <h4>{% trans "Storage Service options" %}</h4>

        {% include "_form.html" with form=storage_form %}

        <h4>{% trans "Checksum algorithm" %}</h4>

        {% include "_form.html" with form=checksum_form %}

        <h4>{% trans "Elasticsearch Indexing" %}</h4>

        <ul>
          <li>
            {% if search_transfers_enabled %}
              {% trans "Transfers related indexes enabled." %}
            {% else %}
              {% trans "Transfers related indexes disabled." %}
            {% endif %}
          </li>
          <li>
            {% if search_aips_enabled %}
              {% trans "AIPs related indexes enabled." %}
            {% else %}
              {% trans "AIPs related indexes disabled." %}
            {% endif %}
          </li>
        </ul>

        <div>
          <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary">
        </div>

      </form>

    </div>

  </div>

</div>

{% endblock %}
