{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block title %}{% trans "Administration" %}{% endblock %}
{% block h1 %}{% trans "Administration" %}{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <h3>{% trans "Handle Configuration for Persistent Identifier (PID) Binding" %}</h3>

      <form method='POST'>
      {% csrf_token %}
      {% include "_form.html" %}
        <div>
          <input type='submit' value='{% trans "Save" %}' class='btn btn-primary' />
        </div>
      </form>

    </div>

  </div>

</div>

{% endblock %}
