{% extends "layout_fluid.html" %}
{% load i18n %}

{% block title %}{% trans "Administration" %}{% endblock %}
{% block h1 %}{% trans "Administration" %}{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <h3>{% trans "Processing configuration" %}</h3>

      <form class="form-stacked" method="post">

        {% csrf_token %}

        <table class="table">

          {% for field in form %}
            <tr>
              <td>
                {{ field.label_tag }}
                {{ field.errors }}
              </td>
              <td>{{ field }}</td>
            </tr>
          {% endfor %}

        </table>

        <div class="actions">
          <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}"/>
          <a class="btn btn-default" href="{% url 'administration:processing' %}">{% trans "Cancel" %}</a>
        </div>

      </form>

    </div>

  </div>

</div>

{% endblock %}
