{% load active %}
{% load i18n %}

<div class="col-md-2 sidebar">

  {% url 'administration:processing' as url_processing %}
  {% url 'administration:general' as url_general %}
  {% url 'administration:reports_failures_index' as failure_report %}
  {% url 'administration:dips_atom_index' as url_atom_dip %}
  {% url 'administration:dips_as' as url_as_dips %}
  {% url 'administration:storage' as url_storage %}
  {% url 'administration:usage' as url_usage %}
  {% url 'administration:premis_agent' as url_premis %}
  {% url 'administration:api' as url_api %}
  {% url 'administration:version' as url_version %}
  {% url 'administration:admin_set_language' as url_language %}
  {% url 'administration:handle' as handle_config %}
  {% url 'accounts:accounts_index' as url_user_list %}

  <ul>
    <li class="{% active request url_processing %}"><a href="{{ url_processing }}">{% trans "Processing configuration" %}</a></li>

    <li class="{% active request url_general %}"><a href="{{ url_general }}">{% trans "General" %}</a></li>

    <li class="{% active request failure_report %}"><a href="{{ failure_report }}">{% trans "Failures" %}</a></li>

    <li class="{% active request url_storage %}"><a href="{{ url_storage }}">{% trans "Storage locations" %}</a></li>

    <li class="{% active request url_usage %}"><a href="{{ url_usage }}">{% trans "Processing storage usage" %}</a></li>

    <li>
      {% trans "DIP upload" %}
      <ul>
        <li class="{% active request url_atom_dip %}"><a href="{{ url_atom_dip }}">{% trans "AtoM/Binder" %}</a></li>
        <li class="{% active request url_as_dips %}"><a href="{{ url_as_dips }}">{% trans "ArchivesSpace" %}</a></li>
      </ul>
    </li>

    <li class="{% active request url_premis %}"><a href="{{ url_premis }}">{% trans "PREMIS agent" %}</a></li>

    <li class="{% active request url_api %}"><a href="{{ url_api }}">{% trans "REST API" %}</a></li>

    {% if user.is_superuser %}
      <li class="{% active request url_user_list %}"><a href="{{ url_user_list }}">{% trans "Users" %}</a></li>
    {% endif %}

    <li class="{% active request handle_config %}" ><a href="{{ handle_config }}">{% trans "Handle server config" %}</a></li>

    <li class="{% active request url_language %}"><a href="{{ url_language }}">{% trans "Language" %}</a></li>

    <li class="{% active request url_version %}"><a href="{{ url_version }}">{% trans "Version" %}</a></li>
  </ul>

</div>
