{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block title %}{% trans "Administration" %}{% endblock %}
{% block h1 %}{% trans "Administration" %}{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <ul class="breadcrumb">
        {% trans "Taxonomy" as taxonomy_label %}
        {% breadcrumb_url taxonomy_label 'administration:taxonomy' %}
        {% breadcrumb taxonomy.name %}
      </ul>

      <h3>Terms</h3>

      {% for term in page.objects %}
        <p><a href='/administration/taxonomy/term/{{ term.pk }}'>{{ term.term }}</a></p>
      {% endfor %}

      {% if page.has_other %}
      {% if page.has_previous %}
      <a class='btn btn-default' href='/administration/taxonomy/terms/{{ taxonomy_uuid }}/?page={{ page.previous }}'>{% trans "Previous page" %}</a>
      {% endif %}

      {% if has_next and has_previous %}&nbsp;{% endif %}

      {% if page.has_next %}
      <a class='btn btn-default' href='/administration/taxonomy/terms/{{ taxonomy_uuid }}/?page={{ page.next }}'>{% trans "Next page" %}</a>
      {% endif %}
      {% endif %}
    </div>

  </div>

</div>

{% endblock %}
