{% extends "fpr/app_layout.html" %}
{% load i18n %}
{% load revisions_link %}

{% block title %}{{ block.super }} - {% blocktrans with description=format.description %}Format version {{ description }}{% endblocktrans %}{% endblock title %}
{% block page_title %}{% blocktrans with format=format %}Format version {{ format }}{% endblocktrans %}{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'fpr:format_list' %}">{% trans "Formats" %}</a></li>
<li><a href="{% url 'fpr:format_detail' format.slug %}">{{ format.description }}</a></li>
<li>{{ version.description }}</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="col-xs-10">

    {% revisions_link "formatversion" version.uuid %}

    <div class='format'>
        <dl>
            <dt>{% trans "UUID" %}</dt> <dd>{{ version.uuid }}</dd>
            <dt>{% trans "Description" %}</dt> <dd>{{ version.description }}</dd>
            <dt>{% trans "Version" %}</dt> <dd>{{ version.version }}</dd>
            <dt>{% trans "Pronom" %} ID</dt> <dd>{{ version.pronom_id }}</dd>
            <dt>{% trans "Format" %}</dt> <dd><a href="{% url 'fpr:format_detail' format.slug %}">{{ format.description }}</a></dd>
            <dt>{% trans "Access?" %}</dt> <dd>{{ version.access_format|yesno:_('Yes,No') }}</dd>
            <dt>{% trans "Preservation" %}?</dt> <dd>{{ version.preservation_format|yesno:_('Yes,No') }}</dd>
            <dt>{% trans "Enabled" %}</dt> <dd>{{ version.enabled|yesno:_('Yes,No') }}</dd>
            {% if request.user.is_superuser %}
            <dt>{% trans "Actions" %}</dt> <dd><a href="{% url 'fpr:formatversion_edit' format.slug version.slug %}">{% trans "Replace" %}</a></dd>
            {% endif %}
        </dl>
    </div>

  </div> <!-- /col-xs-10 -->
</div> <!-- /row -->

{% endblock app_content %}
