{% extends "fpr/app_layout.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% blocktrans with description=idtool.description %}Identification tool {{ description }}{% endblocktrans %}{% endblock title %}
{% block page_title %}{% blocktrans with description=idtool.description %}Identification tool {{ description }}{% endblocktrans %}{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'fpr:idtool_list' %}">{% trans "Identification tools" %}</a></li>
<li>{{ idtool.description }}</li>
{% endblock breadcrumbs %}

{% block app_content %}


    <div class='format'>
      <dl>
        <dt>{% trans "UUID" %}</dt>
        <dd>{{ idtool.uuid }}</dd>
        <dt>{% trans "Description" %}</dt>
        <dd>{{ idtool.description }}</dd>
        <dt>{% trans "Version" %}</dt>
        <dd>{{ idtool.version }}</dd>
        <dt>{% trans "Selected for identification" %}</dt>
        <dd>{{ selected|yesno:_('Yes,No') }}</dd>
      </dl>
    </div>
    {% if request.user.is_superuser and selectable_command and not selected %}
      <div class="well well-sm">
        <form action="{% url 'fpr:idtool_select' idtool.slug %}" method="post">
          {% csrf_token %}
          <button class="btn btn-primary btn-sm" type="submit">{% trans "Use this tool for identification" %}</button>
        </form>
      </div>
    {% elif request.user.is_superuser and not selectable_command %}
      <div class="alert alert-warning">
        {% trans "This tool cannot be selected because it does not have one unambiguous current implementation." %}
      </div>
    {% endif %}

{% endblock app_content %}
