{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}
{% load keyvalue %}

{% block content %}
  <div class="row">
    <div class="col-md-12">

      {% trans "Transfer" as transfer_label %}
      {% trans "Component metadata" as rights_label %}

      <ul class="breadcrumb">
        {% breadcrumb_url transfer_label 'transfer:transfer_index' %}
        {% breadcrumb component_metadata_label %}
      </ul>

      <form method='POST'>
      {% csrf_token %}
      <input name='path' type='hidden' value='{{ path }}'/>
      <table class="table">
      {% for field in fields %}
        <tr>
          <td>
            <label>{{ field.fieldlabel }}</label>
          </td>
          <td>
            {% if field.fieldtype == 'text' %}
              <input name='{{ field.fieldname }}' value='{{ values|keyvalue:field.fieldname }}' />
            {% endif %}

            {% if field.fieldtype == 'textarea' %}
              <textarea name='{{ field.fieldname }}'>{{ values|keyvalue:field.fieldname }}</textarea>
            {% endif %}

            {% if field.fieldtype == 'select' %}
              <select name='{{ field.fieldname }}'>
                {% with values|keyvalue:field.fieldname as select_value %}
                  {% for optiondata in options %}
                    {% if optiondata.field == field %}
                      {% for option in optiondata.options %}
                        <option {% if option == select_value %}selected{% endif %}>{{ option }}</option>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                {% endwith %}
              </select>

            {% endif %}
          </td>
        </tr>
      {% endfor %}
        <tr>
          <td colspan=2>
            <input type='submit' value='{% trans "Save" %}' />
          </td>
        </tr>
      </table>
      </form>

    </div>
  </div>
{% endblock %}
