{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}
{% load static %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/contextual_help.js' %}"></script>
{% endblock %}

{% block content %}
<style>
#contextual_help {
  width: 220px;
  background-color: #eee;
  padding: 1em;
  position: absolute;
  left: 700px;
}
</style>

<script>
$(document).ready(function() {
  archivematicaEnableContextualHelp();
});
</script>

  <div class="row">
    <div class="col-md-12">

      {% trans "Transfer" as transfer_label %}
      {% trans "Metadata" as metadata_label %}
      {% trans "Edit" as edit_label %}
      {% trans "Add" as add_label %}

      <ul class="breadcrumb">
        {% breadcrumb_url transfer_label 'transfer:transfer_index' %}
        {% breadcrumb_url name 'unit:detail' 'transfer' uuid %}
        {% breadcrumb_url metadata_label 'transfer:transfer_metadata_list' uuid %}
        {% if id %}
          {% breadcrumb edit_label %}
        {% else %}
          {% breadcrumb add_label %}
        {% endif %}
      </ul>

      <h1>
        {{ metadata_label }}<br />
        <small>{{ name }}</small>
      </h1>

      {% if id %}
        <form class="form-stacked" method="post" action="{% url 'transfer:transfer_metadata_edit' uuid id %}">
      {% else %}
        <form class="form-stacked" method="post" action="{% url 'transfer:transfer_metadata_add' uuid %}">
      {% endif %}

        {% csrf_token %}
        {% include "_form.html" %}

        <div class="actions">
          {% if id %}
            <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}" />
          {% else %}
            <input type="submit" class="btn btn-primary" value="{% trans 'Create' %}" />
          {% endif %}
          <a href="{% url 'transfer:transfer_metadata_list' uuid %}" class="btn btn-default">{% trans "Cancel" %}</a>
        </div>

      </form>

    </div>
  </div>

  <!-- define contextual help -->

  <div id='id_title_help' style='display:none'>
    <p>{% trans "A name given to the resource." %} (<a href="http://dublincore.org/documents/dces/" target="_blank">ISO15836</a>)</p>
  </div>

  <div id='id_creator_help' style='display:none'>
    <p>{% trans "An entity primarily responsible for making the resource." %} (<a href="http://dublincore.org/documents/dces/" target="_blank">ISO15836</a>)</p>
  </div>

  <div id='id_subject_help' style='display:none'>
    <p>{% trans "The topic of the resource." %} (<a href="http://dublincore.org/documents/dces/" target="_blank">ISO15836</a>)</p>
  </div>

  <div id='id_description_help' style='display:none'>
    <p>{% trans "An account of the resource." %} (<a href="http://dublincore.org/documents/dces/" target="_blank">ISO15836</a>)</p>
  </div>

  <div id='id_publisher_help' style='display:none'>
    <p>{% trans "An entity responsible for making the resource available." %} (<a href="http://dublincore.org/documents/dces/" target="_blank">ISO15836</a>)</p>
  </div>

  <div id='id_contributor_help' style='display:none'>
    <p>{% trans "An entity responsible for making contributions to the resource." %} (<a href="http://dublincore.org/documents/dces/" target="_blank">ISO15836</a>)</p>
  </div>

  <div id='id_date_help' style='display:none'>
    <p>{% trans "A point or period of time associated with an event in the lifecycle of the resource." %} (<a href="http://dublincore.org/documents/dces/" target="_blank">ISO15836</a>)</p>
  </div>

  <div id='id_type_help' style='display:none'>
    <p>
      {% trans "The nature or genre of the resource." %}
      (<a href="http://dublincore.org/documents/dces/" target="_blank">ISO15836</a>)
      {% blocktrans %}
        You may wish to use the DCMI type vocabulary provided here: <a href="http://dublincore.org/documents/dcmi-type-vocabulary/">http://dublincore.org/documents/dcmi-type-vocabulary/</a>
      {% endblocktrans %}
    </p>
  </div>

  <div id='id_format_help' style='display:none'>
    <p>
      {% trans "The file format, physical medium, or dimensions of the resource." %}
      (<a href="http://dublincore.org/documents/dces/" target="_blank">ISO15836</a>)
      {% blocktrans %}
        Best practice is to use a controlled vocabulary such as the list of Internet Media Types [MIME] provided here: <a href="http://www.iana.org/assignments/media-types/" target="_blank">http://www.iana.org/assignments/media-types/</a>
      {% endblocktrans %}
    </p>
  </div>

  <div id='id_identifier_help' style='display:none'>
    <p>{% trans "An unambiguous reference to the resource within a given context." %} (<a href="http://dublincore.org/documents/dces/" target="_blank">ISO15836</a>)</p>
  </div>

  <div id='id_source_help' style='display:none'>
    <p>{% trans "A related resource from which the described resource is derived." %} (<a href="http://dublincore.org/documents/dces/" target="_blank">ISO15836</a>)</p>
  </div>

  <div id='id_relation_help' style='display:none'>
    <p>{% trans "A related resource." %} (<a href="http://dublincore.org/documents/dces/" target="_blank">ISO15836</a>)</p>
  </div>

  <div id='id_language_help' style='display:none'>
    <p>{% trans "A language of the resource." %} (<a href="http://dublincore.org/documents/dces/" target="_blank">ISO15836</a>)</p>
  </div>

  <div id='id_coverage_help' style='display:none'>
    <p>{% trans "The spatial or temporal topic of the resource, the spatial applicability of the resource, or the jurisdiction under which the resource is relevant." %} (<a href="http://dublincore.org/documents/dces/" target="_blank">ISO15836</a>)</p>
  </div>

  <div id='id_rights_help' style='display:none'>
    <p>{% trans "Information about rights held in and over the resource." %} (<a href="http://dublincore.org/documents/dces/" target="_blank">ISO15836</a>)</p>
  </div>

{% endblock %}
