{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}
{% load job_status %}

{% block content %}
  <div class="row">
    <div class="col-md-12">

      {% trans "Transfer" as transfer_label %}
      {% trans "Microservices" as microservices_label %}

      <ul class="breadcrumb">
        {% breadcrumb_url transfer_label 'transfer:transfer_index' %}
        {% breadcrumb_url name 'unit:detail' 'transfer' uuid %}
        {% breadcrumb microservices_label %}
      </ul>

      <h1>
        {{ microservices_label }}<br />
        <small>{{ name }}</small>
      </h1>

      {% regroup jobs by group as groups %}

      {% for item in groups %}
        <div>
          {{ item.grouper }}<br />
          <ul>
            {% for i in item.list %}
              <li>
                <strong>{{ i.description }}:</strong>
                {{ i.status|job_status }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}
