.delete-icon {
  vertical-align: middle;
  margin-left: 3px;
}

.paging_full_numbers a.paginate_button {
  background-color: white;
}

.dataTables_paginate {
  margin-top: 2px;
}

.dt-buttons {
  margin-left: 45px;
  margin-top: 9px;
}

.dt-buttons button.buttons-collection {
  padding: 0;
  border: none;
  background: none;
}

#backlog-entries .btn {
  padding: 2px;
}

.button-text-span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
