{% extends "layout_fluid.html" %}
{% load breadcumbs %}

{% block title %}Match{% endblock %}
{% block h1 %}Match{% endblock %}
{% block page_id %}atk_match{% endblock %}

{% block content %}
<div class="span12">

  <ul class="breadcrumb">
    {% breadcrumb_url 'DIP Upload' components.ingest.views_atk.ingest_upload_atk uuid %}
    {% breadcrumb_url 'Collection' components.ingest.views_atk.ingest_upload_atk_resource uuid resource_id %}
    {% breadcrumb 'Description' %}
  </ul>

  <div style="float:right; margin-top: 5px;"><form action='' method='GET'><input name='query' type='text' value='{{ query }}' /> <input type='submit' value='Search' class='btn' /></form></div>

  <h1>
    Description<br />
    <small>{{ resource_component_data.title }}</small>
  </h1>

  <br />

  {% if page.objects %}
    <table>
      <thead>
        <tr>
          <th>Level</th>
          <th>Title</th>
          <th>Component Identifier</th>
          <th>Dates</th>
        </tr>
      </thead>
      <tbody>
        {% for component in page.objects %}
          <tr>
            <td>{{ component.levelOfDescription }}</td>
            <td>
              {% if component.children %}
                <a href='{% url components.ingest.views_atk.ingest_upload_atk_resource_component uuid component.id %}'>{{ component.title }}</a>
              {% else %}
                {{ component.title }}
              {% endif %}
            </td>
            <td>{{ component.identifier }}</td>
            <td>{{ component.dates }}</td>
            <td>
              <a class='btn' href='{% url components.ingest.views_atk.ingest_upload_atk_match_dip_objects_to_resource_component_levels uuid component.id %}'>Assign&nbsp;Objects</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <script>
    $(document).ready(function () {
      $('#paging_jump_to').change(function() {
        var url_chunks = window.location.href.split('/'),
            uuid = url_chunks[4],
            entity_type = url_chunks[7],
            entity_id = url_chunks[8],
            new_url_path = '/ingest/' + uuid + '/upload/atk/' + entity_type + '/' + entity_id + '/?{{ search_params }}&page=' + $(this).val();

        window.location = new_url_path;
      });
    });
    </script>

    {% include "_pager.html" %}
  {% else %}
    <p>No child descriptions found.</p>
  {% endif %}

</div>
{% endblock %}
