{% extends "layout_fluid.html" %}
{% load breadcumbs %}

{% block title %}Match{% endblock %}
{% block h1 %}Match{% endblock %}
{% block page_id %}atk_match{% endblock %}

{% block content %}
<div class="span12">

  <ul class="breadcrumb">
    {% breadcrumb_url 'DIP Upload' components.ingest.views.ingest_upload_atk uuid %}
    {% breadcrumb_url 'Collection' components.ingest.views.ingest_upload_atk_resource uuid resource_component_data.collectionId %}
    {% breadcrumb 'Description' %}
  </ul>

  <h1>Description<br /><small>{{ resource_component_data.title }} ({{ resource_component_data.id }})</small></h1>

  <a class='btn' href='{% url components.ingest.views.ingest_upload_atk_match_dip_objects_to_resource_component_levels uuid resource_component_id %}'>Pair DIP objects with this level of description</a>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Dates</th>
      </tr>
    </thead>
    <tbody>
      {% for component in resource_component_data.children %}
        <tr>
          <td><a href='{% url components.ingest.views.ingest_upload_atk_resource_component uuid component.id %}'>{{ component.title }} ({{ component.id }})</a></td>
          <td><a href='{% url components.ingest.views.ingest_upload_atk_resource_component uuid component.id %}'>{{ component.dates }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
