{% extends "layout_fluid.html" %}

{% block title %}Match{% endblock %}
{% block h1 %}Match{% endblock %}
{% block page_id %}atk_match{% endblock %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Dates</th>
      </tr>
    </thead>
    <tbody>
      {% for resource in resources %}
        <tr>
          <td><a href='{% url components.ingest.views.ingest_upload_atk_resource uuid resource.id %}'>{{ resource.title }} ({{ resource.id }})</a></td>
          <td><a href='{% url components.ingest.views.ingest_upload_atk_resource uuid resource.id %}'>{{ resource.dates }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
