{% extends "layout_fluid.html" %}
{% load breadcrumb %}

{% block title %}Match{% endblock %}
{% block h1 %}Match{% endblock %}
{% block page_id %}atk_match{% endblock %}

{% block content %}
<div class="span12">

  <ul class="breadcrumb">
    {% breadcrumb_url 'DIP Upload' 'components.ingest.views_atk.ingest_upload_atk' uuid %}
    {% breadcrumb 'Collection' %}
  </ul>

  <div style="float:right">
    {% include "ingest/atk/_search_form.html" %}
  </div>

  <h1>Collection<br />
    <small>{{ resource_data.title }} ({{ resource_data.id }})</small>
  </h1>

  <a class='btn' href="{% url 'components.ingest.views_atk.ingest_upload_atk_match_dip_objects_to_resource_levels' uuid resource_id %}">Assign DIP objects to this resource</a>
  <br />
  <br />

  {% if page.objects %}
    <table>
      <thead>
        <tr>
          <th>Level of Description</th>
          <th>Title</th>
          <th>Dates</th>
        </tr>
      </thead>
      <tbody>
        {% for component in page.objects %}
          <tr>
            <td><a href="{% url 'components.ingest.views_atk.ingest_upload_atk_resource_component' uuid component.id %}">{{ component.levelOfDescription }}</a></td>
            <td><a href="{% url 'components.ingest.views_atk.ingest_upload_atk_resource_component' uuid component.id %}">{{ component.title }} ({{ component.id }})</a></td>
            <td><a href="{% url 'components.ingest.views_atk.ingest_upload_atk_resource_component' uuid component.id %}">{{ component.dates }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include "_pager.html" %}
  {% else %}
    <p>No child descriptions found.</p>
  {% endif %}

</div>
{% endblock %}
