{% extends "fpr/app_layout.html" %}
{% load i18n %}
{% load revisions_link %}

{% block title %}{{ block.super }} - {% blocktrans with description=fprule.purpose|title %}Rule {{ description }}{% endblocktrans %}{% endblock title %}
{% block page_title %}{% blocktrans with description=fprule.purpose|title %}Rule {{ description }}{% endblocktrans %}{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'fpr:fprule_list' usage %}">{% trans "Format policy rules" %}</a></li>
<li>{% blocktrans with description=fprule.purpose|title %}Rule {{ description }}{% endblocktrans %}</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="col-xs-10">

    {% revisions_link "fprule" fprule.uuid %}

    <div class='format'>
      <dl>
        <dt>{% trans "UUID" %}</dt>
        <dd>{{ fprule.uuid }}</dd>
        <dt>{% trans "Purpose" %}</dt>
        <dd>{{ fprule.get_purpose_display }} Rule</dd>
        <dt>{% trans "Format" %}</dt>
        <dd><a href="{% url 'fpr:formatversion_detail' fprule.format.format.slug fprule.format.slug %}">{{ fprule.format.description }}</a></dd>
        <dt>{% trans "Command" %}</dt>
        <dd><a href="{% url 'fpr:fpcommand_detail' fprule.command.uuid %}">{{ fprule.command.description }}</a></dd>
        <dt>{% trans "Stats" %}</dt>
        <dd>{% blocktrans with count=fprule.count_okay %}Success: {{ count }}{% endblocktrans %}</dd>
        <dd>{% blocktrans with count=fprule.count_not_okay %}Failure: {{ count }}{% endblocktrans %}</dd>
        <dd>{% blocktrans with count=fprule.count_attempts %}Total: {{ count }}{% endblocktrans %}</dd>
        <dt>{% trans "Enabled" %}</dt>
        <dd>{{ fprule.enabled|yesno:_('Yes,No') }}</dd>
        {% if request.user.is_superuser %}
        <dt>{% trans "Actions" %}</dt>
        <dd><a href="{% url 'fpr:fprule_edit' fprule.uuid %}">{% trans "Replace" %}</a></dd>
        <dd><a href="{% url 'fpr:fprule_delete' fprule.uuid %}">{{ fprule.enabled|yesno:_("Disable,Enable") }}</a></dd>
        {% endif %}
      </dl>
    </div>

  </div> <!-- /col-xs-10 -->

</div> <!-- /row -->

{% endblock app_content %}
