{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col-md-12">

      {% trans "Ingest" as ingest_label %}
      {% trans "Rights" as rights_label %}
      {% trans "Transfer" as transfer_label %}
      {% trans "Edit" as edit_label %}
      {% trans "Add" as add_label %}

      <ul class="breadcrumb">
        {% if section == 'ingest' %}
          {% breadcrumb_url ingest_label 'ingest:ingest_index' %}
          {% breadcrumb_url name 'unit:detail' 'ingest' uuid %}
        {% else %}
          {% breadcrumb_url transfer_label 'transfer:transfer_index' %}
          {% breadcrumb_url name 'unit:detail' 'transfer' uuid %}
        {% endif %}
        {% breadcrumb rights_label %}
      </ul>

      <h1>
        {{ rights_label }}<br />
        <small>{{ name }}</small>
      </h1>

      <table class="table">
        <thead>
          <th>{% trans "Act" %}</th>
          <th>{% trans "Basis" %}</th>
          <th>{% trans "Restriction(s)" %}</th>
          <th>{% trans "Start" %}</th>
          <th>{% trans "End" %}</th>
          <th></th>
        </thead>
        <tbody>
          {% for grant in grants %}
            <tr>
              <td>{{ grant.act }}</td>
              <td>{{ grant.rightsstatement.rightsbasis }}</td>
              <td>
                {% for restriction in grant.restrictions.all %}
                  <div>{{ restriction.restriction }}</div>
                {% endfor %}
              </td>
              <td>{{ grant.startdate }}</td>
              <td>{% if grant.enddateopen %}(open){% else %}{{ grant.enddate}}{% endif %}</td>
              <td>
                {% if section == 'ingest' %}
                  <a href="{% url 'rights_ingest:edit' uuid grant.rightsstatement.id %}">{% trans "Edit" %}</a>
                  <a href="{% url 'rights_ingest:grant_delete' uuid grant.id %}">{% trans "Delete" %}</a>
                {% else %}
                  <a href="{% url 'rights_transfer:edit' uuid grant.rightsstatement.id %}">{% trans "Edit" %}</a>
                  <a href="{% url 'rights_transfer:grant_delete' uuid grant.id %}">{% trans "Delete" %}</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          {% for grant in transfer_grants %}
            <tr>
              <td>{{ grant.act }}</td>
              <td>{{ grant.rightsstatement.rightsbasis }}</td>
              <td>
                {% for restriction in grant.restrictions.all %}
                  <div>{{ restriction.restriction }}</div>
                {% endfor %}
              </td>
              <td>{{ grant.startdate }}</td>
              <td>{% if grant.enddateopen %}(open){% else %}{{ grant.enddate}}{% endif %}</td>
              <td>Transfer</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="actions" style="padding-left: 1em;">
        {% if section == 'ingest' %}
          <a class="btn btn-primary" href="{% url 'rights_ingest:add' uuid %}">{% trans "Add" %}</a>
        {% else %}
          <a class="btn btn-primary" href="{% url 'rights_transfer:add' uuid %}">{% trans "Add" %}</a>
        {% endif %}
      </div>

    </div>
  </div>
{% endblock %}
