{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}
{% load static %}

{% block js %}
  <script src="{% static 'vendor/jquery.inputmask.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/repeating-ajax-data.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/rights_edit.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">

      {% trans "Ingest" as ingest_label %}
      {% trans "Rights" as rights_label %}
      {% trans "Transfer" as transfer_label %}
      {% trans "Edit" as edit_label %}
      {% trans "Add" as add_label %}

      <ul class="breadcrumb">
        {% if section == 'ingest' %}
          {% breadcrumb_url ingest_label 'ingest:ingest_index' %}
          {% breadcrumb_url name 'unit:detail' 'ingest' uuid %}
          {% breadcrumb_url rights_label 'rights_ingest:index' uuid %}
        {% else %}
          {% breadcrumb_url transfer_label 'transfer:transfer_index' %}
          {% breadcrumb_url name 'unit:detail' 'transfer' uuid %}
          {% breadcrumb_url rights_label 'rights_transfer:index' uuid %}
        {% endif %}
        {% if id %}
          {% breadcrumb edit_label %}
        {% else %}
          {% breadcrumb add_label %}
        {% endif %}
      </ul>

      <h1>
        {{ rights_label }}<br />
        <small>{{ name }}</small>
      </h1>

      {% if request.method == 'POST' %}
        {% if form.is_valid %}
          <div class="alert alert-success">
            <p><strong>{% trans "Saved" %}</strong></p>
          </div>
        {% else %}
          <div class="alert alert-error">
            <p>{% trans "An error has occurred." %}</p>
          </div>
        {% endif %}
      {% endif %}

      {% if new_content_type_created %}
          <div class="alert alert-info">
            {% if new_content_type_created == 'other' %}
              <p>{% trans "New content added." %}</p>
            {% else %}
              <p>
                {% blocktrans with type=new_content_type_created %}
                  New content added: {{ type }}.
                {% endblocktrans %}
              </p>
            {% endif %}
          </div>
      {% endif %}

      {% if section == 'ingest' %}
        {% if id %}
          <form class="form-stacked" method="post" action="{% url 'rights_ingest:edit' uuid id %}">
        {% else %}
          <form class="form-stacked" method="post" action="{% url 'rights_ingest:add' uuid %}">
        {% endif %}
      {% else %}
        {% if id %}
          <form class="form-stacked" method="post" action="{% url 'rights_transfer:edit' uuid id %}">
        {% else %}
          <form class="form-stacked" method="post" action="{% url 'rights_transfer:add' uuid %}">
        {% endif %}
      {% endif %}

        {% csrf_token %}
        {% include "_form.html" %}

        <div id='copyright_formset' class='non-repeating-formset'>
          {{ copyrightFormset.management_form }}
          {{ copyrightFormset.non_form_errors.as_ul }}

          {% for form in copyrightFormset %}
            {% include "_form.html" %}

            <input name='copyright_previous_pk' type='hidden' value='{{ form.instance.pk }}'>

            <div class='repeating-ajax-data-fieldset'>
              <label>{% trans "Copyright documentation identifier:" %}</label>

              <div id='copyrightdocidfields_{{ form.instance.pk }}' class='repeating-data repeating-data-multifield'></div>
              <div class='repeating-ajax-data-row repeating-data-multifield'>
                <div>
                  <strong>{% trans "Type" %}</strong><br/>
                  <input name='copyright_documentation_identifier_type' class="form-control">
                </div>
                <div>
                  <strong>{% trans "Value" %}</strong><br/>
                  <input name='copyright_documentation_identifier_value' class="form-control">
                </div>
                <div>
                  <strong>{% trans "Role" %}</strong><br/>
                  <input name='copyright_documentation_identifier_role' class="form-control">
                </div>
              </div>
            </div>

            <div class='repeating-ajax-data-fieldset'>
              <label>{% trans "Copyright note" %}</label>

              <div id='copyrightnotes_{{ form.instance.pk }}' class='repeating-data'></div>

              <div class='repeating-ajax-data-row'>
                <textarea name='copyright_note' class="form-control"></textarea>
              </div>
            </div>

            <script>
            $(document).ready(function() {
              setUpRepeatingCopyrightDocumentationIdentifierRecords('{{ form.instance.pk }}');
              setUpRepeatingCopyrightNotesRecords('{{ form.instance.pk }}');
            });
            </script>
          {% endfor %}
        </div>

        <div id='statute_formset'>
          {{ statuteFormset.management_form }}
          {{ statuteFormset.non_form_errors.as_ul }}

        {% for form in statuteFormset %}

          <div class='statute-fieldset'>

            {% include "_form.html" %}

            <input name='statute_previous_pk' type='hidden' value='{{ form.instance.pk }}'>

              <div class='repeating-ajax-data-fieldset'>
                <label>{% trans "Statute documentation identifier:" %}</label>

                <div id='statutedocidfields_{{ form.instance.pk }}' class='repeating-data repeating-data-multifield'></div>

                <div class='repeating-ajax-data-row repeating-data-multifield'>
                  <div>
                    <strong>{% trans "Type" %}</strong><br/>
                    <input name='statute_documentation_identifier_type_{{ form.instance.pk }}' class="form-control">
                  </div>
                  <div>
                    <strong>{% trans "Value" %}</strong><br/>
                    <input name='statute_documentation_identifier_value_{{ form.instance.pk }}' class="form-control">
                  </div>
                  <div>
                    <strong>{% trans "Role" %}</strong><br/>
                    <input name='statute_documentation_identifier_role_{{ form.instance.pk }}' class="form-control">
                  </div>
                </div>
              </div>

              <div class='repeating-ajax-data-fieldset'>
                <label>{% trans "Statute note" %}</label>

                <div class='repeating-ajax-data-row'>
                  <textarea name='new_statute_note_{{ form.instance.pk }}' class="form-control"></textarea>
                </div>

                <div id='statutenotes_{{ form.instance.pk }}' class='repeating-data'></div>
              </div>

            <script>
            $(document).ready(function() {
              setUpRepeatingStatuteDocumentationIdentifierRecords('{{ form.instance.pk }}');
              setUpRepeatingStatuteNotesRecords('{{ form.instance.pk }}');
            });
            </script>
          </div>
        {% endfor %}
        </div>

        <div id='license_formset' class='non-repeating-formset'>
          {{ licenseFormset.management_form }}
          {{ licenseFormset.non_form_errors.as_ul }}

          {% for form in licenseFormset %}
            {% include "_form.html" %}

            <input name='license_previous_pk' type='hidden' value='{{ form.instance.pk }}'>

            <div class='repeating-ajax-data-fieldset'>
              <label>{% trans "License documentation identifier:" %}</label>

              <div id='licensedocidfields_{{ form.instance.pk }}' class='repeating-data repeating-data-multifield'></div>

              <div class='repeating-ajax-data-row repeating-data-multifield'>
                <div>
                  <strong>{% trans "Type" %}</strong><br/>
                  <input name='license_documentation_identifier_type' class="form-control">
                </div>
                <div>
                  <strong>{% trans "Value" %}</strong><br/>
                  <input name='license_documentation_identifier_value' class="form-control">
                </div>
                <div>
                  <strong>{% trans "Role" %}</strong><br/>
                  <input name='license_documentation_identifier_role' class="form-control">
                </div>
              </div>
            </div>

            <div class='repeating-ajax-data-fieldset'>
              <label>{% trans "License note" %}</label>

              <div class='repeating-ajax-data-row'>
                <textarea name='license_note' class="form-control"></textarea>
              </div>
              <div id='licensenotes_{{ form.instance.pk }}' class='repeating-data'></div>
            </div>

            <script>
            $(document).ready(function() {
              setUpRepeatingLicenseDocumentationIdentifierRecords('{{ form.instance.pk }}');
              setUpRepeatingLicenseNotesRecords('{{ form.instance.pk }}');
            });
            </script>
          {% endfor %}
        </div>

        <div id='other_formset' class='non-repeating-formset'>
          {{ otherFormset.management_form }}
          {{ otherFormset.non_form_errors.as_ul }}

          {% for form in otherFormset %}
            {% include "_form.html" %}

            <input name='other_previous_pk' type='hidden' value='{{ form.instance.pk }}'>

            <div class='repeating-ajax-data-fieldset'>
              <label id='other_documentation_identifier_label'>{% trans "Documentation identifier" %}</label>

              <div id='otherrightsdocidfields_{{ form.instance.pk }}' class='repeating-data repeating-data-multifield'></div>

              <div class='repeating-ajax-data-row repeating-data-multifield'>
                <div>
                  <strong>{% trans "Type" %}</strong><br/>
                  <input name='other_documentation_identifier_type' class="form-control">
                </div>
                <div>
                  <strong>{% trans "Value" %}</strong><br/>
                  <input name='other_documentation_identifier_value' class="form-control">
                </div>
                <div>
                  <strong>{% trans "Role" %}</strong><br/>
                  <input name='other_documentation_identifier_role' class="form-control">
                </div>
              </div>
            </div>

            <div class='repeating-ajax-data-fieldset'>
              <label id='other_rights_notes_label'>{% trans "Note" %}</label>

              <div id='otherrightsnotes_{{ form.instance.pk }}' class='repeating-data'></div>

              <div class='repeating-ajax-data-row'>
                <textarea name='otherrights_note' class="form-control"></textarea>
              </div>
            </div>

            <script>
            $(document).ready(function() {
              setUpRepeatingOtherRightsDocumentationIdentifierRecords('{{ form.instance.pk }}');
              setUpRepeatingOtherRightsNotesRecords('{{ form.instance.pk }}');
            });
            </script>
          {% endfor %}
        </div>

        <div class="actions">
          <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>

          <button type="submit" name='next_button' value='Next' class="btn btn-primary">{% trans "Next" %}</button>

          {% if section == 'ingest' %}
            <a href="{% url 'rights_ingest:index' uuid %}" class="btn btn-default">{% trans "Cancel" %}</a>
          {% else %}
             <a href="{% url 'rights_transfer:index' uuid %}" class="btn btn-default">{% trans "Cancel" %}</a>
          {% endif %}
        </div>

      </form>
    </div>
  </div>

  <script>
  // hide form to create new child data: if removed then child data can be freely created
  $(document).ready(function() {
    setInterval(function() {
      hideNewFormsWhenDataExists();
    }, 200);
  });
  </script>
{% endblock %}
