{
  "parser": "babel-eslint",
  "rules": {
    "array-bracket-spacing": [1, "never"],
    "brace-style": [2, "1tbs"],
    "camelcase": 0,
    "comma-spacing": [2, {before: false, after: true}],
    "comma-style": [2, "last"],
    "computed-property-spacing": [1, "never"],
    "consistent-return": 0,
    "curly": 2,
    "eol-last": 2,
    "eqeqeq": 2,
    "new-cap": [2, {newIsCap: true, capIsNew: false}],
    "comma-dangle": [2, "always-multiline"],
    "object-curly-spacing": [1, "never"],
    "no-dupe-args": 2,
    "no-multiple-empty-lines": 2,
    "no-spaced-func": 2,
    "no-trailing-spaces": 2,
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, {vars: "all", args: "none"}],
    "no-undef": 0,
    "no-var": 0,
    "one-var": [2, "never"],
    "quotes": [2, "single"],
    "semi": 2,
    "space-after-keywords": 2,
    "space-before-blocks": 1,
    "space-before-function-paren": [1, "never"],
    "strict": [0]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
