{% extends "layout.html" %}
{% load breadcrumb %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "AIP" %}{% endblock %}
{% block h1 %}{% trans "AIP" %}{% endblock %}
{% block page_id %}aip{% endblock %}

{% block extra_css %}
  <link type="text/css" rel="stylesheet" media="all" href="{% static 'css/backbone-file-explorer.css' %}" />
  <link type="text/css" rel="stylesheet" media="all" href="{% static 'css/directory_picker.css' %}" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/online.js' %}"></script>

  <!-- browser related -->
  <script type="text/javascript" src="{% static 'js/file-explorer.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/file_browser.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/ingest/aip_browser.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/base64.js' %}"></script>
{% endblock %}

{% block topbar %}
  <div id="connection-status" class="pull-right"></div>
{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-md-offset-2 col-md-8">

      <h2>{{ title }}</h2>

      <ul class="breadcrumb">
        {% trans "Ingest" as ingest_label %}
        {% breadcrumb_url ingest_label 'ingest:ingest_index' %}
        {% breadcrumb name %}
      </ul>

      <div id="explorer" class="backbone-file-explorer" style="float: left;"></div>

      <script>
        $(document).ready(function() {
          setupAIPBrowser('{{ directory }}');
        });
      </script>

      <br clear="all" />

      <!-- Templates -->

      <script type="text/template" id="template-dir-level">
        <div class="backbone-file-explorer-level"></div>
      </script>

      <script type="text/template" id="template-dir-entry">
        <div class="backbone-file-explorer-entry" style="clear: both;">
          <span class="backbone-file-explorer-directory_icon_button"></span>
          <span class="backbone-file-explorer-directory_entry_name"><%= name %></span>
          <span class="backbone-file-explorer-directory_entry_actions"></span>
        </div>
      </script>

      <script type="text/template" id="status-template">
        <div id="status-bullet">
          <span>{% trans "Initializing..." %}</span>
          <img src="{% static 'images/bullet_delete.png' %}" />
        </div>
      </script>

    </div>

  </div>

{% endblock %}
