{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col-md-12">

      <ul class="breadcrumb">
        {% trans "Ingest" as ingest_label %}
        {% breadcrumb_url ingest_label 'ingest:ingest_index' %}
        {% breadcrumb name %}
      </ul>

      <h1>
        {% trans "Submission Information Package" %}<br />
        <small>{{ name }}</small>
      </h1>

      <p>
        {% blocktrans with uuid=uuid %}
          <strong>UUID:</strong> {{ uuid }}
        {% endblocktrans %}
      </p>

      {% if is_waiting %}
        <div class="alert alert-info block-message">
          <p>{% trans "There are micro-services awaiting user decisions." %}</p>
          <div class="alert-actions">
            <a class="btn btn-sm" href="{% url 'unit:microservices' unit_type uuid %}">{% trans "View micro-services" %}</a>
          </div>
        </div>
      {% endif %}

      <h5>{% trans "Microservices" %}</h5>
      <ul>
        <li><a href="{% url 'unit:microservices' unit_type uuid %}">{% trans "List" %}</a></li>
      </ul>

      <h5>{% trans "Rights" %}</h5>
      <ul>
        <li><a href="{% url 'rights_ingest:index' uuid %}">{% trans "List" %}</a></li>
        <li><a href="{% url 'rights_ingest:add' uuid %}">{% trans "Add" %}</a></li>
      </ul>

      <h5>{% trans "Metadata" %}</h5>
      <ul>
        <li><a href="{% url 'ingest:ingest_metadata_list' uuid %}">{% trans "List" %}</a></li>
        <li><a href="{% url 'ingest:ingest_metadata_add' uuid %}">{% trans "Add" %}</a></li>
        <li><a href="{% url 'ingest:ingest_metadata_event_detail' uuid %}">{% trans "Manual normalization event detail" %}</a></li>
        <li><a href="{% url 'ingest:ingest_metadata_add_files' uuid %}">{% trans "Add metadata files" %}</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
