{% extends "layout_fluid.html" %}
{% load breadcrumb %}

{% block content %}
  <div class="row">
    <div class="col-md-12">

      <ul class="breadcrumb">
        {% breadcrumb_url 'Ingest' 'ingest:ingest_index' %}
        {% breadcrumb_url name 'unit:detail' 'ingest' uuid %}
        {% breadcrumb 'Manual Normalization Event Detail' %}
      </ul>

      <h1>Normalization Event Detail<br /><small>{{ name }}</small></h1>
      <form method="post" action="">
        {% csrf_token %}
        {{ formset.management_form }}
        {{ formset.non_form_errors.as_ul }}

        {% if formset.forms %}
        <table id="formset" class="form">
          {% for form in formset %}
            {{ form.id }}
            <thead>
              <tr>
                <th>Original File</th>
                <th>Manually normalized file</th>
                {% for field in form.visible_fields %}
                <th>{{ field.label }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tr class="{% cycle 'row1' 'row2' %}">
              <td>{{ form.original_file }}</td>
              <td>{{ form.derived_file }}</td>
              {% for field in form.visible_fields %}
              <td>{{ field.errors.as_ul }} {{ field }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
        {% else %}
          <p>No manually normalized files currently identified.  Please check back after normalization.</p>
        {% endif %}

        <div class="actions">
          {% if formset.forms %}
          <button type="submit" class="btn btn-primary">Save</button>
          {% endif %}
          <a href="{% url 'unit:detail' 'ingest' uuid %}" class="btn btn-default">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
