{% extends "fpr/app_layout.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Format groups" %}{% endblock title %}
{% block page_title %}{% trans "Format groups" %}{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'fpr:format_list' %}">{% trans "Formats" %}</a></li>
<li>{% trans "Groups" %}</li>
<li>{% trans "List" %}</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="col-xs-10">

    {% if request.user.is_superuser %}
    <p><a href="{% url 'fpr:formatgroup_create' %}">{% trans "Create new format group" %}</a></p>
    {% endif %}

    {% if groups %}
      <table class="datatable">
        <thead>
          <tr>
            <th>{% trans "Description" %}</th>
            {% if request.user.is_superuser %}
              <th>{% trans "Actions" %}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for group in groups %}
          <tr>
            <td>
              {% if request.user.is_superuser %}
                <a href="{% url 'fpr:formatgroup_edit' group.slug %}">{{ group.description }}</a>
              {% else %}
                {{ group.description }}
              {% endif %}
            </td>
            {% if request.user.is_superuser %}
            <td>
              <a href="{% url 'fpr:formatgroup_edit' group.slug %}">{% trans "Edit" %}</a>
              {% if request.user.is_superuser %}
                |
                <a href="{% url 'fpr:formatgroup_delete' group.slug %}">{% trans "Delete" %}</a>
              {% endif %}
            </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% trans "No format groups exist." %}</p>
    {% endif %}

  </div> <!-- /col-xs-10 -->

</div> <!-- /row -->

{% endblock app_content %}
