{% extends "layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Welcome" %}{% endblock %}
{% block h1 %}{% trans "Welcome" %}{% endblock %}
{% block page_id %}welcome{% endblock %}

{% block header %}{% endblock %}

{% block extra_css %}
  <style type="text/css">

    .form-stacked {
      padding-left: 0;
    }

    .well {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    #id_org_identifier + span {
      margin-bottom: 2em;
    }

  </style>
{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-md-7 col-md-offset-2">

      <img src="{% static 'images/logo_welcome.gif' %}" style="margin-bottom: 20px;" />

      <div class="well">
        <h2>{% trans "Welcome!" %}</h2>
        <p>{% trans "Archivematica has been installed successfully. Please take a minute to enter some details into the system." %}</p>
      </div>

      <form class="form-stacked" method="post" action="{% url 'installer:welcome' %}">
        {% csrf_token %}

        {% include "_form.html" %}

        <div class="well">
          <button class="btn btn-primary" type="submit">{% trans "Create" %}</button>
        </div>

      </form>

    </div>

  </div>

{% endblock %}
