[Unit]
Description=Archivematica Dashboard
After=syslog.target network.target

[Service]
PIDFile=/run/archivematica-dashboard_gunicorn.pid
User=archivematica
Group=archivematica
EnvironmentFile=/etc/default/archivematica-dashboard
WorkingDirectory=/usr/share/archivematica/dashboard/
ExecStart=/usr/share/python/archivematica-dashboard/bin/gunicorn  --config /etc/archivematica/dashboard.gunicorn-config.py wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true      

[Install]
WantedBy=multi-user.target