{% extends "layout_fluid.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Backlog search" %}{% endblock %}
{% block h1 %}{% trans "Backlog search" %}{% endblock %}
{% block page_id %}backlog-search{% endblock %}

{% block extra_css %}
  <link href="{% static 'vendor/select2/select2.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'vendor/datatables/css/jquery.dataTables.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/datatables/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/backlog.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/advanced-search-query-creator.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/ingest/backlog.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/datatables/js/dataTables.buttons.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/datatables/js/buttons.bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/datatables/js/buttons.colVis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/base64.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/backlog/backlog-search.js' %}"></script>
{% endblock %}

{% block content %}
  {% if search_transfers_enabled %}
    {% include "ingest/backlog/_search_form.html" with show_files=True %}
    <table id="backlog-entries">
    </table>
  {% else %}
    <h1>{% trans "Elasticsearch Indexing Disabled" %}</h1>
    <p class="es-indexing-disabled">{% trans "Sorry, Elasticsearch indexing has been disabled for the Transfers related indexes in this Archivematica installation. The backlog tab is non-functional when indexing is turned off." %}</p>
  {% endif %}
{% endblock %}
