Source: archivematica-dashboard
Section: utils
Priority: extra
Maintainer: Austin Trask <austin@artefactual.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://archivematica.org

Package: archivematica-dashboard
Architecture: any
Depends: 
	${shlibs:Depends},
	${misc:Depends},
	apache2-mpm-prefork,
	libapache2-mod-wsgi,
	python-pip,
	python-gearman,
	python-simplejson
Description: Web Dashboard for Archivematica
  Web based dashboard interface used to control an Archivematica pipeline.
  
