{% extends "fpr/app_layout.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% blocktrans with description=format.description %}Format {{ description }}{% endblocktrans %}{% endblock title %}
{% block page_title %}{% blocktrans with description=format.description %}Format {{ description }}{% endblocktrans %}{% endblock page_title %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{% url 'fpr:format_list' %}">{% trans "Formats" %}</a></li>
  <li>{{ format.description }}</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="col-xs-10">

    <div class='format'>
        <dl>
            <dt>{% trans "UUID" %}</dt>
              <dd>{{ format.uuid }}</dd>
            <dt>{% trans "Description" %}</dt>
              <dd>{{ format.description }}</dd>
            <dt>{% trans "Group" %}</dt>
              <dd>
                {% if request.user.is_superuser %}
                  <a href="{% url 'fpr:formatgroup_edit' format.group.slug %}">{{ format.group }}</a>
                {% else %}
                  {{ format.group }}
                {% endif %}
              </dd>
            {% if request.user.is_superuser %}
            <dt>{% trans "Actions" %}</dt>
              <dd><a href="{% url 'fpr:format_edit' format.slug %}">{% trans "Edit" %}</a></dd>
            {% endif %}
        </dl>
    </div>

    <h2>{% trans "Specific versions" %}</h2>

    {% if request.user.is_superuser %}
    <p><a href="{% url 'fpr:formatversion_create' format.slug %}">{% trans "Create new format version" %}</a></p>
    {% endif %}

    {% if format_versions %}
      <table class="datatable">
        <thead>
          <tr>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Version" %}</th>
            <th>{% trans "Pronom ID" %}</th>
            <th>{% trans "Access format?" %}</th>
            <th>{% trans "Preservation format?" %}</th>
            <th>{% trans "Enabled" %}</th>
            <th>{% trans "Actions" %}</th>
          </tr>
        </thead>
        <tbody>
        {% for version in format_versions %}
          <tr>
            <td><a href="{% url 'fpr:formatversion_detail' format.slug version.slug %}">{{ version.description }}</a></td>
            <td>{% if version.version  %}{{ version.version }}{% endif %}</td>
            <td>{% if version.pronom_id %}<a href="https://www.nationalarchives.gov.uk/PRONOM/{{ version.pronom_id }}" target=_blank>{{ version.pronom_id}}</a>{% endif %}</td>
            <td>{{ version.access_format|yesno:_("Yes,No") }}</td>
            <td>{{ version.preservation_format|yesno:_("Yes,No") }}</td>
            <td>{{ version.enabled }}</td>
            <td>
              <a href="{% url 'fpr:formatversion_detail' format.slug version.slug %}">{% trans "View" %}</a>
              {% if request.user.is_superuser %}
                | <a href="{% url 'fpr:formatversion_edit' format.slug version.slug %}">{% trans "Replace" %}</a>
                | <a href="{% url 'fpr:formatversion_delete' format.slug version.slug %}">{{ version.enabled|yesno:_("Disable,Enable") }}</a></td>
              {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>
        {% blocktrans with description=format.description %}
          No versions exist for {{ description }}.
        {% endblocktrans %}
      </p>
    {% endif %}

  </div> <!-- /col-xs-10 -->

</div> <!-- /row -->

{% endblock app_content %}
