{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block title %}{% trans "Administration" %}{% endblock %}
{% block h1 %}{% trans "Administration" %}{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block css %}
  <style type="text/css">

    td.option {
      white-space: nowrap;
    }

  </style>
{% endblock %}

{% block content %}

<div class="container-fluid">
<div class="row">
  {% include "administration/sidebar.html" %}
  <div class="col-md-10">
    <h3>{% trans "ArchivesSpace DIP upload" %}</h3>
    <form class="form-stacked" method="post" action="{% url 'administration:dips_as' %}">
      {% csrf_token %}
      {% include "_form.html" %}
      <div class="actions">
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
      </div>
    </form>
  </div>
</div>
</div>

{% endblock %}
