{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block title %}{% trans "Administration" %}{% endblock %}
{% block h1 %}{% trans "Administration" %}{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <ul class="breadcrumb">
        {% trans "Taxonomy" as taxonomy_label %}
        {% breadcrumb_url taxonomy_label 'administration:taxonomy' %}
        {% breadcrumb_url taxonomy.name 'administration:terms' taxonomy.id %}
        {% breadcrumb term.term %}
      </ul>

      {% include "_messages.html" %}

      <h3>Term</h3>

      <form method='POST'>
      {% csrf_token %}
      {% include "_form.html" %}

      <div style='float: right'>
        <input class='btn btn-primary' type='submit' value='{% trans "Save" %}' />
        <a href='/administration/taxonomy/term/{{ term.pk }}/delete/' class='btn btn-danger'>{% trans "Delete" %}</a>
      </div>
      </form>
    </div>

  </div>

</div>

{% endblock %}
