{% extends "layout_fluid.html" %}
{% load breadcumbs %}

{% block title %}Archival storage{% endblock %}
{% block h1 %}Archival storage{% endblock %}
{% block page_id %}archival-storage{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/archival_storage/advanced-search-query-creator.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/archival_storage/archival_storage_search.js"></script>
{% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/archival_storage.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

  {% include "archival_storage/_archival_storage_search_form.html" %}

  {% if sips %}
    <h1>
      Browse archival storage<br/>
      <small>
        Total size: {{ total_size }} MB
      {% if aip_indexed_file_count %}
        &nbsp;&nbsp;Total files: {{ aip_indexed_file_count }} indexed
      {% endif %}
      </small>
    </h1>

    <table>
      <thead>
        <th>
          <div>
            AIP
            <a class="up {% if order_by == 'name' and sort_by == 'up' %} selected_up{% endif %}" href="?order_by=name&sort_by=up">Sort</a>
            <a class="down {% if order_by == 'name' and sort_by == 'down' %} selected_down{% endif %}" href="?order_by=name&sort_by=down">Sort</a>
          </div>
        </th>
        <th>
          <div>
            Size
            <a class="up {% if order_by == 'size' and sort_by == 'up' %} selected_up"{% endif %}" href="?order_by=size&sort_by=up">Sort</a>
            <a class="down {% if order_by == 'size' and sort_by == 'down' %} selected_down"{% endif %}" href="?order_by=size&sort_by=down">Sort</a>
          </div>
        </th>
        <th>
          <div>
            UUID
            <a class="up {% if order_by == 'uuid' and sort_by == 'up' %} selected_up"{% endif %}" href="?order_by=uuid&sort_by=up">Sort</a>
            <a class="down {% if order_by == 'uuid' and sort_by == 'down' %} selected_down"{% endif %}" href="?order_by=uuid&sort_by=down">Sort</a>
          </div>
        </th>
        <th>
          <div>
            Date stored
            <a class="up {% if order_by == 'date' and sort_by == 'up' %} selected_up{% endif %}" href="?order_by=date&sort_by=up">Sort</a>
            <a class="down {% if order_by == 'date' and sort_by == 'down' %} selected_down"{% endif %}" href="?order_by=date&sort_by=down">Sort</a>
          </div>
        </th>
      </thead>
      <tbody>
        {% for item in sips %}
          <tr>
            <td><a href="{% url components.archival_storage.views.archival_storage_sip_download item.uuid %}">{{ item.name }}</a></td>
            <td class="size">{{ item.size }}</td>
            <td class="uuid">{{ item.uuid }}</td>
            <td><span class='utcDate'>{{ item.date }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if page.has_other %}
      Showing {{ page.start_index }}-{{ page.end_index }} of {{ page.total_items }}
      <div style='float:right'>
      {% if page.has_previous %}
        <a href="{% url components.archival_storage.views.archival_storage_page page.previous %}" class="btn">Previous</a>
        {% if page.has_next %}
          &nbsp;
        {% endif %}
      {% endif %}
      {% if page.has_next %}
        <a href="{% url components.archival_storage.views.archival_storage_page page.next %}" class="btn">Next</a>
      {% endif %}
      </div>
    {% endif %}

  {% else %}

    <div class="alert-message">
      <p>Archival storage is empty.</p>
    </div>

  {% endif %}

  <script>
  $(document).ready(function() {
    localizeUtcDateElements();
  });
  </script>

{% endblock %}
