{% extends "layout_fluid.html" %}
{% load breadcumbs %}

{% block title %}Archival storage{% endblock %}
{% block h1 %}Archival storage{% endblock %}
{% block page_id %}archival-storage{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/archival_storage/advanced-search-query-creator.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/archival_storage/archival_storage_search.js"></script>
{% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/archival_storage.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

  <ul class="breadcrumb">
    {% breadcrumb_url 'Archival storage' components.archival_storage.views.archival_storage %}
    {% breadcrumb 'Search' %}
  </ul>

  {% include "archival_storage/_archival_storage_search_form.html" %}

  {% if results %}
    {% include "archival_storage/_archival_storage_search_summary.html" %}

    <div style='width: 80px; float: left; padding: 10px; margin-right: 10px; background-color: #eee;'>
    {% for term_usage in file_extension_usage %}
      <a href='javascript:window.location = window.location + "&op=and&query={{ term_usage.term }}&field=fileExtension&type=";'>{{ term_usage.term }}</a> ({{ term_usage.count }})<br/>
    {% endfor %}
    </div>

    <div style='float: left'>

    {% if not file_mode %}

      <table>
      {% for term_usage in aip_uuids %}
        <tr>
          <td>
            <a href="{% url components.archival_storage.views.archival_storage_aip_download term_usage.term %}">{{ term_usage.name }}</a>
          </td>
          <td>{{ term_usage.term }}</td>
          <td>{{ term_usage.count }} files</td>
        </tr>
      {% endfor %}
      </table>

    {% else %}

      <div class='aip-search-item'>
        <div class='aip-search-item-file-column-header'>File(s)</div>
        <div class='aip-search-item-aip-column-header'>AIP(s)</div>
      </div>
      <br clear='all' />

      {% for item in results %}
        <div class='aip-search-item'>
        {% if item.sipname %}
          <div class='aip-search-item-thumbnail-column'>
            <a href="{% url components.archival_storage.views.archival_storage_aip_file_download item.fileuuid %}">
              <img src="/archival-storage/thumbnail/{{ item.fileuuid }}"/>
            </a>
          </div>

          <div class='aip-search-item-file-column'>
            <div><a class='uuid' href="{% url components.archival_storage.views.archival_storage_aip_file_download item.fileuuid %}">{{ item.filename }}</a></div>
            <div><a class='uuid' href="{% url components.archival_storage.views.archival_storage_aip_file_download item.fileuuid %}">{{ item.fileuuid }}</a></div>
          </div>

          <div class='aip-search-item-aip-column'>
            <div><a class='uuid' href="{% url components.archival_storage.views.archival_storage_aip_download item.AIPUUID %}">{{ item.sipname }} {{item.AIPUUID}}</a></div>
            <div><a href='/archival-storage/search/json/file/{{ item.document_id_no_hyphens }}/' target='_blank'>(view raw)</a></div>
          </div>
        {% else %}
          (AIP {{item.AIPUUID}} details missing from database.)
        {% endif %}
        </div>
        <br clear='all' />
      {% endfor %}
    {% endif %}
    </div>

    <div style='clear: both'>
    {% include "archival_storage/_archival_storage_search_summary.html" %}
    </div>

  {% else %}
    <div id='aip-search-summary'>No results, please try another search.</div>
  {% endif %}

{% endblock %}
