{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load static %}

{% block title %}Archival storage{% endblock %}
{% block h1 %}Archival storage{% endblock %}
{% block page_id %}archival-storage{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/advanced-search-query-creator.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/archival_storage/archival_storage_search.js' %}"></script>
{% endblock %}

{% block extra_css %}
  <link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/archival_storage.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_js %}
  <script>
    $(document).ready(function() { localizeTimestampElements(); });
  </script>
{% endblock %}

{% block content %}

  <ul class="breadcrumb">
    {% breadcrumb_url 'Archival storage' 'components.archival_storage.views.overview' %}
    {% breadcrumb 'Search' %}
  </ul>

  {% include "archival_storage/_archival_storage_search_form.html" %}

  {% if aips %}

    <h1>
      Browse archival storage<br/>
      <small>
        Total size: {{ total_size }} MB
        {% if aip_indexed_file_count %}
        | Files indexed: {{ aip_indexed_file_count }}
        {% endif %}
      </small>
    </h1>

    <table class="table">
      <thead>
        <th>
          <div>
            AIP
            <a class="up {% if order_by == 'name_unanalyzed' and sort_by == 'up' %} selected_up{% endif %}" href="?order_by=name_unanalyzed&sort_by=up">Sort</a>
            <a class="down {% if order_by == 'name_unanalyzed' and sort_by == 'down' %} selected_down{% endif %}" href="?order_by=name_unanalyzed&sort_by=down">Sort</a>
          </div>
        </th>
        <th>
          <div>
            Size
            <a class="up {% if order_by == 'size' and sort_by == 'up' %} selected_up"{% endif %}" href="?order_by=size&amp;sort_by=up">Sort</a>
            <a class="down {% if order_by == 'size' and sort_by == 'down' %} selected_down"{% endif %}" href="?order_by=size&amp;sort_by=down">Sort</a>
          </div>
        </th>
        <th>
          <div>
            UUID
          </div>
        </th>
        <th>
          <div>
            Date stored
            <a class="up {% if order_by == 'created' and sort_by == 'up' %} selected_up{% endif %}" href="?order_by=created&amp;sort_by=up">Sort</a>
            <a class="down {% if order_by == 'created' and sort_by == 'down' %} selected_down{% endif %}" href="?order_by=created&amp;sort_by=down">Sort</a>
          </div>
        </th>
        <th>
          <div>
            Status
          </div>
        </th>
        <th>
          <div>
            Actions
          </div>
        </th>
      </thead>
      <tbody>
        {% for item in aips %}
          <tr>
            <td><a href="{% url 'view_aip' item.uuid %}">{{ item.name }}</a></td>
            <td class="size">{{ item.size }}</td>
            <td class="uuid"><a href="{% url 'view_aip' item.uuid %}">{{ item.uuid }}</a></td>
            <td><span class="timestamp">{{ item.date }}</span></td>
            <td>{{ item.status }}</td>
            <td><a href="{% url 'view_aip' item.uuid %}">View</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div style='clear: both' class='search-summary'>
      {% include "_pager.html" %}
    </div>

  {% else %}

    <div class="alert alert-info">
      <p>Archival storage is empty.</p>
    </div>

  {% endif %}

{% endblock %}
