{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Archival storage" %}{% endblock %}
{% block h1 %}{% trans "Archival storage" %}{% endblock %}
{% block page_id %}archival-storage{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/advanced-search-query-creator.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/archival_storage/archival_storage_search.js' %}"></script>
{% endblock %}

{% block extra_css %}
  <link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/archival_storage.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_js %}
  <script>
    $(document).ready(function() { localizeTimestampElements(); });
  </script>
{% endblock %}

{% block content %}

  <ul class="breadcrumb">
    {% trans "Archival storage" as archival_storage_label %}
    {% trans "Search" as search_label %}
    {% breadcrumb_url archival_storage_label 'components.archival_storage.views.overview' %}
    {% breadcrumb search_label %}
  </ul>

  {% include "archival_storage/_archival_storage_search_form.html" %}

  {% if results %}
    {% if not file_mode %}
    <div>
      <form action="{% url 'create_aic' %}" method="post">
        {{ aic_creation_form }}
        <input type='submit' class='btn btn-primary' id='create_aic' value='{% trans "Create an AIC" %}'>
      </form>
    </div>
    {% endif %}

    <div style='clear: both' class='search-summary'>
      {% include "_pager.html" %}
    </div>

    {% if not file_mode %}

      <table class="table">
        <thead>
          <th>{% trans "AIP" %}</th>
          <th>{% trans "Size" %}</th>
          <th>{% trans "UUID" %}</th>
          {% if show_aics %}
            <th>{% trans "AIC" %}</th>
          {% endif %}
          <th>{% trans "Files" %}</th>
          <th>{% trans "Date stored" %}</th>
          <th>{% trans "Status" %}</th>
          <th>{% trans "Encrypted" %}</th>
          <th>{% trans "Actions" %}</th>
        </thead>
        <tbody>
        {% for term_usage in results %}
          <tr>
            <td>
              <a href="{% url 'view_aip' term_usage.uuid %}">{{ term_usage.name }}</a>
              <a href='/archival-storage/search/json/aip/{{ term_usage.document_id_no_hyphens }}/' target='_blank'>({% trans "view raw" %})</a>
            </td>
            <td class="size">
              {% if term_usage.size %}
                {{ term_usage.size }}
              {% else %}
                {% trans "Unknown" %}
              {% endif %}
            </td>
            <td class="uuid"><a href="{% url 'view_aip' term_usage.uuid %}">{{ term_usage.uuid }}</a></td>
            {% if show_aics %}
              <td>
                {% if term_usage.type == 'AIC' %}
                  {{ term_usage.AICID }} ({{ term_usage.countAIPsinAIC }} AIP{{ term_usage.countAIPsinAIC|pluralize }} in AIC)
                {% elif term_usage.isPartOf %}
                  {% blocktrans with item=term_usage.isPartOf %}
                    Part of {{ item }}
                  {% endblocktrans %}
                {% else %}
                  {% trans "None" %}
                {% endif %}
              </td>
            {% endif %}
            <td>{{ term_usage.count }} file{{term_usage.count|pluralize}}</td>
            <td><span class='timestamp'>{{ term_usage.created }}</a></td>
            <td>{{ term_usage.status }}</td>
            <td>{{ term_usage.encrypted }}</td>
            <td><a href="{% url 'view_aip' term_usage.uuid %}">{% trans "View" %}</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    {% else %}

      <div class='aip-search-item'>
        <div class='aip-search-item-file-column-header'>{% trans "File(s)" %}</div>
        <div class='aip-search-item-aip-column-header'>{% trans "AIP(s)" %}</div>
      </div>
      <br clear='all' />

      {% for item in results %}
        <div class='aip-search-item'>
        {% if item.sipname %}
          <div class='aip-search-item-thumbnail-column'>
            <a href="{% url 'components.archival_storage.views.aip_file_download' item.fileuuid %}">
              <img src="/archival-storage/thumbnail/{{ item.fileuuid }}"/>
            </a>
          </div>

          <div class='aip-search-item-file-column'>
            <div><a class='uuid' href="{% url 'components.archival_storage.views.aip_file_download' item.fileuuid %}">{{ item.filename }}</a></div>
            <div><a class='uuid' href="{% url 'components.archival_storage.views.aip_file_download' item.fileuuid %}">{{ item.fileuuid }}</a></div>
          </div>

          <div class='aip-search-item-aip-column'>
            <div><a class='uuid' href="{% url 'components.archival_storage.views.view_aip' item.AIPUUID %}">{{ item.sipname }} {{item.AIPUUID}}</a></div>
            <div><a href='/archival-storage/search/json/file/{{ item.document_id_no_hyphens }}/' target='_blank'>({% trans "view raw" %})</a></div>
          </div>
        {% else %}
          ({% blocktrans with uuid=item.AIPUUID %}AIP {{ uuid }} details missing from database.{% endblocktrans %})
        {% endif %}
        </div>
        <br clear='all' />
      {% endfor %}
    {% endif %}

    <div style='clear: both' class='search-summary'>
      {% include "_pager.html" %}
    </div>

  {% else %}
    <div class='search-summary'>{% trans "No results, please try another search." %}</div>
  {% endif %}

{% endblock %}
