{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Archival storage" %}{% endblock %}
{% block h1 %}{% trans "Archival storage" %}{% endblock %}
{% block page_id %}archival-storage{% endblock %}

{% block extra_css %}
  <link href="{% static 'css/archival_storage.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_js %}
  <script>
    $(document).ready(function() {

      localizeTimestampElements();

      var tbs = $('.tabs');
      tbs.tabs();

      var selection = false;
      if (window.location.hash)
      {
        selection = window.location.hash;
      }
      else if (tbs.data('active-tab'))
      {
        selection = '#tab-' + tbs.data('active-tab');
      }

      if (selection)
      {
        var href = '[href=' + selection + ']';
        var tab = $('.am-tabs-pane .tabs').find(href);
        if (tab.length)
        {
          tab.trigger('click');
        }
      }

    });
  </script>
{% endblock %}

{% block content %}

  <ul class="breadcrumb">
    {% trans "Archival storage" as archival_storage_label %}
    {% breadcrumb_url archival_storage_label 'archival_storage:archival_storage_index' %}
    {% breadcrumb name %}
  </ul>

  <h2 class="heading-aip-details">
    {{ name }}
    <small>{% trans "Archival Information Package" %}</small>
  </h2>

  <table class="table bordered-table aip-details">
    <tbody>
      <tr>
        <th>{% trans "UUID" %}</th>
        <td><code class="uuid">{{ uuid }}</code></td>
      </tr>
      <tr>
        <th>{% trans "Size" %}</th>
        <td>{{ size }}</td>
      </tr>
      <tr>
        <th>{% trans "Date stored" %}</th>
        <td><span class="timestamp">{{ created }}</span></td>
      </tr>
      <tr>
        <th>{% trans "Status" %}</th>
        <td>{{ status }}</td>
      </tr>
      <tr>
        <th>{% trans "Encrypted" %}</th>
        <td>{{ encrypted }}</td>
      </tr>
      <tr>
        <th>{% trans "Location" %}</th>
        <td>
          <a class="btn btn-default btn-sm" href="{% url 'archival_storage:aip_download' uuid %}">{% trans "Download" %}</a>
          <code class="location-preview">[...]/{{ location_basename }}</code>
        </td>
      </tr>
      <tr>
        <th>{% trans "METS file" %}</th>
        <td>
          <a class="btn btn-default btn-sm" target="_blank" href="{% url 'archival_storage:aip_mets_file_download' uuid %}">{% trans "View" %}</a>
        </td>
      </tr>
      <tr>
        <th>{% trans "Pointer file" %}</th>
        <td>
          <a class="btn btn-default btn-sm" target="_blank" href="{% url 'archival_storage:aip_pointer_file_download' uuid %}">{% trans "View" %}</a>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>{% trans "Actions" %}</h3>

  <section class="am-tabs-pane">

    <ul class="nav nav-tabs" data-active-tab="{{ active_tab }}">
      <li class="active"><a href="#tab-upload-dip" role="tab" data-toggle="tab">{% trans "Upload DIP" %}</a></li>
      <li><a href="#tab-reingest" role="tab" data-toggle="tab">{% trans "Re-ingest" %}</a></li>
      <li><a href="#tab-delete" role="tab" data-toggle="tab">{% trans "Delete" %}</a></li>
    </ul>

    <div class="tab-content">

      <!-- Upload tab -->
      <div class="tab-pane active" id="tab-upload-dip">
        <form action="" method="POST" class="form-stacked">
          {% csrf_token %}
          <fieldset>
            <legend>{% trans "Metadata-only DIP upload to AtoM" %}</legend>
            {% include "_form.html" with form=forms.upload %}
          </fieldset>
          <div class="clearfix am-actions">
            <button type="submit" class="btn btn-primary" name="submit-upload-form">{% trans "Upload" %}</button>
          </div>
        </form>
      </div>

      <!-- Re-ingest tab -->
      <div class="tab-pane" id="tab-reingest">
        <form action="" method="POST" class="form-stacked">
          {% csrf_token %}
          <fieldset>
            <legend>{% trans "Choose type of re-ingest" %}</legend>
            {% include "_form.html" with form=forms.reingest %}
          </fieldset>
          <div class="clearfix am-actions">
            <button type="submit" class="btn btn-primary" name="submit-reingest-form">{% trans "Re-ingest" %}</button>
          </div>
        </form>
      </div>

      <!-- Delete tab -->
      <div class="tab-pane" id="tab-delete">
        <form action="" method="POST" class="form-stacked">
          {% csrf_token %}
          <fieldset>
            <legend>{% trans "Are you sure that you want to delete this AIP" %}</legend>
            <p>{% trans "Choosing to delete this package will send a request to your Archival Storage administrator. If the administrator approves the request, your package will be deleted from your Archival Storage and your index will be updated. If the administrator denies the request, the package will remain in storage and the administrator will contact you." %}</p>
            {% include "_form.html" with form=forms.delete %}
          </fieldset>
          <div class="clearfix am-actions">
            <button class="btn btn-danger" name="submit-delete-form">{% trans "Delete" %}</button>
          </div>
        </form>
      </div>

    </div>

  </section>

{% endblock %}
