{% extends "fpr/app_layout.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Format policy commands" %}{% endblock title %}
{% block page_title %}{% trans "Format policy commands" %}{% endblock page_title %}

{% block breadcrumbs %}
{{ block.super }}
<li>{% trans "Format policy commands" %}</li>
<li>{% trans "List" %}</li>
{% endblock breadcrumbs %}

{% block app_content %}

<div class="row">

  {% include 'fpr/_sidebar.html' %}

  <div class="col-xs-10">

    {% if request.user.is_superuser %}
    <p><a href="{% url 'fpr:fpcommand_create' %}">{% trans "Create new command" %}</a></p>
    {% endif %}

    {% if fpcommands %}
      <table class="datatable">
        <thead>
          <tr>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Usage" %}</th>
            <th>{% trans "Tool" %}</th>
            <th>{% trans "Enabled" %}</th>
            <th>{% trans "Actions" %}</th>
          </tr>
        </thead>
        <tbody>
        {% for fpcommand in fpcommands %}
          <tr>
            <td><a href="{% url 'fpr:fpcommand_detail' fpcommand.uuid %}">{{ fpcommand.description }}</a></td>
            <td>{{ fpcommand.get_command_usage_display }}</td>
            <td>{{ fpcommand.tool.description }}</td>
            <td>{{ fpcommand.enabled|yesno:_('Yes,No') }}</td>
            <td> <a href="{% url 'fpr:fpcommand_detail' fpcommand.uuid %}">{% trans "View" %}</a>
              {% if request.user.is_superuser %}
                | <a href="{% url 'fpr:fpcommand_edit' fpcommand.uuid %}">{% trans "Replace" %}</a>
                | <a href="{% url 'fpr:fpcommand_delete' fpcommand.uuid %}">{{ fpcommand.enabled|yesno:_("Disable,Enable") }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% trans "No format policy commands exist." %}</p>
    {% endif %}

  </div> <!-- /col-xs-10 -->

</div> <!-- /row -->

{% endblock app_content %}
