{% extends "layout_fluid.html" %}
{% load breadcrumb %}

{% block title %}Users - Add new{% endblock %}
{% block h1 %}Users - Add new{% endblock %}
{% block page_id %}accounts-add{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    {% include "administration/sidebar.html" %}

    <div class="col-md-10">

      <ul class="breadcrumb">
        {% breadcrumb_url 'Users' 'components.accounts.views.list' %}
        {% breadcrumb 'Add new user' %}
      </ul>

      <form method="post" action="{% url 'components.accounts.views.add' %}">

        {% csrf_token %}

        {% include "_form.html" %}

        <div class="actions">
          <button type="submit" class="btn btn-primary">Create</button>
          <a class="btn btn-default" href="{% url 'components.accounts.views.list' %}">Cancel</a>
        </div>

      </form>

    </div>

  </div>

</div>

{% endblock %}
