{% extends "layout_fluid.html" %}
{% load breadcumbs %}

{% block title %}Administration{% endblock %}
{% block h1 %}Administration{% endblock %}
{% block page_id %}Administration{% endblock %}

{% block css %}
  <style type="text/css">

    td.option {
      white-space: nowrap;
    }

  </style>
{% endblock %}

{% block content %}

<ul class="breadcrumb">
  {% breadcrumb_url 'Administration' main.views.administration %}
  {% breadcrumb 'Upload Atom DIP' %}
</ul>

<form class="form-stacked" method="post" action="{% url main.views.administration_atom_dips %}">

  <div class="span12">

    <div class="preview-help-text">

    <h3>Upload Atom DIP</h3>

    <p class='preview'>Archivematica provides a micro-service to upload generated DIPs to <a href="http://www.qubit-toolkit.org">Qubit Toolkit</a>, only compatible with release 1.2 or newer. In the future we will extend this feature to other access systems. <a href='#'>(read more)</a></p>

    <div class='content' style='margin-bottom: 20px'>

      <p>The arguments below are passed to a Python script called upload-qubit.py. Please note that some arguments are mandatory:</p>

      <table class="bordered-table">
        <thead>
          <tr>
            <th>Option</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="option">url</td>
            <td><span class="label important">Required</span></td>
            <td>URL where the Qubit index.php frontend lives, SWORD services path will be appended.</td>
          </tr>
          <tr>
            <td class="option">email</td>
            <td><span class="label important">Required</span></td>
            <td>E-mail account used to log into Qubit.</td>
          </tr>
          <tr>
            <td class="option">password</td>
            <td><span class="label important">Required</span></td>
            <td>Password linked to your e-mail account.</td>
          </tr>
          <tr>
            <td class="option">uuid</td>
            <td><span class="label important">Required</span></td>
            <td>Use this wildcard: %SIPUUID%. Archivematica will do the rest for you.</td>
          </tr>
          <tr>
            <td>rsync-target</td>
            <td><span class="label">Optional</span></td>
            <td>The DIP can be sent with Rsync to a remote host before is deposited in Qubit. This is the destination value passed to Rsync (see man 1 rsync). For example: "foobar.com:~/dips/".</td>
          </tr>
          <tr>
            <td class="option">rsync-command</td>
            <td><span class="label">Optional</span></td>
            <td>If rsync-target is used, you can use this argument to specify the remote shell manually. For example: "ssh -p 22222 -l user".</td>
          </tr>
          <tr>
            <td class="option">debug</td>
            <td><span class="label">Optional</span></td>
            <td>Show additional details.</td>
          </tr>
        </tbody>
      </table>

      <p><strong>Example configuration:</strong></p>
      <pre>{'url': 'http://mysite.com', 'email': 'http://bob@example.com', 'password': 'secret', 'uuid': '%SIPUUID%'}</pre>
    </div>
    </div>

    {% if request.method == 'POST' %}
      {% if valid_submission %}
        <div class="alert-message success">
          <p><strong>Saved!</p>
        </div>
      {% else %}
        <div class="alert-message error">
          <p>An error has occurred.</p>
        </div>
      {% endif %}
    {% endif %}

    {% include "_formset.html" with formset=formset %}
    {% include "_form.html" %}

    <div class="actions">
      <button type="submit" class="btn primary">Save</button>
    </div>

  </div>
</form>

{% endblock %}
