{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Review matches" %}{% endblock %}
{% block h1 %}{% trans "Review matches" %}{% endblock %}
{% block page_id %}as_review{% endblock %}

{% block extra_css %}
  <link type="text/css" rel="stylesheet" media="all" href="{% static 'css/as_match.css' %}" />
{% endblock %}

{% block content %}
  <ul class="breadcrumb">
    {% breadcrumb_url 'DIP upload' 'ingest:ingest_upload_as' uuid %}
  </ul>

  <form method="POST" action="{% url 'ingest:complete_matching' uuid %}">
    {% csrf_token %}
    <a class="btn btn-submit" href="{% url 'ingest:ingest_upload_as_reset' uuid %}">{% trans "Restart matching" %}</a>
    <button class="btn btn-primary">{% trans "Finish matching" %}</button>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>{% trans "File" %}</th>
        <th>{% trans "Level" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Identifier" %}</th>
        <th>{% trans "Dates" %}</th>
      </tr>

    {% for match in matches %}
      <tr class="atk-matcher-match-item">
        <td title="{{ match.object_path}}">{{ match.object_path }}</td>
        <td>{{ match.resource.levelOfDescription }}</td>
        <td title="{{ match.title }}">{{ match.resource.title }}</td>
        <td>{{ match.resource.identifier }}</td>
        <td>{{ match.resource.dates }}</td>
      </tr>
    {% endfor %}
    </thead>
  </table>

{% endblock %}
