{% extends "layout_fluid.html" %}
{% load breadcumbs %}
{% load url from future %}
{% load keyvalue %}

{% block content %}
  <div class="row">
    <div class="span12">

      <ul class="breadcrumb">
        {% breadcrumb_url 'Transfer' components.transfer.views.grid %}
        Component metadata
      </ul>

      <form method='POST'>
      <input name='path' type='hidden' value='{{ path }}'/>
      <table>
      {% for field in fields %}
        <tr>
          <td>
            <label>{{ field.fieldlabel }}</label>
          </td>
          <td>
            {% if field.fieldtype == 'text' %}
              <input name='{{ field.fieldname }}' value='{{ values|keyvalue:field.fieldname }}' />
            {% endif %}

            {% if field.fieldtype == 'textarea' %}
              <textarea name='{{ field.fieldname }}'>{{ values|keyvalue:field.fieldname }}</textarea>
            {% endif %}

            {% if field.fieldtype == 'select' %}
              <select name='{{ field.fieldname }}'>
                {% for optiondata in options %}
                  {% if optiondata.field == field.pk %}
                    {% for option in optiondata.options %}
                      <option>{{ option }}</option>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </select>

              {% if field.allownewvalue %}
                <p>
                  <input name='add_to_{{ field.pk }}' type='text' placeholder='Add new value' />
                </p>
                <p>
                  {% url 'components.administration.views.terms' field.optiontaxonomyuuid as terms_admin %}
                  <a href='{{ terms_admin }}' target='_blank'>Manage values</a>
                </p>
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
        <tr>
          <td colspan=2>
            <input type='submit' value='Save' />
          </td>
        </tr>
      </table>
      </form>

    </div>
  </div>
{% endblock %}
