{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col-md-12">

      {% trans "Transfer" as transfer_label %}

      <ul class="breadcrumb">
        {% breadcrumb_url transfer_label 'transfer:transfer_index' %}
        {% breadcrumb name %}
      </ul>

      <h1>
        {{ transfer_label }}<br />
        <small>{{ name }}</small>
      </h1>

      <p>
        {% blocktrans with uuid=uuid %}
          <strong>UUID:</strong> {{ uuid }}
        {% endblocktrans %}
      </p>

      {% if is_waiting %}
        <div class="alert alert-info block-message">
          <p>{% trans "There are microservices awaiting user decisions." %}</p>
          <div class="alert-actions">
            <a class="btn btn-sm" href="{% url 'unit:microservices' unit_type uuid %}">{% trans "View microservices" %}</a>
          </div>
        </div>
      {% endif %}

      <h5>{% trans "Microservices" %}</h5>
      <ul>
        <li><a href="{% url 'unit:microservices' unit_type uuid %}">{% trans "List" %}</a></li>
      </ul>

      <h5>{% trans "Rights" %}</h5>
      <ul>
        <li><a href="{% url 'rights_transfer:index' uuid %}">{% trans "List" %}</a></li>
        <li><a href="{% url 'rights_transfer:add' uuid %}">{% trans "Add" %}</a></li>
      </ul>

      {% if set_uuid %}
        <h5>{% trans "Transfer metadata" %}</h5>
        <ul>
          <li><a href="{% url 'transfer:component' set_uuid %}">{% trans "Edit" %}</a></li>
        </ul>
      {% endif %}

      <h5>{% trans "Metadata" %}</h5>
      <ul>
        <li><a href="{% url 'transfer:transfer_metadata_list' uuid %}">{% trans "List" %}</a></li>
        <li><a href="{% url 'transfer:transfer_metadata_add' uuid %}">{% trans "Add" %}</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
