{% extends "layout_fluid.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Transfer" %}{% endblock %}
{% block h1 %}{% trans "Transfer" %}{% endblock %}
{% block page_id %}transfer{% endblock %}

{% block extra_css %}
<link href="{% static 'vendor/select2/select2.css' %}" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" media="all" href="{% static 'css/backbone-file-explorer.css' %}" />
<link type="text/css" rel="stylesheet" media="all" href="{% static 'css/directory_picker.css' %}" />
<link type="text/css" rel="stylesheet" media="all" href="{% static 'css/transfer_grid.css' %}" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/misc.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jobs.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/online.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/transfer.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/select2/select2.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vendor/base64.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/build/dashboard.js' %}"></script>

  <script type="text/javascript">

    $(document).ready(function()
      {
        {% if polling_interval %}
          window.pollingInterval = {{ polling_interval }};
        {% endif %}

        window.Sips = new SipCollection;
        window.App = new AppView({
          statusUrl: '/transfer/status/',
        });

        // add hint to add transfer form
        $('#id_name').val('Add transfer').click(function() {
          if ($(this).val() == 'Add transfer') {
            $(this).val('');
          }
        });
      });

    window.microservices_help = {
      {% for x, y in microservices_help.items %}
        '{{ x }}': '{{ y }}',
      {% endfor %}
    };

    {# TODO: use json_script #}
    window.job_statuses = {
      {% for x, y in job_statuses.items %}
        '{{ x }}': '{{ y }}',
      {% endfor %}
    };

    // briefly show message if source directories not configured
    setTimeout(function() {
      $('.content > footer').fadeOut();
    }, 4000);
  </script>
{% endblock %}

{% block topbar %}
  <div id="connection-status" class="pull-right"></div>
{% endblock %}

{% block content %}

  <div ng-app="dashboard">
    <ng-include src="'front_page/transfer_browser.html'"></ng-include>
  </div>

  <div id="sip-container">
    <div style='float:right'>
      <span class='grid-pager-previous-area'></span>
      <span class='grid-pager-next-area'></span>
      <span class='grid-pager-summary-area'></span>
    </span>
    </div>
    <div id="sip-header">
      <div id="sip-header-directory">{% trans "Transfer" %}</div>
      <div id="sip-header-uuid">{% trans "UUID" %}</div>
      <div id="sip-header-timestamp">{% trans "Transfer start time" %}</div>
      <div id="sip-header-actions">
          <a class="btn_remove_all_sips" href="#" title="{% trans 'Remove all completed' %}"><span>&nbsp;</span></a>
      </div>
    </div>
    <div id="sip-body">
    </div>
    <div style='float:right'>
      <span class='grid-pager-previous-area'></span>
      <span class='grid-pager-next-area'></span>
      <span class='grid-pager-summary-area'></span>
    </div>
  </div>

  <!-- Templates -->

  <script type="text/template" id="sip-template">
    <div class="sip-row" id="sip-row-<%= uuid %>">
      <div class="sip-detail-icon-status"><%= this.getIcon() %></div>
      <div class="sip-detail-directory">
        <%= directory %>
        <abbr title="<%= uuid %>">{% trans "UUID" %}</span>
      </div>
      <div class="sip-detail-uuid"><%= uuid %></div>
      <div class="sip-detail-timestamp"><%= this.getIngestStartTime() %></div>
      <div class="sip-detail-actions">
        <a class="btn_show_metadata" href="#" title="{% trans 'Metadata' %}"><span>{% trans "Metadata" %}</span></a>
        <a class="btn_remove_sip" href="#" title="{% trans 'Remove' %}"><span>{% trans "Remove" %}</span></a>
      </div>
    </div>
    <div class="sip-detail-job-container"></div>
  </script>

  <script type="text/template" id="microservice-group-template">
    <div class="microservice-group">
      &nbsp;<span class="microservice-group-arrow">&#x25B8;</span>
      <span class="microservice-group-name">{% trans "Microservice" %}: <%= name %></span>
    </div>
  </script>

  <script type="text/template" id="job-template">
    <div class="job-detail-microservice">
      <span class="job-type-label">{% trans "Job" %}</span>
      <span title="<%= uuid %>"><%= type %></span>
      <% tmp = window.microservices_help[type]; %>
      <% if (tmp !== undefined) { %>
        [<a href="#" title="<%= tmp %>">?</a>]
      <% } %>
    </div>
    <div class="job-detail-currentstep" data-currentstep="<%= currentstep %>">
      <span title="<%= new Date(timestamp * 1000).getArchivematicaDateTime() %> / <%= timestamp %>"><%= currentstep_label %></span>
    </div>
    <div class="job-detail-actions">
      <a class="btn_show_tasks" href="#" title="{% trans 'Tasks' %}"><span>{% trans "Tasks" %}</span></a>
    </div>
  </script>

  <script type="text/template" id="status-template">
    <div id="status-bullet">
      <span>{% trans "Initializing..." %}</span>
      <img src="{% static 'images/bullet_delete.png' %}" />
    </div>
  </script>

{% endblock %}
