{% extends "layout_fluid.html" %}

{% block title %}Transfer{% endblock %}
{% block h1 %}Transfer{% endblock %}
{% block page_id %}transfer{% endblock %}

{% block extra_css %}
<link href="{{ STATIC_URL }}vendor/select2/select2.css" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/backbone-file-explorer.css" />
<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/directory_picker.css" />
<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/transfer_grid.css" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/misc.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jobs.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/online.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/transfer.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}vendor/select2/select2.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/base64.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/transfer_browser.js"></script>

  <script type="text/javascript">

    $(document).ready(function()
      {
        {% if polling_interval %}
          window.pollingInterval = {{ polling_interval }};
        {% endif %}

        window.Sips = new SipCollection;
        window.App = new AppView({
          statusUrl: '/transfer/status/',
          uid: {{ uid }}
        });

        // add hint to add transfer form
        $('#id_name').val('Add transfer').click(function() {
          if ($(this).val() == 'Add transfer') {
            $(this).val('');
          }
        });
      });

    window.microservices_help = {
      {% for x, y in microservices_help.iteritems %}
        '{{ x }}': '{{ y }}',
      {% endfor %}
    };

    // briefly show message if source directories not configured
    setTimeout(function() {
      $('.content > footer').fadeOut();
    }, 4000);
  </script>
{% endblock %}

{% block topbar %}
  <div id="connection-status" class="pull-right"></div>
{% endblock %}

{% block content %}

  <div ng-app="transferBrowse">
    <ng-include src="'front_page/content.html'"></ng-include>
  </div>

  <div id="sip-container">
    <div style='float:right'>
      <span class='grid-pager-previous-area'></span>
      <span class='grid-pager-next-area'></span>
      <span class='grid-pager-summary-area'></span>
    </span>
    </div>
    <div id="sip-header">
      <div id="sip-header-directory">Transfer</div>
      <div id="sip-header-uuid">UUID</div>
      <div id="sip-header-timestamp">Transfer start time</div>
      <div id="sip-header-actions">&nbsp;</div>
    </div>
    <div id="sip-body">
    </div>
    <div style='float:right'>
      <span class='grid-pager-previous-area'></span>
      <span class='grid-pager-next-area'></span>
      <span class='grid-pager-summary-area'></span>
    </div>
  </div>

  <!-- Templates -->

  <script type="text/template" id="sip-template">
    <div class="sip-row" id="sip-row-<%= uuid %>">
      <div class="sip-detail-icon-status"><%= this.model.jobs.getIcon() %></div>
      <div class="sip-detail-directory">
        <%= directory %>
        <abbr title="<%= uuid %>">UUID</span>
      </div>
      <div class="sip-detail-uuid"><%= uuid %></div>
      <div class="sip-detail-timestamp"><%= this.getIngestStartTime() %></div>
      <div class="sip-detail-actions">
        <a class="btn_show_metadata" href="#" title="Metadata"><span>Micro-Services</span></a>
        <a class="btn_remove_sip" href="#" title="Remove"><span>Remove</span></a>
      </div>
    </div>
    <div class="sip-detail-job-container"></div>
  </script>

  <script type="text/template" id="microservice-group-template">
    <div class="microservice-group">
      &nbsp;<span class="microservice-group-arrow">&#x25B8;</span>
      <span class="microservice-group-name">Micro-service: <%= name %></span>
    </div>
  </script>

  <script type="text/template" id="job-template">
    <div class="job-detail-microservice">
      <span class="job-type-label">Job:&nbsp;</span><span title="<%= uuid %>"><%= type %></span>
      <% tmp = window.microservices_help[type]; %>
      <% if (tmp !== undefined) { %>
        [<a href="#" title="<%= tmp %>">?</a>]
      <% } %>
    </div>
    <div class="job-detail-currentstep"><span title="<%= new Date(timestamp * 1000).getArchivematicaDateTime() %>  /  <%= timestamp %>"><%= currentstep %></span></div>
    <div class="job-detail-actions">
      <a class="btn_show_tasks" href="#" title="Tasks"><span>Tasks</span></a>
    </div>
  </script>

  <script type="text/template" id="status-template">
    <div id="status-bullet">
      <span>Initializing...</span>
      <img src="{{ STATIC_URL }}images/bullet_delete.png" />
    </div>
  </script>

{% endblock %}
