{% extends "layout_fluid.html" %}
{% load breadcrumb %}
{% load i18n %}
{% load job_status %}

{% block content %}
  <div class="row">
    <div class="col-md-12">

      {% trans "Transfer" as transfer_label %}
      {% trans "Microservices" as microservices_label %}

      <ul class="breadcrumb">
        {% breadcrumb_url transfer_label 'components.transfer.views.grid' %}
        {% breadcrumb_url name 'components.unit.views.detail' 'transfer' uuid %}
        {% breadcrumb microservices_label %}
      </ul>

      <h1>
        {{ microservices_label }}<br />
        <small>{{ name }}</small>
      </h1>

      {% regroup jobs by microservicegroup as groups %}

      {% for item in groups %}
        <div>
          {{ item.grouper }}<br />
          <ul>
            {% for i in item.list %}
              <li><strong>{{ i.jobtype }}:</strong> {{ i.currentstep|job_status }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}
