{% extends "layout_fluid.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Format Policy Registry" %}{% endblock title %}

{%comment%}Format {{format.description}}{%endcomment%}

{% block extra_css %}
  {{ block.super }}
  <style type="text/css">
    .sidebar .fpr-sidebar-heading {
      margin-top: 20px;
      color: #555;
      font-weight: bold;
    }

    .sidebar .fpr-sidebar-item {
      border: 1px solid transparent;
      border-radius: 4px;
      margin: 1px 0;
      transition: background-color 120ms ease-in-out;
    }

    .sidebar .fpr-sidebar-item.fpr-sidebar-indented {
      padding-left: 16px;
    }

    .sidebar .fpr-sidebar-item > a {
      display: block;
      width: 100%;
      color: #337ab7;
      transition: none;
    }

    .sidebar .fpr-sidebar-item > a:hover,
    .sidebar .fpr-sidebar-item > a:focus {
      color: #337ab7;
    }

    .sidebar .fpr-sidebar-item:hover {
      background-color: #f2f6fb;
    }

    .sidebar .fpr-sidebar-item:hover > a {
      text-decoration: underline;
    }
  </style>
{% endblock extra_css %}

{% block content %}

  <ul class="breadcrumb">
    {% block breadcrumbs %}{% endblock breadcrumbs %}
  </ul>

  <h2>{% block page_title %}{% endblock page_title %}</h2>

  {% block app_content %}{% endblock app_content %}

{% endblock content %}

{% block extra_js %}
  {{ block.super }}
  <script type="module" src="{% static 'vue/fpr-tables.js' %}"></script>
{% endblock extra_js %}
