Source: archivematica-transcoder
Section: utils
Priority: extra
Maintainer: Austin Trask <austin@artefactual.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://archivematica.org

Package: archivematica-transcoder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ffmpeg, libavcodec-extra-53, inkscape, openjdk-6-jre, openjdk-7-jre, openoffice.org, openoffice.org-java-common, sanitize-names, uuid, clamav, imagemagick, readpst, ufraw, archivematica-common, libreoffice-common, libreoffice, archivematica-fpr-client
Description: Transcoder for Archivematica
  Transcoder for Archivematica
  
