{% load i18n %}

<div class="results-pager">
  <p class="results-pager__summary">
    {% blocktrans with start_index=page.start_index end_index=page.end_index count=page.paginator.count %}
      Found {{ count }} entries. Showing {{ start_index }} to {{ end_index }}.
    {% endblocktrans %}
  </p>

  {% if page.paginator.num_pages > 1 %}
    <div class="results-pager__actions">
      {% if page.has_previous %}
        <span class="results-pager__item">
          {% if not page.previous_page_number == 1 %}
            <a href='?{{ search_params }}&page=1'>{% trans "First" %}</a>
          {% endif %}

          <a href='?{{ search_params }}&page={{ page.previous_page_number }}'>{% trans "Previous" %}</a>
        </span>

        {% if page.previous_pages %}
          {% for page_number in page.previous_pages %}
            <a href='?{{ search_params }}&page={{ page_number }}'>{{ page_number }}</a>
          {% endfor %}
        {% endif %}
      {% endif %}

      <strong>{{ page.number }}</strong>

      {% if page.has_next %}
        {% if page.next_pages %}
          {% for page_number in page.next_pages %}
            <a href='?{{ search_params }}&page={{ page_number }}'>{{ page_number }}</a>
          {% endfor %}
        {% endif %}

        <span class="results-pager__item">
          <a href='?{{ search_params }}&page={{ page.next_page_number }}'>{% trans "Next" %}</a>

          {% if not page.next_page_number == page.paginator.num_pages %}
            <a href='?{{ search_params }}&page={{ page.paginator.num_pages }}' title='Page {{ page.paginator.num_pages }}'>{% trans "Last" %}</a>
          {% endif %}
        </span>
      {% endif %}

      <label class="results-pager__item paging-jump-label">
        <span>{% trans "Jump to" %}</span>
        <input class="paging-jump js-paging-jump" data-search-params="{{ search_params }}" />
      </label>
    </div>
  {% endif %}
</div>
