{% extends "layout_fluid.html" %}
{% load i18n %}

{% block title %}{% trans "Access" %}{% endblock %}
{% block h1 %}{% trans "Access" %}{% endblock %}
{% block page_id %}access{% endblock %}

{% block content %}

  <table class="table">
    <thead>
      <th>{% trans "AIP" %}</th>
      <th>{% trans "DIP URL" %}</th>
      <th>{% trans "Upload date" %}</th>
      <th>{% trans "Upload status" %}</th>
      <th>{% trans "Actions" %}</th>
    </thead>
    <tbody>
      {% for item in access %}
        <tr>
          <td><a href="{% url 'unit:detail' 'ingest' item.sipuuid %}">{{ item.get_title }}</a></td>
          <td><a href="{{ item.destination }}">{{ item.destination }}</a></td>
          <td>{{ item.createdtime }}</td>
          <td>{{ item.status }}</td>
          <td><a href="{% url 'main:access_delete' item.pk %}">{% trans "Delete" %}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
