
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Terminal
Comment=
Categories=Application;
Exec=/usr/bin/xfce4-terminal
Icon=bash
Terminal=false
StartupNotify=false
