
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=vlc
Comment=
Categories=Application;
Exec=/usr/bin/vlc
Icon=vlc
Terminal=false
StartupNotify=false
