{% extends "layout_fluid.html" %}

{% block title %}Backlog search{% endblock %}
{% block h1 %}Backlog search{% endblock %}
{% block page_id %}Backlog search{% endblock %}

{% block extra_css %}
<link href="{{ STATIC_URL }}vendor/select2/select2.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/search.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}vendor/datatables/css/jquery.dataTables.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/backlog.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/advanced-search-query-creator.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/ingest/backlog.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}vendor/datatables/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/base64.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/backlog/backlog-search.js"></script>
{% endblock %}

{% block content %}
  {% include "ingest/backlog/_search_form.html" %}
  <table id="backlog-entries">
  </table>
{% endblock %}
